DIV.page_content {
	MARGIN: 0px; FONT: 14px/22px Verdana, Arial, Helvetica, sans-serif; COLOR: #333
}
DIV.page_content P {
	FONT: 14px/22px Verdana, Arial, Helvetica, sans-serif; COLOR: #333
}
DIV.page_content A {
	FONT: 14px/22px Verdana, Arial, Helvetica, sans-serif; COLOR: #333
}
DIV.page_content TD {
	FONT: 14px/22px Verdana, Arial, Helvetica, sans-serif; COLOR: #333
}
DIV.page_content SPAN {
	FONT: 14px/22px Verdana, Arial, Helvetica, sans-serif; COLOR: #333
}
DIV.page_content LI {
	FONT: 14px/22px Verdana, Arial, Helvetica, sans-serif; COLOR: #333
}
