{include file="inc/top.html"}
<script language="javascript" type="text/javascript" src="js/wsbm.js"></script>
        <div id="content">
        	<div class="main">
                <div id="left">
                    <div id="categories">
                        <div class="left_tt">栏目类型</div>
                        <div class="cate">
                            <ul>
                                {section name=list loop=$lmlist}
                                <li {if $taskid==$lmlist[list].id} class="current_li" {/if}><a href="{$lmlist[list].url}">{$lmlist[list].name}</a></li>
                             {/section}
                            </ul>
                        </div>
                    </div>
                    <div id="onlineRegister">
                        {include file="inc/online_register.html"}
                    </div>
                    <div id="map">
                         <img src="{$map.comm_code}" width="188px" height="116px"/>
                    </div>
                    <div id="contact1">
                        {include file="inc/contact.html"}
                    </div>
                </div>
                <div id="right">
                   <div id="path">
                       <h2>{$infocn.type_name}</h2>
                       <div class="path">
                           <a href="index.php">首页&nbsp;&gt;&nbsp;</a>
                           <a href="jj.php">关于我们&nbsp;&gt;&nbsp;</a>
							{$infocn.type_name}
                       </div>
                   </div>
                   <div id="detail">
                   <table height="100%" width="100%">
                   <tr style="height:15%;width=100%"><td style="width=100%" align="center"><font size="5"><strong>{$info.title}</strong></font></td></tr>
                   <tr style="height:15%;width=100%"><td style="width=100%"  align="center"><img style="height:300px;width:450px;" src="{$info.path}" style="height:15%;width=100%"></td></tr>
                   <tr style="height:50%;width=100%"><td style="width=100%">{$info.content}</td></tr>
                   </table>
                   </div>
                </div>
            </div>
    	</div>
{include file="inc/buttom.html"}
