{include file="inc/top.html"}
        <div id="content">
        	<div class="main">
                <div id="left">
                    <div id="classCate">
                        <div class="left_tt"><span>课程种类</span><a class="more" href="pxzx.php">more</a></div>
                        <div class="classCate">
                            <ul>
                            {section name=list loop=$lmlist}
                                <li {if $taskid==$lmlist[list].id} class="current_li" {/if}><a href="{$lmlist[list].url}">{$lmlist[list].name}</a></li>
                             {/section}
                            </ul>
                        </div>
                    </div>
                    <div id="onlineRegister">
                       {include file="inc/online_register.html"}
                    </div>
                    <div id="map">
                        <img src="{$map.comm_code}" width="188px" height="116px"/>
                    </div>
                    <div id="contact">
                      {include file="inc/contact.html"}
                    </div>
                </div>
                <div id="right">
                    <div id="path">
                       <h2>{$infocn_type.type_name}</h2>
                       <div class="path">
                           <a href="index.html">首页&nbsp;&gt;&nbsp;</a>
                           <a href="{$infocn_type.url}">{$infocn_type.type_name}</a>
                       </div>
                   </div>
                   <div id="detail">{$infocn.comm_value}</div>
                </div>
            </div>
    	</div>
   	{include file="inc/buttom.html"}
