{include file="inc/top.html"}
<script language="javascript" type="text/javascript" src="js/wsbm.js"></script>
        <div id="content">
        	<div class="main">
                <div id="left">
                    <div id="categories">
                        <div class="left_tt">栏目类型</div>
                        <div class="cate">
                            <ul>
                                {section name=list loop=$lmlist}
                                <li {if $taskid==$lmlist[list].id} class="current_li" {/if}><a href="{$lmlist[list].url}">{$lmlist[list].name}</a></li>
                             {/section}
                            </ul>
                        </div>
                    </div>
                    <div id="onlineRegister">
                        {include file="inc/online_register.html"}
                    </div>
                    <div id="map">
                         <img src="{$map.comm_code}" width="188px" height="116px"/>
                    </div>
                    <div id="contact1">
                        {include file="inc/contact.html"}
                    </div>
                </div>
                <div id="right">
                   <div id="path">
                       <h2>{$infocn.type_name}</h2>
                       <div class="path">
                           <a href="index.php">首页&nbsp;&gt;&nbsp;</a>
                           <a href="wsbm.php">网上报名&nbsp;&gt;&nbsp;</a>
                           {$infocn.type_name}
                       </div>
                   </div>
                   {if $infocn.id==10}
                   <form method="post" name="registerForm" action="post/bmpost.php">
                   	   <div class="register_form">
                       	   <ol>
                               <li><i class="fixed_red">*</i>&nbsp;<span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span></li>
                               <li><i class="fixed_red">*</i>&nbsp;<span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span></li>
                               <li><span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</span></li>
                               <li><span>工作单位：</span></li>
                               <li><i class="fixed_red">*</i>&nbsp;<span>手机号码：</span></li>
                               <li><span>联系电话：</span></li>
                               <li><span>Q&nbsp;Q号码：</span></li>
                               <li><span>E&nbsp;-&nbsp;mail：</span></li>
                               <li><i class="fixed_red">*</i>&nbsp;<span>报名课程：</span></li>
                               <!-- <li class="leave_message"><span>留&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;言：</span></li> -->
                       	   </ol>
                           <ul>
                           	   <li><input id="username" class="input-text" name="username" type="text"  maxlength="40" onblur="checkusername()" /></li>
                               <li class="sex">
                               	   <table cellpadding="0" cellspacing="0" border="0"><tr><td>
                               	   <td><input id="male" class="input-radio" type="radio" checked="checked" name="sex" value="男"  /></td><td><label for="sex">男</label></td>
                               	   <td><input id="female" class="input-radio" type="radio" name="sex" value="女" /></td><td><label for="sex">女</label></td>
                               	   </tr></table>
                               </li>
                               <li>
                               	   <select id="certi" name="certi">
                               	   	   <option value="高中（中专）">高中（中专）</option>
                                   	   <option value="大专">大专</option>
                                       <option value="本科">本科</option>
                                       <option value="硕士">硕士</option>
                                       <option value="博士">博士</option>
                                   </select>
                               </li>
                               <li>
                               	   <input id="address" class="input-text" name="address" type="text"  maxlength="150"  />
                               </li>
                               <li>
                               	   <input id="telephone" class="input-text" name="telephone" type="text"  maxlength="40" onblur="checkphone()"  />
                               </li>
                               <li>
                               	   <input id="phone" class="input-text" name="phone" type="text"  maxlength="40"  />
                               </li>
                               <li>
                               	   <input id="qqcode" class="input-text" name="qqcode" type="text"  maxlength="40"   />
                               </li>
                               <li>
                               	   <input id="email" class="input-text" name="email" type="text"  maxlength="40"  />
                               </li>
                               <li>
                               	    <select id="course" name="course">
                               	       <option value="">--请选择--</option>
                               	       {section name=list loop=$courselist}
                                   	   <option value={$courselist[list].id}>{$courselist[list].course_name}</option>
                                   	   {/section}
                                   </select>
                               </li>
                               <!--
                               <li class="leave_message">
                               	   <textarea id="leaveMessage" class="textarea-text" name="leaveMessage"  maxlength="40" cols="60" rows="7"></textarea>
                               </li>
                                -->
                           </ul>
                       </div>
                       <div class="registerBtn">
                       	    <input id="submit" name="submit" type="submit" value=""  onclick="return checksumbit();"/>
                            <input id="reset" name="reset" type="submit" value="" onclick="return formrest();" />
                            <input type="hidden" id="task" name="task" value="9255bb9c24f6813e3473efc49c7974f9">
                       </div>
                   </form>
                   {else}
                    <div id="detail">
                   	   fsafsadfasfd
                   </div>
                   {/if}
                </div>
            </div>
    	</div>
{include file="inc/buttom.html"}
