body { font-family:"ו", Arial, Helvetica, sans-serif; font-size:12px; margin:0px; padding:0px; text-align:center; background:#fff; }
dl,dt,dd,ul,li,p,h1,img,form { margin:0px; padding:0px; list-style:none; border:none;  }
a { text-decoration:none; }
a.hui { color:#555; }
a.hui:hover { color:#43781d; text-decoration:underline; }
a.green { color:#43781d; }
a.green:hover { text-decoration:underline; }
span.red { color:#f2414e; }
.cle { font-size:0px; height:0px; line-height:0px; clear:both;  }
#wrap { width:980px; margin:0px auto; }
#header { height:70px; overflow:hidden; }
#header #logo { width:344px; height:70px; float:left; }
#header #tgfl_banner { width:489px; height:59px; float:right; margin-top:5px; }
#page_content { background:#E7E9EB; text-align:left; padding-bottom:15px;}
#page_content #cont_l { float:left; width:698px; margin:15px 0px 0px 15px; display:inline; }
#banner #links { background:url(images/index_05.gif); text-align:right; padding-top:28px;padding-right:30px; height:37px; }
#banner #links a { font-size:14px; color:#fff; font-weight:bold; }
#banner #links a:hover { text-decoration:underline; }
#banner #buzhou { background: url(images/index_06.gif); height:48px; line-height:45px; text-align:right; padding-right:40px; }
#banner #buzhou a { color:#265801; }
#banner #buzhou a:hover { text-decoration:underline; }

#do_more { background:#fff; margin:15px 0px 0px 0px; padding-bottom:25px; }
#do_more h1 { background:url(images/do_more.png) 15px center no-repeat; height:45px; }
#do_more dl { width:310px; float:left; display:inline; margin:0px 0px 0px 30px; }
#do_more #youhui dt { background: url(images/youhuiquan.png) no-repeat; height:46px; line-height:46px; padding-left:55px; font-size:14px; color:#43781d; font-weight:bold; }
#do_more dd table { line-height:25px; }
#do_more #bijia dt { background:url(images/bijia.png) no-repeat; height:46px; line-height:46px; padding-left:45px; font-size:14px; color:#43781d; font-weight:bold;  }
#do_more #bijia dd li { line-height:25px; color:#555; }
#page_content #cont_r { float:right; width:245px; margin:15px 12px 0px 0px; display:inline; }
#intro { width:245px; height:147px; text-align:center; }
#register { color:#626262; line-height:32px; padding:0px 0px 0px 10px; }
#register h1 { font-size:14px; font-weight:bold; height:30px; line-height:30px;  color:#626262; }
#register li.text { height:32px; line-height:32px; }

#register select { vertical-align:middle; width:96px; }
#register input.edit { width:142px; border:1px solid #B8B8B8; height:18px; line-height:18px; vertical-align:middle;  }
#register input.edit2 { width:66px; border:1px solid #B8B8B8; height:18px; line-height:18px; vertical-align:middle;  }
#register input.btn { background: url(images/btn.png); width:203px; height:54px; border:none; cursor:pointer; margin:8px 0px 8px 10px;; }
#meiti { padding:5px 0px 0px 0px; }
#meiti h1 { font-size:14px; padding-left:10px; font-weight:bold; height:35px; line-height:35px;  color:#626262; }
#meiti li.more { line-height:30px; text-align:right; }
#meiti li.pic { padding-left:10px; }
#meiti li.pic img { margin:3px 0px 0px 3px; display:inline; }
#meiti li.pic a { display: inline; }
#go_fanli { padding:12px 0px 0px 20px; }
#footer .copy { line-height:45px; padding-top:15px; }
#footer .img { padding:0px 0px 10px 0px; }
#footer .img a { display: inline; }
input.landing_submit1{background:url(images/fanliwsy0810_11.jpg) no-repeat;border:none;width:106px;height:32px;cursor:pointer;}
