/* ============产品图片列表============== */
div .productlist_cyrano_lef{
	border:0px #ebebeb solid;
	padding:5px 10px 5px 10px;
}

div#demo{
	overflow:hidden;
	width:725px;
	color:#ff0000;
}

div.productlist_cyrano_lef div.fang{
border:0px #ccc solid;
background: #fff;
padding:3px;
margin:0px 2px 0px 2px;
text-align:center;
}

div.productlist_cyrano_lef div.picFit{
overflow: hidden;
}


div.productlist_cyrano_lef div.title{
text-align:center;
overflow: hidden;
white-space:nowrap;
}

div.productlist_cyrano_lef a:link,div.productlist_cyrano_lef a:visited,div.productlist_cyrano_lef a:active{
color:#555;
font:12px/25px arial,simsun;
text-decoration: none;
}

div.productlist_cyrano_lef a:hover{
color:#ff0000;
text-decoration: underline;
font:12px/25px arial,simsun;
}
