<script language="javascript" type="text/javascript" src="js/navshow.js"></script>
    	<script language="javascript" type="text/javascript" src="js/Scroll.js"></script>
        <script language="javascript" type="text/javascript" src="js/Scroll1.js"></script>
    	<div id="footer" style="padding-top:5px;" align="center">
			{$Buttom.comm_value}

    	</div>
    </div>
 {include file="inc/qq_index.html"}
<script language="javascript" type="text/javascript" src="js/navshow.js"></script>
<script language="javascript" type="text/javascript" src="js/Scroll.js"></script>
<script language="javascript" type="text/javascript" src="js/Scroll1.js"></script>
</body>
</html>
