<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>{$SEO_Title.comm_code}</title>
	<meta name="KEYWORDS" content="{$SEO_Keyword.comm_code}" />
	<meta name="Description" content="{$SEO_Desc.comm_code}" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
    <div id="wrapper">
		<div id="header">
	    	<a class="logo" href="index.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<img src="images/logo.gif" /></a>

            <ul class="hlink">
            <img class="ad" src="images/ad.gif" />
            	<li class="favorite"><a href="javascript:window.external.addFavorite(document.location.href,document.title)">加入收藏</a></li>
                <li class="home"><a href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage(document.location.href);event.returnValue=false;">设为首页</a></li>
            </ul>
            <!--
            <div id="menu">
            	<ul>
                	<li class="index">
                	{section name=list loop=$indexlist}
                	<a href="{$indexlist[list].url}">{$indexlist[list].menu_name}</a>
                	{/section}
                	</li>
                    <li class="about">
                    {section name=list loop=$aboutlist}
                    	<a href="{$aboutlist[list].url}">{$aboutlist[list].menu_name}</a>
                    {/section}
                        <div class="nav_one">
                    		<ul>
                    		{section name=list loop=$aboutlists}
                        		<li><a href="{$aboutlists[list].url}">{$aboutlists[list].menu_name}</a></li>
                            {/section}
                        	</ul>
                        </div>
                    </li>
                    <li class="train">
                    {section name=list loop=$trainslist}
                    	<a href="{$trainslist[list].url}">{$trainslist[list].menu_name}</a>
                    {/section}
                        <div class="nav_one">
                        	<ul>
                        		{section name=list loop=$trainsslist}
                        		<li><a href="{$trainsslist[list].url}">{$trainsslist[list].menu_name}</a></li>
                        		{/section}
                        	</ul>
                        </div>
                    </li>
                    <li class="register">
                    	{section name=list loop=$register}
                    	<a href="{$register[list].url}">{$register[list].menu_name}</a>
                    	{/section}
                        <div class="nav_one">
                    		<ul>
                    		{section name=list loop=$registers}
                        		<li><a href="{$registers[list].url}">{$registers[list].menu_name}</a></li>
                            {/section}
                        	</ul>
                        </div>
                    </li>
                    <li class="contact">
                    {section name=list loop=$contact}
                    <a href="{$contact[list].url}">{$contact[list].menu_name}</a>
                    {/section}
                    </li>
                </ul>
            </div>-->

            <div id="menu">
            	<ul>
                	<li class="index"><a href="{$indexinfo.url}">{$indexinfo.menu_name}</a></li>
                    <li class="about">
                    	<a href="{$aboutinfo.url}">{$aboutinfo.menu_name}</a>
                        <div class="nav_one">
                    		<ul>
                    			{section name=list loop=$aboutlists}
                        		<li><a href="{$aboutlists[list].url}">{$aboutlists[list].menu_name}</a></li>
                        		{/section}
                        	</ul>
                        </div>
                    </li>
                    <li class="train">
                    	<a href="{$trainsinfo.url}">{$trainsinfo.menu_name}</a>
                        <div class="nav_one">
                        	<ul>
                        		{section name=list loop=$trainsslist}
                        		<li><a href="{$trainsslist[list].url}">{$trainsslist[list].menu_name}</a></li>
                        		{/section}
                        	</ul>
                        </div>
                    </li>
                    <li class="register">
                    	<a href="{$registerInfo.url}">{$registerInfo.menu_name}</a>
                        <div class="nav_one">
                    		<ul>
                    			{section name=list loop=$registers}
                        		<li><a href="{$registers[list].url}">{$registers[list].menu_name}</a></li>
                        		{/section}
                        	</ul>
                        </div>
                    </li>
                    <li class="contact"><a href="{$contactinfo.url}">{$contactinfo.menu_name}</a></li>
                </ul>
            </div>
		</div>