<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>博雅教育网 - 提升个人职业能力，人生因教育而博雅！</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <script language="javascript" type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
</head>
<body>
    <div id="wrapper">
		<div id="header">
	    	<a class="logo" href="#"><img src="images/logo.gif" /></a>
            <img class="ad" src="images/ad.gif" />
            <ul class="hlink">
            	<li class="favorite"><a href="javascript:window.external.addFavorite(document.location.href,document.title)">加入收藏</a></li>
                <li class="home"><a href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage(document.location.href);event.returnValue=false;">设为首页</a></li>
            </ul>
            <div id="menu">
            	<ul>
                	<li class="index"><a href="index.html">首页</a></li>
                    <li class="about">
                    	<a href="#">关于我们</a>
                        <div class="nav_one">
                    		<ul>
                        		<li><a href="#">简介</a></li>
                            	<li><a href="#">图片展示</a></li>
                        	</ul>
                        </div>
                    </li>
                    <li class="train">
                    	<a href="pxzx.html">培训中心</a>
                        <div class="nav_one">
                        	<ul>
                        		<li><a href="pxzx.html">能力提升</a></li>
                            	<li><a href="#">职业认证</a></li>
                            	<li><a href="#">国学讲堂</a></li>
                            	<li><a href="#">学历教育</a></li>
                            	<li><a href="#">免费培训</a></li>
                        	</ul>
                        </div>
                    </li>
                    <li class="register">
                    	<a href="wsbm.html">网上报名</a>
                        <div class="nav_one">
                    		<ul>
                        		<li><a href="#">在线报名</a></li>
                            	<li><a href="wsbm.html">网络报名</a></li>
                        	</ul>
                        </div>
                    </li>
                    <li class="contact"><a href="#">联系我们</a></li>
                </ul>
            </div>
		</div>