@charset "gb2312";
/*链接属性*/
body {font-family: "宋体" Arial, Helvetica, sans-serif; font-size:12px; background:#fff;margin-left: 0px;margin-top: 0px;margin-right: 0px;
		margin-bottom: 0px;}
a:link {text-decoration: none; color:#000;}
a:visited{text-decoration: none;color:#000;}	
a:hover{text-decoration: none;color:#ff0000;}
a:active{text-decoration: none;color:#000;} 
img {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px}
li {list-style-type:none;}
ul{margin:0;padding: 0px;}
.clear{font-size: 0px;clear: both;height: 0px;}
.float-left { float:left;}
.float-right { float:right;}
/*DIV属性*/
.w1003 { width:1003px; margin:0 auto;}
.w935 { width:935px; margin:0 auto;}
.w995 { width:972px; margin:0 auto;}
.w950 { width:950px; margin:0 auto;}
/*top属性*/
.top_xian{ width:996px;height:5px;background:#af0606;margin:0 auto;}
.top_c{width:996px;height:100px;margin:0 auto;background:#f6f6f8;clear:both;}
.logo{width:192px;
	padding-left:25px;
	float:left;
	padding-top:22px;
	height:78px;}		
.top_t{width:285px;
		padding-left:27px;
		float:left;
		padding-top:32px;
		height:68px;}
.top_left{width:460px;
			float:left;}
.left_t{width:460px;
		height:50px;
		line-height:50px;
		_height:38px;
		_line-height:38px;
		_padding-top:12px;}
.button{width:120px;
		height:20px;
		clear:both;
		line-height:20px;}
.left_t p{float:left;}
.left_t a{float:left;margin-left:8px;margin-top:12px;_margin-top:0;}
.left_b{width:460px;height:50px;line-height:50px;}
.left_b span{float:left;margin:0 14px 0 14px;_margin:0 12px 0 12px;}
.left_b a{float:left;}
.left_b a:hover{color:#F00;}
.adv_top{width:996px;height:46px;margin:0 auto;line-height:46px;background:url(../images/advbj.png) no-repeat center;}
.adv_top a{float:left;
		display:block;
		width:103px;
		height:26px;
		line-height:26px;
		margin-top:10px;
		text-align:center;
		font-family:"微软雅黑";
		font-weight:bold;
		}
.adv_top a:hover{
	color:#000;
}
.adv_top span{float:left;
			display:block;
			width:6px;
			height:47px;
			margin-left:1px;
			height:34px;
			margin-top:6px;
			text-align:center;}
.nav-bai { color:#ffffff;}
.nav-bai ul { float:right;}
.nav-bai a { color:#ffffff; line-height:30px; height:27px;}
.nav-bai a:hover { color:#ff0000; text-decoration:underline;}
.nav-bai li { float:left; padding-right:5px;}
.ts { color:#FFFFFF; font-size:16px; font-weight:700; margin-top:25px; margin-left:25px;}
.nav-bg { background:url(../images/nav-bbg.jpg) repeat-x; height:38px;}
.nav-14bai { color:#ffffff; font-weight:700; font-size:14px;}
.nav-14bai ul { text-align:center}
.nav-14bai a { line-height:40px; color:#ffffff;}
.nav-14bai a:hover {background:url(../images/nav-bg.jpg) no-repeat; width:100px;  display:block; line-height:40px; color:#A01C1C;}
.nav-14bai li { float:left; width:100px; text-align:center;}
.ym-bg { background:url(../images/ym-bg.jpg) no-repeat; width:463px; height:208px; margin-right:6px;}
.tj-bg { background:url(../images/rtp.jpg) no-repeat; width:228px; height:80px; color:#C30900;}
.tj-bg p { padding:40px 8px 0px 8px; line-height:170%;}
.tj-bg a {color:#C30900;}
.tj-bg a:hover {color:#C30900; text-decoration:underline;}
.ym-adt { color:#ffffff; float:right; margin-top:10px; margin-right:5px;}
.ym-sear { padding-top:45px;}
.t12hei { color:#333333; line-height:28px;}
.t12hei ul li { color:#333333; line-height:24px;height:24px;}   /*2011年10月28日下午4点加*/
.t12hei a { color:#333333;}
.t12-hei { color:#333333; line-height:28px; font-weight:700;}
.t12bai { color:#ffffff; line-height:28px;}
.t12lan {color:#333333; line-height:28px;;}
.t12-he {color:#B10B0B; font-weight:700;}
.t12qq {color:#B10B0B; line-height:28px; }
.t-14ju { font-size:14px; font-weight:700; color:#B10B0B; line-height:28px;}
.t14-lan {color:#03246E; font-size:14px; line-height:28px; font-weight:700;}
.t12hong { color:#ff6600; line-height:28px;}
.t12tlan {color:#03246E; line-height:28px;}
.t14-hong { color:#B10B0B; font-size:14px; font-weight:700; line-height:30px;}
.t14 { color:#ff0000; font-size:14px; font-weight:700;} 
.rem-bor { border:1px solid #780001; background:#ffffff; font-size:14px;}
.t12he { color:#ff0000; line-height:28px;}
.huaxian { color:#999999; text-decoration:line-through;}
.znjz-bg { background:url(../images/znjz-bg.jpg) no-repeat;height:38px; margin-top:7px;color:#C30900; line-height:38px; text-indent:180px;}
.znjz {float:left; background:url(../images/znjz-center.jpg) repeat-x; width:693px; height:227px;}
.znjz-an {}
.znjz-an li { width:100px; background: url(../images/znjz-t-bg.jpg) no-repeat; width:93px; height:18px; line-height:18px; float:left; text-align:center; margin-left:3px; margin-top:5px;}
.znjz-an a { color:#B10B0B;} 
.znjz-an a:hover { color:#B10B0B; font-weight:700; } 
.sjk-bg { background:url(../images/sjk-bg.jpg) no-repeat; width:345px; height:41px; font-size:14px; font-weight:700; color:#A20202; line-height:41px;}
.sjk-bg a {font-size:14px; font-weight:700; color:#A20202; text-decoration:underline;}
.sjk-border { border-bottom:1px solid #E43838; border-left:1px solid #E43838; border-right:1px solid #E43838; width:333px; padding:5px;}

.rem-bg { background:url(../images/remb-bg.jpg) no-repeat; width:227px; height:158px;}
.news-bg { background:url(../images/news-t.jpg) no-repeat; width:227px; height:41px; margin-top:7px;}
.more {color:#B10B0B; line-height:41px; text-indent:175px;}
.more a {color:#B10B0B;}
.more a:hover {color:#B10B0B; text-decoration: underline;}
.kj-bg { background:url(../images/kjdh-bg.jpg) no-repeat; width:227px; height:41px; margin-top:7px;}
.zx-bg { background:url(../images/zxzx.jpg) no-repeat; width:227px; height:36px; margin-top:7px;}
.khfw-bg { background:url(../images/khfw.jpg) no-repeat; width:227px; height:41px; margin-top:7px;}
.news-bor { border-bottom:1px solid #E43838; border-left:1px solid #E43838; border-right:1px solid #E43838; width:225px;}
.news-bor ul { margin-left:10px; margin-top:10px;}
.news-bor li { margin-right:10px;} 
.bottom-bg { background:url(../images/bottom-bg.jpg) repeat-x; height:127px;}
.bottom-bg li { float:left;}
.bottom-bg img { margin-top:10px;}
.yj-bg { background:url(../images/yj-top.jpg) no-repeat; width:228px; height:35px;}
.yj-bor { border-left:1px solid #E03933;  border-right:1px solid #E03933; border-bottom:1px solid #E03933; padding:5px; width:216px;}
.bq-sy { border-left:1px solid #E03933;  border-right:1px solid #E03933; border-bottom:1px solid #E03933; padding:5px; width:216px; color:#333333;}
.bq-sy a { color:#333333; }
.bq-sy a:hover {color:#B10B0B; font-weight:700;}
.bq-sy li {width:216px; height:40px; border-bottom: 1px solid #E5E9EC; line-height:40px;text-indent:20px; }
.zy-h3 {color:#B10B0B; font-size:14px; font-weight:700; line-height:30px; margin:0; padding:0;}
.buy-zy { padding-top:20px; padding-right:20px;}
.buy-zy li { margin-top:10px;}



.yuming-bg { background:url(../images/ym-ys.jpg) no-repeat; width:200px; height:336px; color:#800000; line-height:28px;}
.yuming-bg ul { padding-top:65px; padding-left:20px;}
.ym-nav { background:url(../images/nva-bg.jpg) no-repeat; height:39px; width:200px; margin-top:5px;color:#B10B0B; font-weight:700; line-height:39px; text-indent:15px;}
.ymnav-bor { border-left:1px solid #DF3B46; border-right:1px solid #DF3B46; border-bottom:1px solid #DF3B46; width:188px; padding:5px;}
.ymcx-bg {
	background: #ffffff url(../images/ymng-bg.jpg) no-repeat;
	width:495px;
	border:1px solid #C1C1C1 ;
	height:auto;
}
.xjnav-bg { background:url(../images/xj-nav.jpg) no-repeat; width:200px; height:43px; color:#ffffff; font-size:14px; font-weight:700; line-height:38px; text-indent:10px; }
.xj-line { background:url(../images/xj-nav-line.jpg) repeat-y; width:200px; padding-bottom:5px;}
.t14xj { font-size:14px;color:#B10B0B; line-height:28px;}
.t14xj a {color:#B10B0B;}
.t14xj a:hover {color:#ff0000; text-decoration:underline; font-weight:700;}
.t14xj ul { margin-top:10px;}
.t14xj img { margin-right:5px;}
.t14-hei { color:#000000; font-weight:700; font-size:14px; }
.xj-bg-line {
	float:left;
	border:1px solid #810000;
	height:auto;
	background-color: #ffffff;
	background:url(../images/fv_right.png) repeat-x;
}
.xj-list { background:url(../images/xj-list.jpg) no-repeat; width:495px; height:37px; margin-top:7px;}
.xj-list-line { background:#ffffff url(../images/xj-list-line.jpg) repeat-x; border-left:1px solid #E13A41; border-right:1px solid #E13A41;border-bottom:1px solid #E13A41; padding:5px;}
.zy-list-line { background:#ffffff url(../images/xj-list-line.jpg) repeat-x; border-left:1px solid #E13A41; border-right:1px solid #E13A41;border-bottom:1px solid #E13A41; padding:5px;}
.xj-jg { font-family: Georgia; color:#ff0000; font-size:14px; font-weight:700;}
.zz-bg { background:url(../images/zz-tel.jpg) no-repeat; width:200px; height:240px;}

.t14-zy { font-size:14px;  color:#ffffff; line-height:34px;}
.t14-zy a { color:#ffffff;}
.t14-zy a:hover { color:#990000; background:url(../images/zy-hover.jpg) no-repeat; width:180px; height:34px; display:block;}
.t14-zy li { background:url(../images/zy-bg.jpg) no-repeat; width:180px; height:34px; text-indent:20px; border-bottom:1px dashed #C25251; margin-bottom:3px; padding-bottom:3px;}

.qqhei { color:#333333; line-height:28px;}
.qqhei a { color:#333333;}

.tab {width:685px; background:#ffffff; border-left:#FF0000 1px solid; border-right:#FF0000 1px solid; border-bottom:#FF0000 1px solid; padding:5px;}
.tabtop { background:url(../images/tabl-bg.jpg) no-repeat; width: 697px; height:40px;}
.menunormal {width:100px; height:40px; line-height:44px; overflow:hidden; float:left; text-align:center; margin-left:10px; background:url(../images/tal-b.jpg) no-repeat; font-size:14px; color:#A40000;}
.menuhover {width:100px; height:40px; line-height:44px; overflow:hidden; background:#333333; font-weight:bold; float:left; text-align:center;margin-left:10px; background:url(../images/tabl-bg-hover.jpg) no-repeat; font-size:14px; color:#A40000;}



.vpsbor { border:1px solid #E03933; padding:10px; width:675px; margin-top:7px;}
.vpsbor p { margin-right:10px; float:left;}
.vpsbor p span img { margin-left:30px;}
.vpsbor h4 { color:#B10B0B; font-size:14px; margin:0; padding:5px;}
.vpsbor ul { width:480px;}
.vpsbor li { line-height:20px;}

.nvps_t { line-height:20px;}


#demo {
background: #FFF;
overflow:hidden;
border: 1px dashed #CCC;
width: 680px;
}
#demo img {
border: 3px solid #F2F2F2;
}
#indemo {
float: left;
width: 800%;
}
#demo1 {
float: left;
}
#demo2 {
float: left;
}


/*bottom设置*/
 .bottom_xian{width:996px;
 				height:7px;
				background:#af0606;
				margin:0 auto;
				clear:both;}
.copy{width:966px;
		height:80px;
		margin:0 auto;
		margin-top:20px;
		padding-left:30px;}
.copy p{float:left;
		height:80px;
		width:68px;}
.us{width:892px;
	float:right;
	height:80px;}
.us_top{width:892px;
		height:20px;
		text-align:center;
		line-height:20px;
		clear:both;}
.us_top a:hover{color:#F00;}
.us_bottom{width:892px;
			height:60px;
			line-height:60px;
			text-align:center;}
.us_bottom font{font-size:12px;
				line-height:1.5;}	
		
/* domain* 右边*/
.r_new{width:250px;float:left;border:#A00503 1px solid;margin-top:5px;}
.new_adv{width:235px;
		height:32px;
		background:url(../images/new_adv.png) no-repeat center;
		padding-left:15px;
		padding-top:8px;}
.new_adv font{font-size:14px;
			font-family:"微软雅黑";
			color:#FFF;
			font-weight:bold;
			margin-right:110px;}
.new_adv a{font-size:12px;
			color:#FFF;
			margin-right:20px;}
.new_adv a:hover{color:#F00;}
.new_adv ul{width:250px;
			float:left;}
.li_bj{width:225px;
		float:left;
		height:24px;
		line-height:24px;
		background:url(../images/sanjiao.png) 8px no-repeat;
		padding-left:25px;}
.r_new ul li{
	list-style:none;
	width:225px;
	float:left;
	height:24px;
	line-height:24px;
	padding-left:15px;
}
.help{width:250px;
	float:left;
	margin-top:5px;}
.help a{float:left;
		margin-top:10px;}
.day{width:250px;
			float:left;
			margin-top:8px;}
.qq{width:200px;
		height:32px;
		background:url(../images/qq.png) no-repeat center;
		padding-left:50px;
		padding-top:8px;}
.qq font{font-size:16px;
			font-family:"微软雅黑";
			color:#FFF;
			font-weight:bold;}			
.qkf{width:250px;
	float:left;
	padding-bottom:10px;}
.qkf p{
	width:200px;
	padding-left:32px;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#900;
	font-family:"微软雅黑";
	font-weight:bold;
	margin-top:7px;
	float:left;
	background-image: url(../images/touxiang.png);
	background-repeat: no-repeat;
	background-position: 12px;
}
.qkf a{
	width:92px;
	height:24px;
	line-height:24px;
	display:block;
	float:left;
	_margin:0px 7px 0 10px;
	color:#666;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0;
	margin-left: 8px;
}			
.model_title
{
	display:block;
	float:left;
	width:620px;
	height:46px;
	line-height:46px;
	font-size:16px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#900;
	background:url(../images/fk_tubiao.png) no-repeat 15px center;
	padding-left:45px;
	}
