table .rowtd{border:1px solid #dedede;height:25px;text-align:left;padding-left:10px;}

table .head_td {background:url(/test/images/fb_main/table_head_bg.jpg) repeat-x;height:24px;text-align:center;}