{include file="inc/top.html"}


<div id='content' style='width:990px;height:511px;background:url(images/cbg.gif);margin:0px auto'>
{include file="inc/aboutus_left.html"}

{literal}

<!-- 当前位置提示条 -->

<div id='pdv_16938' class='pdv_class'  title='当前位置' style='width:743px;height:32px;top:0px;left:247px; z-index:13'>
<div id='spdv_16938' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;background:url(images/title_add.gif) no-repeat;padding:0px;margin:0px;height:39px">
	<div style="float:right;width:10px;height:39px;background:url(images/title_add.gif) -890px 0px no-repeat;">
	</div>

<link href="page/templates/css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
您现在的位置：<a href="index.php">华锋茶叶</a> &gt; 销售指南

</div>

</div>

</div>
</div>

<!-- 网页内容详情 -->

<div id='pdv_16939' class='pdv_class'  title='内容标题' style='width:600px;height:421px;top:90px;left:316px; z-index:14'>
<div id='spdv_16939' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		内容标题
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="#" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<link href="page/templates/css/pagecontent.css" rel="stylesheet" type="text/css" />
<div id='pagecontent' class='page_content'>
{/literal}
{$GuideInfo}
{literal}
</div>
<script>

$(document).ready(function(){
	$("#pagecontent").find("img").hide();
	var w=$("#pagecontent")[0].offsetWidth;
	$("#pagecontent").find("img").each(function(){
		$(this).show();
		if(this.offsetWidth>w){
			this.style.width=w + "px";
			$().setBg();
		}
	});

});

</script>

</div>
</div>

</div>
</div>
</div>

{/literal}


{include file="inc/buttom.html"}