{include file="inc/top.html"}


<div id='content' style='width:990px;height:496px;background:url(images/cbg.gif);margin:0px auto'>

{include file="inc/prod_left.html"}


<!-- 图片详情 -->

<div id='pdv_17003' class='pdv_class'  title='图片详情' style='width:600px;height:404px;top:90px;left:316px; z-index:13'>
<div id='spdv_17003' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		图片详情
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="#" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="photo/templates/css/photocontent.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="photo/js/photocontent.js" ></script>

<div id="piccontent">
	<div class="fcenter">
		<table align="center" cellpadding="10" cellspacing="0">
			<tr>
				<td>
					<div id="contentpages"></div>
				</td>
			</tr>
		</table>
	</div>

	<div class="photozone">
		<table align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="photoview">
						<img src="{$prodinfo.prod_pic}" border="0" id="photopic" class="photopic">
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="introzone">
	<div class="title">{$prodinfo.prod_name}</div>
	<div id="memo" class="memo" style="display:block">{$prodinfo.prod_desc}</div>
	<div class="bzone">
	  <input type="hidden" id="photoid" value="6">
	<div class="tags" style="display:none">标签：</div>
	<div id="banzhu" class="banzhu"></div>
	</div>
	</div>

</div>



</div>
</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_17002' class='pdv_class'  title='当前位置' style='width:743px;height:32px;top:0px;left:247px; z-index:14'>
<div id='spdv_17002' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;background:url(images/title_add.gif) no-repeat;padding:0px;margin:0px;height:39px">
	<div style="float:right;width:10px;height:39px;background:url(images/title_add.gif) -890px 0px no-repeat;">
	</div>

<link href="photo/templates/css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
您现在的位置：<a href="index.htm">华锋茶叶</a>

&gt; <a href="product.php?typeid={$prodinfo.type_id}">{$prodinfo.type_name}</a>

&gt; {$prodinfo.prod_name}

</div>

</div>

</div>
</div>

</div>




{include file="inc/buttom.html"}