
<!--红利网首页footer广告-->
					<div class="flwindex_banner">
						<div style="padding: 0px;">
							<a href="{$ButtomADCode.type_url}" target="_blank"><img
									src="{$ButtomADCode.type_code}" border="0" width="960px" height='110px'>
							</a>
						</div>
					</div>
					<!--/红利网首页footer广告-->
					<!--footer-->
{literal}
					<div class="flwindex_footer">
						<p style="text-align: center;">
							<!--
							<a href="#" class="shier">关于联盟网 </a><span class="flwindex_color8">|</span>
							<a href="#" class="shier">代理加盟</a><span class="flwindex_color8">|</span>
							<a href="#" class="shier">联系我们</a><span class="flwindex_color8">|</span>
							<a href="#" class="shier">帮助中心</a><span class="flwindex_color8">|</span>
							<a href="#" class="shier">友情链接</a>-->
							{/literal}
							{$buttomNavInfo}
							{literal}
						</p>
						<p class="ziti" style="text-align: center;">
							{/literal}
							{$buttomInfo}
						</p>
					</div>
					<!--/footer-->
				</div>
			</div>
		<div>
		{include file="inc/qq.html"}
		</div>
	</body>
{literal}
<!-- JiaThis Button BEGIN -->
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?type=left&amp;move=0&amp;btn=l2.gif&amp;uid=1522130" charset="utf-8"></script>
<!-- JiaThis Button END -->
{/literal}
</html>

