<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
  <!-- 签约单位DAO -->
	<bean name="unitDao" class="com.crm.sysdo.dao.impl.UnitImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 签约单位DAO -->
	<bean name="unitServiceDao" class="com.crm.sysdo.service.impl.UnitServiceDaoImpl">
	 <property name="unitProxy" ref="unitDao"></property>
	</bean>
	<!-- 签约单位DAO -->
	<bean name="unitProxy" parent="basicProxy">
	    <property name="target" ref="unitServiceDao"></property>
	</bean>
	<!-- 签约单位ACTION -->
    <bean name="/admin/unit" class="com.crm.sysdo.struts.action.UnitAction">
     <property name="unitServiceDao" ref="unitProxy"></property>
    </bean>
    <!-- 事物管理器 -->
     <bean name="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 动态代理工厂 -->
	<bean name="basicProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	
</beans>