<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
  <!-- 签约单位DAO -->
	<bean name="unitDao" class="com.crm.sysdo.dao.impl.UnitImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 签约单位DAO -->
	<bean name="unitServiceDao" class="com.crm.sysdo.service.impl.UnitServiceDaoImpl">
	 <property name="unitProxy" ref="unitDao"></property>
	</bean>
	<!-- 签约单位DAO -->
	<bean name="unitProxy" parent="basicProxy">
	    <property name="target" ref="unitServiceDao"></property>
	</bean>
	<!-- 签约单位ACTION -->
    <bean name="/admin/unit" class="com.crm.sysdo.struts.action.UnitAction">
     <property name="unitServiceDao" ref="unitProxy"></property>
     <property name="perDao" ref="perDao"></property>	
    </bean>
    
    
     <!-- 签约单位DAO -->
	<bean name="signUnitDao" class="com.crm.sysdo.dao.impl.SignUnitDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 签约单位DAO -->
	<bean name="signUnitServiceDao" class="com.crm.sysdo.service.impl.SignUnitServiceDaoImpl">
	 <property name="signUnitProxy" ref="signUnitDao"></property>
	</bean>
	<!-- 签约单位DAO -->
	<bean name="signUnitProxy" parent="basicProxy">
	    <property name="target" ref="signUnitServiceDao"></property>
	</bean>
	<!-- 签约单位ACTION -->
    <bean name="/admin/signUnit" class="com.crm.sysdo.struts.action.SignUnitAction">
     <property name="signUnitServiceDao" ref="signUnitProxy"></property>
     <property name="perDao" ref="perDao"></property>	
    </bean>
    
    
    <!-- 收费项目DAO -->
	<bean name="feeItemDao" class="com.crm.sysdo.dao.impl.FeeItemDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 收费项目DAO -->
	<bean name="feeItemServiceDao" class="com.crm.sysdo.service.impl.FeeItemServiceDaoImpl">
	 <property name="feeItemProxy" ref="feeItemDao"></property>
	</bean>
	<!-- 收费项目DAO -->
	<bean name="feeItemProxy" parent="basicProxy">
	    <property name="target" ref="feeItemServiceDao"></property>
	</bean>
	<!-- 收费项目ACTION -->
    <bean name="/admin/feeItem" class="com.crm.sysdo.struts.action.FeeItemAction">
     <property name="feeItemServiceDao" ref="feeItemProxy"></property>
    </bean>
    
    
    <!-- 生产厂家DAO -->
	<bean name="manuFacturerDao" class="com.crm.sysdo.dao.impl.ManufacturerDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 生产厂家DAO -->
	<bean name="manuServiceDao" class="com.crm.sysdo.service.impl.ManufacturerServiceDaoImpl">
	 <property name="manuFacturerProxy" ref="manuFacturerDao"></property>
	</bean>
	<!-- 生产厂家DAO -->
	<bean name="manuFacturerProxy" parent="basicProxy">
	    <property name="target" ref="manuServiceDao"></property>
	</bean>
	<!-- 生产厂家ACTION -->
    <bean name="/admin/manu" class="com.crm.sysdo.struts.action.ManufacturerAction">
     <property name="manuServiceDao" ref="manuFacturerProxy"></property>
     <property name="perDao" ref="perDao"></property>	
    </bean>
    
    
     <!-- 订购厂家DAO -->
	<bean name="orderManuFacturerDao" class="com.crm.sysdo.dao.impl.OrderManufacturerDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 订购厂家DAO -->
	<bean name="orderManuServiceDao" class="com.crm.sysdo.service.impl.OrderManufacturerServiceDaoImpl">
	 <property name="orderManuFacturerProxy" ref="orderManuFacturerDao"></property>
	</bean>
	<!-- 订购厂家DAO -->
	<bean name="orderManuFacturerProxy" parent="basicProxy">
	    <property name="target" ref="orderManuServiceDao"></property>
	</bean>
	<!-- 订购厂家ACTION -->
    <bean name="/admin/ordermanu" class="com.crm.sysdo.struts.action.OrderManufacturerAction">
     <property name="orderManuServiceDao" ref="orderManuFacturerProxy"></property>
     <property name="perDao" ref="perDao"></property>	
    </bean>
    
    
    <!-- 事物管理器 -->
     <bean name="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 动态代理工厂 -->
	<bean name="basicProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	
</beans>