{include file="inc/head.html"}
<div id="content">
	{include file="inc/left.html"}
	<div id="content_zw">
		<div class="zw_top">
			<div class="zw_bt"><img src="../images/content_bt01.gif" /></div>
			<div class="zw_weizhi">{$address}</div>
			<div class="zw_btline"></div>
		</div><!--zw_top-->
		<div class="zw_text">
			<div class="content_inc_text"><DIV class=about_css><IMG hspace=15 vspace=15 align=right src="../images/about_t.jpg">{$CompanyInfo.remark}</DIV></div>
		</div><!--zw_text-->
	</div><!--content_zw-->
</div><!--content-->

{include file="inc/buttom.html"}
