{include file="inc/head.html"}
<div id="content">
	{include file="inc/left.html"}

	<div id="content_zw">
		<div class="zw_top">
			<div class="zw_bt"><img src="../images/content_bt06.gif" /></div>
			<div class="zw_weizhi">{$address}</div>
			<div class="zw_btline"></div>
		</div><!--zw_top-->
		<div class="zw_text">
			<form action="action/action.php" method="post" name="form0">
				<table width="535"  border="0" align="center" cellpadding="3" cellspacing="0" class="feedback_css">
                      <tr>
                        <td width="533" height="25" align="center">&nbsp;&nbsp;标题:</td>
                        <td width="533" height="25"><input name="m_title" type="text" id="m_title3" size="50" maxlength="50"></td>
                      </tr>
                      <tr>
                        <td height="25" align="center" valign="top" width="533">&nbsp;&nbsp;意见/建议:</td>
                        <td height="25" width="533"><textarea name="m_text" cols="55" rows="8" id="textarea2" style="font-size:12px"></textarea></td>
                      </tr>
                      <tr>
                        <td height="25" align="center" width="533">&nbsp;&nbsp;您的称呼:</td>
                        <td height="25" width="533"><input name="m_name" type="text" id="m_name3" value="游客" size="50" maxlength="50"></td>
                      </tr>
                      <tr>
                        <td height="25" align="center" width="533">&nbsp;&nbsp;邮件地址:</td>
                        <td height="25" width="533"><input name="m_email" type="text" id="m_email3" size="50" maxlength="50"></td>
                      </tr>
                      <tr>
                        <td width="533" height="25" align="center" class="feedback_css">&nbsp;&nbsp;来自城市:</td>
                        <td height="25" width="533"><input name="m_city" type="text" id="m_city3" size="50" maxlength="50"></td>
                      </tr>
                      <tr>
                        <td width="533" height="25" align="center" class="feedback_css">&nbsp;&nbsp;详细地址:</td>
                        <td height="25" width="533"><input name="m_addr" type="text" id="m_addr3" size="50" maxlength="50"></td>
                      </tr>
                      <tr>
                        <td width="533" height="25" align="center" class="feedback_css">&nbsp;&nbsp;联系电话:</td>
                        <td height="25" width="533"><input name="m_tel" type="text" id="m_tel3" size="50" maxlength="50"></td>
                      </tr>
                      <tr>
                        <td width="533" height="25" align="center" class="feedback_css">&nbsp;&nbsp;传真号码:</td>
                        <td height="25" width="533"><input name="m_fax" type="text" id="m_fax3" size="50" maxlength="50"></td>
                      </tr>
                      <tr>
                        <td width="533" height="25" align="center" class="feedback_css">&nbsp;&nbsp;验证码:</td>
                        <td height="25" width="533">
                        	<table cellpadding="0" cellspacing="0">
                        		<tr>
                        			<td>
                        				<input name="m_code" type="text" id="m_code3" size="10" maxlength="4">
                        			</td>
                        			<td>
										&nbsp;<img id="codeimg" src="../random/imgcode.php" width="60" height="20" style="border:1px #dddddd solid;cursor:pointer;">
									</td>
                        			<td>
										<span id="getImgCode" style="cursor:pointer;margin-left:10px;line-height:20px;font-size:12px;">看不清？更换一张</span>
                        			</td>
                        		</tr>
                        	</table>
                       	</td>
                      </tr>
                      <tr align="center" valign="middle">
                        <td height="8" colspan="2" width="533"></td>
                      </tr>
                      <tr align="center" valign="middle">
                        <td height="30" colspan="2" width="533">
                        	<input type="reset" name="Submit2" value="取消清空" class="buttonface">
                          &nbsp;&nbsp;
                          <input name="Submit2" type="submit" class="buttonface" value="发出留言">
                         </td>
                      </tr>
				</table>
			</form>
		</div><!--zw_text-->
	</div><!--content_zw-->




</div><!--content-->

{include file="inc/buttom.html"}
