
{include file="inc/head.html"}

<div id='content' style='width:1002px;height:417px;background:none transparent scroll repeat 0% 0%;margin:0px auto'>


<!-- 网页标题(菜单) -->

<div id='pdv_14997' class='pdv_class'  title='栏目导航' style='width:207px;height:187px;top:0px;left:0px; z-index:9'>
<div id='spdv_14997' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_lmdh.gif) no-repeat">
	<div style="float:left;width:120px;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">栏目导航</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_lmdh.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:0px;">

<link href="../css/pagetitlemenu_dolphin.css" rel="stylesheet" type="text/css" />
<div class="titlemenu_dolphin" >

<a href="../aboutus/contact.php" target="_self" class="titlemenu_dolphin">联系方式</a>


<a href="../aboutus/message.php" target="_self" class="titlemenu_dolphin">客户留言</a>

</div>

</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_lmdh.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_lmdh.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>

<!-- HTML编辑区 -->

<div id='pdv_14987' class='pdv_class'  title='方案类型' style='width:209px;height:218px;top:197px;left:0px; z-index:10'>
<div id='spdv_14987' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_link.gif) no-repeat">
	<div style="float:left;width:120px;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">方案类型</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_link.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:12px;">

<link href="../css/productclass_dolphin.css" rel="stylesheet" type="text/css" />
<div class="productclass_dolphin">

{section name=list loop=$prodclass}
<a href="../product/{$prodclass[list].url}" target="_self" class="productclass_dolphin">{$prodclass[list].class_name}</a>
{/section}

</div>

</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_prod.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_prod.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_14988' class='pdv_class'  title='当前位置' style='width:763px;height:47px;top:0px;left:239px; z-index:11'>
<div id='spdv_14988' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/title_address.gif) no-repeat">
	<a href="../../" style="font:12px/20px simsun;cursor:hand;"><div style="float:right;width:11px;height:44px;background:url(../images/title_address.gif) -889px 0px no-repeat;padding-top:6px;"></div></a>

<link href="../css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
{$address}

</div>

</div>

</div>
</div>

<!-- 网页内容详情 -->

<div id='pdv_14989' class='pdv_class'  title='内容标题' style='width:740px;height:266px;top:77px;left:244px; z-index:12'>
<div id='spdv_14989' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px #dddddd solid;background:#fff;">
	<div style="height:25px;margin:1px;display:none;background:#cccccc;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:#fff">
		内容标题
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="http://www.smarthousekeeper.com" style="line-height:25px;color:#fff">更多</a>
		</div>
	</div>
<div style="padding:0px">
<link href="../css/pagecontent.css" rel="stylesheet" type="text/css" />
<div id='pagecontent' class='page_content'>

&nbsp;&nbsp;<b>厦门艺铃通贸易有限公司</b><br>
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;公司电话：0592-2239528&nbsp;<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;公司传真：0592-2239529&nbsp;<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：www.smarthousekeeper.com<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;：yilingtong6281@hotmail.com<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;总&nbsp;&nbsp;经&nbsp;&nbsp;理：吕浩源（Daniel Lu）</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;电话：+86-13712125735&nbsp;&nbsp;+86-18059825907&nbsp;&nbsp;+886-937079819<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;Email：danielzhi168@hotmail.com<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;Skype：yangyang16800<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;QQ：2576618507<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;营销部总经理：许艺铃</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;电话：13806014074<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;营销部总经理：周</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;电话：13906001802<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;营销企划部经理：洪一诚（stanley）</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;电话：13600901907<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;Email：stanley999@live.com<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;省籍区域业务接洽人(代理与经销与合作)</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<b>&nbsp;&nbsp;&nbsp;&nbsp;中國地區以外國家負責人</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吕浩源（Daniel Lu）<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：+86-13712125735&nbsp;&nbsp;+86-18059825907&nbsp;&nbsp;+886-937079819<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;&nbsp;&nbsp;华中地区,華東地區,西部地区负责人</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;洪一诚<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：13600901907<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陶霈<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：15880220811<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;&nbsp;&nbsp;华南地区,華東地區,西部地区负责人</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黄武志<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：13902907166&nbsp;&nbsp;15012685998<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;翁晞<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：15960229293<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;&nbsp;&nbsp;华北地区,东北地区负责人</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吴泰营<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：13902907166&nbsp;&nbsp;15012685998<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;翁晞<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：15960229293<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陶霈<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：15880220811<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;&nbsp;&nbsp;广西省,香港与澳门区负责人</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雨晴（julia）<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：13087900177&nbsp;&nbsp;15007719019&nbsp;&nbsp;00-852-64121836<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;&nbsp;&nbsp;福建省三明與閩西地區负责人</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;林福海<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：0592-2239528<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真：0592-2239529<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email：yilingtong6281@hotmail.com<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;&nbsp;&nbsp;技术部</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;翁晞<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：56305780<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：0592-2239529<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陶霈<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：15880220811<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：1589353155<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;洪一诚<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：13600901907<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email：stanley999@live.com<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
<br><b>&nbsp;&nbsp;&nbsp;&nbsp;客戶咨詢人員</b><br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;范丹丹<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：0592-2239528<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email：danielzhi168@hotmail.com<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skype：yangyang16800<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：2576618507<br />
<img src="../images/pay/task_dot.gif" height="3" align="middle" /><br />




</div>
{literal}
<script>

$(document).ready(function(){
	$("#pagecontent").find("img").hide();
	var w=$("#pagecontent")[0].offsetWidth;
	$("#pagecontent").find("img").each(function(){
		$(this).show();
		if(this.offsetWidth>w){
			this.style.width=w + "px";
			$().setBg();
		}
	});

});

</script>
{/literal}
</div>
</div>

</div>
</div>
</div>

{include file="inc/buttom.html"}
