
{include file="inc/head.html"}

<div id='content' style='width:1002px;height:417px;background:none transparent scroll repeat 0% 0%;margin:0px auto'>


<!-- 网页标题(菜单) -->

<div id='pdv_14997' class='pdv_class'  title='栏目导航' style='width:207px;height:187px;top:0px;left:0px; z-index:9'>
<div id='spdv_14997' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_lmdh.gif) no-repeat">
	<div style="float:left;width:120px;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">栏目导航</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_lmdh.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:0px;">

<link href="../css/pagetitlemenu_dolphin.css" rel="stylesheet" type="text/css" />
<div class="titlemenu_dolphin" >


<a href="company.php" target="_self" class="titlemenu_dolphin">关于我们</a>


<a href="patent.php" target="_self" class="titlemenu_dolphin">公司专利</a>

</div>

</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_lmdh.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_lmdh.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>

<!-- HTML编辑区 -->

<div id='pdv_14987' class='pdv_class'  title='联系我们' style='width:209px;height:218px;top:197px;left:0px; z-index:10'>
<div id='spdv_14987' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_link.gif) no-repeat">
	<div style="float:left;width:120px;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">联系我们</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_link.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:0px;">
<div style="MARGIN-TOP: 15px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 15px; COLOR: #333; LINE-HEIGHT: 150%">
{$contactInfo}</div>
</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_link.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_link.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_14988' class='pdv_class'  title='当前位置' style='width:763px;height:47px;top:0px;left:239px; z-index:11'>
<div id='spdv_14988' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/title_address.gif) no-repeat">
	<a href="../../" style="font:12px/20px simsun;cursor:hand;"><div style="float:right;width:11px;height:44px;background:url(../images/title_address.gif) -889px 0px no-repeat;padding-top:6px;"></div></a>

<link href="../css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
{$address}

</div>

</div>

</div>
</div>

<!-- 网页内容详情 -->

<div id='pdv_14989' class='pdv_class'  title='内容标题' style='width:740px;height:266px;top:77px;left:244px; z-index:12'>
<div id='spdv_14989' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px #dddddd solid;background:#fff;">
	<div style="height:25px;margin:1px;display:none;background:#cccccc;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:#fff">
		内容标题
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="http://www.smarthousekeeper.com" style="line-height:25px;color:#fff">更多</a>
		</div>
	</div>
<div style="padding:0px">
<link href="../css/pagecontent.css" rel="stylesheet" type="text/css" />
<div id='pagecontent' class='page_content'>
	<table align="center">
		<tr>
			<td>
				<img src='../images/patent/Scan0003.jpg' border="0" alt="">
			</td>
		</tr>
		<tr>
			<td>
				<img src='../images/patent/Scan0004.jpg' border="0" alt="">
			</td>
		</tr>
		<tr>
			<td>
				<img src='../images/patent/Scan0005.jpg' border="0" alt="">
			</td>
		</tr>
		<tr>
			<td>
				<img src='../images/patent/Scan0006.jpg' border="0" alt="">
			</td>
		</tr>
		<tr>
			<td>
				<img src='../images/patent/Scan0007.jpg' border="0" alt="">
			</td>
		</tr>
		<tr>
			<td>
				<img src='../images/patent/Scan0008.jpg' border="0" alt="">
			</td>
		</tr>
		<tr>
			<td>
				<img src='../images/patent/Scan0009.jpg' border="0" alt="">
			</td>
		</tr>
		<tr>
			<td>
				<img src='../images/patent/Scan0010.jpg' border="0" alt="">
			</td>
		</tr>
	</table>
</div>
{literal}
<script>

$(document).ready(function(){
	$("#pagecontent").find("img").hide();
	var w=$("#pagecontent")[0].offsetWidth;
	$("#pagecontent").find("img").each(function(){
		$(this).show();
		if(this.offsetWidth>w){
			this.style.width=w + "px";
			$().setBg();
		}
	});

});

</script>
{/literal}
</div>
</div>

</div>
</div>
</div>

{include file="inc/buttom.html"}
