
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<TITLE>后台管理</TITLE>
		<META http-equiv=Content-Type content="text/html; charset=gb2312">
		<LINK href="../css/private.css" type=text/css rel=stylesheet>

	</HEAD>
	<BODY>
		<TABLE class=navi cellSpacing=1 align=center border=0>
			<TBODY>
				<TR>
					<TH>
						后台 >> 视讯管理 >> 添加视讯
					</TH>
				</TR>
			</TBODY>
		</TABLE>
		<BR>
<form action="action/action.php" method="post" enctype="multipart/form-data">
		<table border=0 cellspacing=1 align=center class=form>
			<tr>
				<th colspan="3">
					视讯上传
				</th>
			</tr>
			<tr>
				<td width=80>
					视讯文件
					<font style="color: red;">*<br />
				</td>
				<td>
						<table>
							<tr>
								<td>
									<input type="file" id="upfile" name="upfile"><br>
									允许上传的文件类型为：swf|avi|asf|mid|wmv|wma|ra.
								</td>
							</tr>
						</table>

				</td>
				<td>

				</td>
			</tr>
			<tr>
				<td width=80></td>
				<td style="height:30px">
					<input type="submit" name="editVideoDesc" style="height:30px;" value="开始上传" onclick="this.style.display='none';document.getElementById('loading_span').innerHTML='<img src=../images/load.gif />';">
					<span id="loading_span" name="loading_span"></span>
					<input type="hidden" name="task" value="addVideoFile">
					<input type="hidden" name="id" value="{$videoID}">
				</td>
				<td></td>
			</tr>
		</table>
		</form>
		<br>

	</BODY>
</HTML>