

<div id="footer">
		<div>
			<a href="#">{$lang.ShouYe}</a> |
			<a href="#" target="_blank">{$lang.GongSiJianJie}</a> |
			<a href="#" target="_blank">{$lang.ChanPinZhanShi}</a> |
			<a href="#">{$lang.XinWenZiXin}</a> |
			<a href="#">{$lang.JiaMengDaiLi}</a>|
			<a href="#">{$lang.BaoDiXueYuan}</a> |
			<a href="#">{$lang.LianXiWoMen}</a>
		</div>
		<div style="padding-top: 5px;">
			<!--<p>Copyright &copy; {$lang.Copy}</p>-->
			<p>Copyright @ 2008 BTW Essential Oils. All rights reserved.<br>
			         Tel: (212)734-6000 Fax: (212) 734-6001	<br>
			         12 East 86th Street, NewYork,NY10028 USA<br>
			</p>
		</div>

		<div style="clear:both;">
			<img src="images/smalllogo.jpg" width="100" height="44"/>

					<img src="images/inc-5000.png" width="59" height="41" style="padding-left:20px;" />	</div>

	</div>
	<!--footer end-->


</body>
</html>