#<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /fdy/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^news/newslist.html(.*)$ news/newslist.php$1 [L,QSA]
RewriteRule ^news/news_([0-9]+)_info.html news/newsinfo.php?id=$1 [L]
RewriteRule ^product/prodlist.html(.*)$ product/prodlist.php$1 [L,QSA]
RewriteRule ^product/product_([0-9]+)_info.html product/prodinfo.php?id=$1 [L]
RewriteRule ^case/caselist.html case/caselist.php$1 [L,QSA]
RewriteRule ^case/case_([0-9]+)_info.html case/caseinfo.php?id=$1 [L]
RewriteRule ^job/joblist.html job/joblist.php$1 [L,QSA]
RewriteRule ^job/job_([0-9]+)_info.html job/jobinfo.php?id=$1 [L]
RewriteRule ^(.*).html(.*)$ $1.php?$2
#</IfModule>