{include file="inc/head.html"}
<div id="content">
	{include file="inc/left.html"}

<div id="content_zw">
		<div class="zw_top">
			<div class="zw_bt"><img src="../images/content_bt07.gif" /></div>
			<div class="zw_weizhi">当前位置：首 页 > <font color="#FF3300">联系我们</font></div>
			<div class="zw_btline"></div>
		</div><!--zw_top-->
		<div class="zw_text">


							<div class="content_inc_text"><DIV class=contact_css>
<DIV class=contact_pic><IMG src="../images/contact_t.jpg"></DIV>
<DIV class=contact_text>
<H3>上海星霸艺术涂装有限公司</H3>
<H3>地 址：{$contactInfo.info_address} <BR>电话/传真：{$contactInfo.info_phone}<BR>联系人：{$contactInfo.info_link_name}<BR>手 机：{$contactInfo.info_mobile} <BR>E-mail：{$contactInfo.info_email} <BR>QQ：{$contactInfo.info_im}<BR></H3></DIV></DIV></div>


		</div><!--zw_text-->
	</div><!--content_zw-->




</div><!--content-->

{include file="inc/buttom.html"}
