.Page_Text{ width:600px; height:100%; overflow:hidden; padding:26px 10px  18px 10px; line-height:22px;}
.Content{ background:#fbfbfb; border:1px solid #dadcde; padding:30px 30px 30px 35px;_padding:30px 0px 30px 35px ;font-size:14px; line-height:24px; margin-top:18px; clear:both;}
.Content b{ line-height:30px}



/*Ǣ̸*/
a.Map{ background:url(../images/Map.gif) no-repeat; width:550px; height:376px; margin-top:10px; display:block}