@charset "utf-8";

#head {
	text-align:left;
	height:135px;
	width:960px;
	margin:0 auto;
	position:relative;
	margin-bottom:20px;
}

#head #logo {
	position:absolute;
	left:0;
	top:45px;
}

#quickBar {
	position:absolute;
	right:10px;
	top:0;
	height:25px;
}
#quickBar ul li {
	float:left;
	width:60px;
	height:25px;
	overflow:hidden;
	margin:0 5px;
}
#quickBar ul li a {
	display:block;
	width:60px;
	padding-top:3px;
	height:25px;
	text-align:center;
	text-decoration:none;
	background:url("../images/quickBar_btnBg.jpg") repeat-x 0 -25px;
}
#quickBar li a:hover, #quickBar li.selected a {
	background-position:0 0;
	color:white;
}

#quickBar ul li#quickBar_home {
	display:none;
}







#quickBar li.search {
	position:relative;
	top:260px;
	left:65px;
	width:240px;
}
#quickBar li.search button {
	border-width:0;
	background:url("images/btn_search.gif") no-repeat 0 0;
	width:49px;
	height:32px;
	overflow:hidden;
	padding-left:100px;
}
#quickBar li.search #keyword {
	margin-bottom:5px;
	border-width:0;
	height:25px;
	line-height:25px;
	margin-left:15px;
	width:170px;
}



#navigation {
	position:absolute;
	right:0;
	top:60px;
	width:600px;
}
#navigation ul li#hello {
	display:none;
}

#navigation ul li {
	float:left;
	width:100px;
	height:35px;
	position:relative;
}
#navigation ul li a {
	display:block;
	text-decoration:none;
	width:100px;
	height:35px;
	overflow:hidden;
	text-indent:-200px;
	background:url("../images/naviBtn.png") no-repeat 0 0;
}
.en #navigation ul li a {
	background-image:url("images/naviBtn_en.gif");
}



#navigation ul li#navigation_home a:hover, #navigation ul li#navigation_home.navigationOverStyle a {
	background-position:0 -35px;
}

#navigation ul li#navigation_193 a {
	background-position:-100px 0;
}
#navigation ul li#navigation_193 a:hover, #navigation ul li#navigation_193.navigationOverStyle a {
	background-position:-100px -35px;
}

#navigation ul li#navigation_196 a {
	background-position:-200px 0;
}
#navigation ul li#navigation_196 a:hover, #navigation ul li#navigation_196.navigationOverStyle a {
	background-position:-200px -35px;
}

#navigation ul li#navigation_212 a {
	background-position:-300px 0;
}
#navigation ul li#navigation_212 a:hover, #navigation ul li#navigation_212.navigationOverStyle a {
	background-position:-300px -35px;
}

#navigation ul li#navigation_197 a {
	background-position:-400px 0;
}
#navigation ul li#navigation_197 a:hover, #navigation ul li#navigation_197.navigationOverStyle a {
	background-position:-400px -35px;
}

#navigation ul li#navigation_265 a {
	background-position:-500px 0;
}
#navigation ul li#navigation_265 a:hover, #navigation ul li#navigation_265.navigationOverStyle a {
	background-position:-500px -35px;
}







#navigation ul li ul {
	display:none;
	position:absolute;
	left:0;
	top:39px;
	padding-top:1px;
	background:#6f6e6e;
	width:140px;
}
#navigation ul li.over ul {
	display:block;
	/**add**/
	position:absolute;
	top:35px;
	left:0;
	border:1px solid #252324;
	border-top:none;
	width:140px;
}

#navigation ul li ul li {
	margin-left:0px;
	height:30px;
	background-color:#6f6e6e;
	margin-bottom:1px;
	width:140px;
}
#navigation ul li ul li a {
	height:30px;
	line-height:30px;
	text-indent:0;
	text-align:center;
	background:none;
	font-family:'微软雅黑', Helvetica, sans-serif;
	font-wight:bold;
	font-size:14px;
	color:#FFFFFF;
	width:140px;
}

#navigation ul li ul li.over {
	background:#252324;
	width:140px;
}