@charset "utf-8";

@import url(common.css);
@import url(head.css);
@import url(foot.css);

#body {
	background:none;
}
#banner {
	width:960px;
	height:300px;
	display:block;
}
#menu {
	display:none;
}
#indexBody {
width:960px;
}
#indexBody #service {
	margin-top:20px;
	margin-bottom:10px;
	padding-left:5px;
	height:250px;
}
#indexBody #service li {
	float:left;
	width:230px;
	height:250px;
	margin-right:10px;
	background:url("../images/service_title.gif") no-repeat 0 0;
}
#indexBody #service li.design {
	background-position:-230px 0;
}
#indexBody #service li.portal {
	background-position:-460px 0;
}
#indexBody #service li.system {
	background-position:-690px 0;
	margin-right:5px;
}
#indexBody #service li dt a {
	display:block;
	background:url("../images/service_icon.jpg") no-repeat 0 30px;
	height:120px;
	text-indent:-1000px;
	filter:gray(enabled=true);
	overflow:hidden;
}
#indexBody #service li dt a:hover  {
	filter:gray(enabled=false);
}
#indexBody #service li.design dt a {
	background-position:-230px 30px;
}
#indexBody #service li.portal dt a {
	background-position:-460px 30px;
}
#indexBody #service li.system dt a {
	background-position:-690px 30px;
}

#indexBody #service li dd a {
	display:block;
	height:100px;
	padding:10px;
	background:url("../images/service_bg.gif") no-repeat 0 0;

}
#indexBody #service li dd a:hover {
	background-position:0 -120px;
}
