/*重置CSS样式表*/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

}
table { border:0px;border-collapse:collapse;}
body {line-height: 1; font-size:12px; text-align:left; color:#333;font-family:"宋体"; background:url(../images/BG_Top.gif) repeat-x #f7f7f7 }

/*头部*/
.Hs_Top{ width:1010px; height:168px; margin:0 auto}
.Logo{ background:url(../images/Logo.gif) no-repeat; width:275px; height:79px; float:left; margin:27px 0 0 17px}
.Hs_Top_R{ float:right; width:400px; height:91px; padding-top:27px}
.Search{ width:297px; height:28px;; margin:0px 0 14px 103px;}
.Search input{ border:1px solid #dadcde; width:226px; height:24px; line-height:24px; float:right}
.Search a:link,.Search a:visited{ background:url(../images/Search_Btn.gif) no-repeat; width:29px; height:28px; float:right}
.Search a:hover{ background-position:bottom}

/*迷你菜单*/
.MiniMeun{ width:400px; height:56px;_height:46px;}
.MiniMeun a:link,.MiniMeun a:visited{ background:url(../images/MainMenu.gif) no-repeat; width:100px; height:28px; line-height:28px; text-align:center; color:#fff; float:left; text-decoration:none;}
.MiniMeun a:hover{ background-position: bottom}

/*主菜单*/
.MainMeun{ background:url(../images/MainMenu_Bg.gif) no-repeat right; width:1010px; height:50px; clear:both}
a.MainMeun_01:link,a.MainMeun_01:visited{ background:url(../images/MainMenu_I.gif) no-repeat; width:117px; height:50px; display:block; float:left}
a.MainMeun_02:link,a.MainMeun_02:visited{ background:url(../images/MainMenu_I.gif) no-repeat -117px 0px; width:103px; height:50px; display:block; float:left}
a.MainMeun_03:link,a.MainMeun_03:visited{ background:url(../images/MainMenu_I.gif) no-repeat -220px 0px; width:132px; height:50px; display:block; float:left}
a.MainMeun_04:link,a.MainMeun_04:visited{ background:url(../images/MainMenu_I.gif) no-repeat -352px 0px; width:114px; height:50px; display:block; float:left}
a.MainMeun_05:link,a.MainMeun_05:visited{ background:url(../images/MainMenu_I.gif) no-repeat -466px 0px; width:114px; height:50px; display:block; float:left}
a.MainMeun_06:link,a.MainMeun_06:visited{ background:url(../images/MainMenu_I.gif) no-repeat -580px 0px; width:116px; height:50px; display:block; float:left}
a.MainMeun_07:link,a.MainMeun_07:visited{ background:url(../images/MainMenu_I.gif) no-repeat -696px 0px; width:109px; height:50px; display:block; float:left}
a.MainMeun_01:hover{ background-position: left bottom}
a.MainMeun_01.hover{ background-position: left bottom}
a.MainMeun_02:hover{ background-position: -117px bottom}
a.MainMeun_02.hover{ background-position: -117px bottom}
a.MainMeun_03:hover{ background-position: -220px bottom}
a.MainMeun_03.hover{ background-position: -220px bottom}
a.MainMeun_04:hover{ background-position: -352px bottom}
a.MainMeun_04.hover{ background-position: -352px bottom}
a.MainMeun_05:hover{ background-position: -466px bottom}
a.MainMeun_05.hover{ background-position: -466px bottom}
a.MainMeun_06:hover{ background-position: -580px bottom}
a.MainMeun_06.hover{ background-position: -580px bottom}
a.MainMeun_07:hover{ background-position: -696px bottom}
a.MainMeun_07.hover{ background-position: -696px bottom}

/*内容区*/
.Hs_Middle{ width:1010px; height:100%; overflow:hidden; padding-top:7px; margin:0 auto}
.MainBanner{ width:1010px; height:350px; margin-bottom:21px;position:relative; overflow:hidden;}
.MainBanner a{position:absolute;}
.MainBanner_Menu{ background:url(../images/Banner_Page.png) no-repeat; width:104px; height:25px; padding:1px 0 0 8px; position: absolute; margin:-38px 0 0 828px}
.MainBanner_Menu a:link,.MainBanner_Menu a:visited{ background:url(../images/Banner_Menu.gif) no-repeat; width:19px; height:22px; float: left}
.MainBanner_Menu a:hover{ background-position:bottom}
.MainBanner_Menu a.curron{ background-position:bottom}

/*首页内容*/
.Index_List{ width:1010px; height:189px; line-height:20px}
.Index_List span{ font-weight:bold; color:#ff962f}
a.Index_List01:link,a.Index_List01:visited{ background:url(../images/Index_Menu.gif) no-repeat; width:156px; height:112px; margin-right:12px;_margin-right:11px; float:left; padding:58px 20px 0 16px; color:#333; text-decoration:none}
a.Index_List02:link,a.Index_List02:visited{ background:url(../images/Index_Menu.gif) no-repeat -192px 0px; width:156px; height:112px; margin-right:12px;_margin-right:11px; float:left; padding:58px 20px 0 16px; color:#333; text-decoration:none}
a.Index_List03:link,a.Index_List03:visited{ background:url(../images/Index_Menu.gif) no-repeat -384px 0px; width:156px; height:112px; margin-right:12px;_margin-right:11px; float:left; padding:58px 20px 0 16px; color:#333; text-decoration:none}
a.Index_List04:link,a.Index_List04:visited{ background:url(../images/Index_Menu.gif) no-repeat -576px 0px; width:156px; height:112px; margin-right:12px;_margin-right:11px; float:left; padding:58px 20px 0 16px; color:#333; text-decoration:none}
a.Index_List01:hover{ background-position:-0px bottom;color:#fff}
a.Index_List02:hover{ background-position:-192px bottom;color:#fff}
a.Index_List03:hover{ background-position:-384px bottom;color:#fff}
a.Index_List04:hover{ background-position:-576px bottom;color:#fff}
a.Index_List05:hover{ background-position:-768px bottom;color:#fff}
.Index_List05{ background:url(../images/Index_Menu.gif) no-repeat -768px 0px; width:156px; height:112px; float:left; padding:58px 20px 0 16px; color:#333; text-decoration:none}
.Index_List05 a:link,.Index_List05 a:visited{ text-decoration:none; color:#333; line-height:21px;}
.Index_List05 a:hover{ text-decoration:underline}
.Index_List05 ul{ list-style:none; padding-left:12px; width:150px; overflow:hidden; margin-top:-4px;}
.Index_List05 ul li{height:21px;overflow:hidden;}

/*页脚*/
.Hs_Bottom{ background:url(../images/BG_Bottom.gif) repeat-x; width:100%; height:35px; padding-top:18px}
.Hs_BottomFrame{ width:1010px; height:35px; line-height:25px; margin:0 auto}
.Hs_Bottom_Menu{ width:570px; text-align:left; float:left}
.Hs_Bottom_Menu a:link,.Hs_Bottom_Menu a:visited{ color:#666; text-decoration:none; margin:0 5px}
.Hs_Bottom_Menu a:hover{ text-decoration:underline}
.Hs_BottomFrame span{ display:block; float:right; color:#666}

.Page_left{ width:700px; height:100%; overflow:hidden; float:left; margin-right:18px; padding-bottom:18px}
.Page_Text{ width:680px; height:100%; overflow:hidden; border-bottom:1px solid #dadcde; padding:26px 10px  18px 10px; line-height:22px;}
.Page_Title{ margin-bottom:16px;}
.Page_Item{ width:700px; height:131px; overflow:hidden; padding:30px 20px 0 12px; line-height:22px; }
.Page_Item_Img{ width:156px; height:121px; float:left; margin-right:28px;}
.Page_Item_Text{ float:left; width:485px; height:auto; margin-top:6px}
.Page_Item_Text a:link,.Page_Item_Text a:visited{ font-weight:bold; color:#ff962f; font-size:14px; text-decoration:none}
.Page_Item_Text a:hover{ text-decoration:underline}

/*内页 右区*/
.Page_Right{ width:292px; height:100%; overflow:hidden; float:left}
.Phone{ color:#358de6; font-size:24px; font-weight:bold; background:url(../images/Phone.gif) no-repeat; width:190px; height:39px; padding:51px 0 0 102px; margin:18px 0px;}
.New{ width:292px; height:auto; margin-bottom:40px;}
.New ul{ border-top:1px solid #dadcde}
.New li{ list-style:none; background:url(../images/List_Icon.gif) no-repeat 0px 10px ; border-bottom:1px dashed #dadcde; padding:4px 4px 4px 17px; }
.New a:link,.New a:visited{ color:#333; text-decoration:none; line-height:22px;}
.New a:hover{ text-decoration:underline}
.Content{ background:#fbfbfb; border:1px solid #dadcde; padding:30px 30px 30px 35px;_padding:30px 0px 30px 35px ;font-size:14px; line-height:24px; margin-top:18px; clear:both;}
.Orange16B{ font-size:16px; font-weight:bold; color:#ff962f; line-height:30px}
.Content b{ line-height:30px}

/*产品页*/
.Products{ width:200px; height:250px; float:left; overflow:hidden; margin:26px 0 0 24px;_margin:26px 12px 0 12px; line-height:22px;}
a.Products_Img:link,a.Products_Img:visited{ border:7px solid #d3e4e3; display:block; width:186px; height:118px; margin-bottom:6px}
a.Products_Img:hover{border:7px solid #aad5d2}
.Products a:link,.Products a:visited{ text-decoration:none; line-height:22px; color:#333}
.Products a:hover{ text-decoration:underline}

/*接入*/
.Access_Item{ width:217px; height:143px; border:1px solid #dadcde; float:left; margin:0 21px 16px 0}
.Access_Title{ background:url(../images/Frame_Bg.gif) repeat-x; width:204; line-height:41px; font-weight:bold; padding-left:5px; display:block; padding-left:8px}
.Access_Item ul{ width:183px; margin:10px 0 0 15px; list-style:none}
.Access_Item li{width:178px; height:25px; border-bottom:1px solid #dadcde; padding-left:5px}
.Access_Item ul a:link,.Access_Item ul a:visited{ text-decoration:none; line-height:25px; color:#333;}
.Access_Item ul a:hover{ text-decoration:underline}
.Access_Item img{ margin-right:8px; vertical-align:middle}
a.Massage:link,a.Massage:visited{ background:url(../images/Message.gif) no-repeat; width:217px; height:102px; display:block}
a.Massage:hover{ background-position:bottom}

/*常见问题*/
.Qna{ width:654px; height:100%; overflow:hidden; list-style:none}
.Qna li{ width:262px; float:left; height:25px; margin-right:23px; border-bottom:1px dashed #dadcde; padding-left:8px}
.Qna li a:link,.Qna li a:visited{ font-size:14px; text-decoration:none; color:#333; line-height:25px;}
.Qna li a:hover{ text-decoration:underline}


/*洽谈*/
a.Map{ background:url(../images/Map.gif) no-repeat; width:686px; height:470px; margin-top:10px; display:block}

/*搜索*/
.Search_B{ background:url(../images/Search_Bg.gif) no-repeat; width:600px; height:35px; padding:25px 0 0 100px; margin-top:18px}
.Search_B input{ width:400px; height:22px; line-height:22px; border:1px solid #999; float:left}
.Search_B a:link,.Search_B a:visited,a.Massage_Btn:link,a.Massage_Btn:visited{ width:60px; height:24px; line-height:24px; text-decoration:none; background:#666; color:#fff; display:block; float:left; margin-left:8px; padding-left:6px; text-align:center}
.Search_B a:hover,{ color:#666; background:#fff}
a.Massage_Btn:hover{ color:#666; background: #CCC}
.Search_List{ width:670px; height:84px; border-bottom:1px solid #dadcde; padding:15px 15px 5px 15px; line-height:22px;}
.Search_List a:link,.Search_List a:visited{ color:#F30; font-size:14px; font-weight:bold; line-height:26px; text-decoration:none}
.Search_List a:hover{ text-decoration:underline}


/*轮播*/
#banner {position:relative; width:400px; height:268px; border:1px solid #F8F8F8; overflow:hidden;}
#banner_list img {border:0px;}
#banner_info{position:absolute; bottom:0; left:5px;height:22px;color:#fff;z-index:1001;cursor:pointer}
#banner_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;}
#banner ul {position:absolute;list-style-type:none;filter: Alpha(Opacity=80);opacity:0.8; border:0px solid #fff;z-index:1002;margin:0; padding:0; bottom:7px; right:5px;}
#banner ul li { padding:2px 4px;float:left;display:block;color:#444442;border:#e5eaff 0px solid;background:white;cursor:pointer;margin-right:3px;}
#banner ul li.on { background:#3D9FE6}
#banner_list a{position:absolute;}

/*留言板*/
.Guestbook dl,.Guestbook dt,{ padding-left:5px; margin-bottom:8px}
.Banner_Massage{ border:1px solid #dadcde; margin-top:18px;}
.Guestbook_txt{padding-left:3px; margin-bottom:8px; margin-top:8px;}

/*OA登录*/
.OA_Frame{ background:url(../images/OA_Bg.jpg) no-repeat; width:860px; height:412px; margin:0 auto}
.OA_Logo{ width:612px; height:230px; float:left}
.OA_Txt{ width:612px; height:183px; float:left; line-height:22px; font-size:14px;}
.OA_Content{ width:240px; height:171px;; margin-top:194px; float:right; }
.OA_Content input{ width:174px; height:22px; background-image: none; line-height:22px; margin:0 0 25px 35px;}
.OA_Btn{ background-color:#505E9D; width:99px; height:28px; text-decoration:none; text-align:center; color:#fff; display:block; line-height:28px;; margin-left:35px;border:solid 1px #666666;font-size:12px;}
.OA_Btn{ background-position:bottom}
.OA_Bottom{ width:860px; height:30px; line-height:30px; border-top:1px solid #dadcde; text-align:center; line-height:30px; margin:0 auto; clear:both; color:#666}

.tabs_list {overflow:hidden;border-bottom:solid 1px #333333;height:25px;line-height:30px;background-color:#666666;padding:5px 5px 8px 5px;cursor:pointer;}
.tabs_list:hover {overflow:hidden;border-bottom:solid 1px #333333;height:25px;line-height:30px;background-color:#cccccc;padding:5px 5px 8px 5px;cursor:pointer;}
.tabs_list a{ color:white;font-family:"宋体";text-decoration:none}
