
{include file="inc/head.html"}
<div id='content' style='width:1002px;height:417px;background:none transparent scroll repeat 0% 0%;margin:0px auto'>


<div id='pdv_14997' class='pdv_class'  title='栏目导航' style='width:207px;height:187px;top:0px;left:0px; z-index:9'>
<div id='spdv_14997' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_lmdh.gif) no-repeat">
	<div style="float:left;width:120px;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">栏目导航</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_lmdh.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:0px;">

<link href="../css/pagetitlemenu_dolphin.css" rel="stylesheet" type="text/css" />
<div class="titlemenu_dolphin" >

<a href="../sure/" target="_self" class="titlemenu_dolphin"><FONT style="color:#FF6600;">合作登入</FONT></a>

<a href="../job/joblist.html" target="_self" class="titlemenu_dolphin">诚聘英才</a>
<!--
<a href="../aboutus/addlink.html" target="_self" class="titlemenu_dolphin">申请链接</a>
 -->
<a href="../aboutus/link.html" target="_self" class="titlemenu_dolphin">友情链接</a>

</div>

</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_lmdh.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_lmdh.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>



<!-- HTML编辑区 -->

<div id='pdv_15171' class='pdv_class'  title='联系我们' style='width:207px;height:218px;top:197px;left:0px; z-index:10'>
<div id='spdv_15171' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_link.gif) no-repeat">
	<div style="float:left;width:120px;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">联系我们</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_link.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:0px;">
<div style="MARGIN-TOP: 15px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 15px; COLOR: #333; LINE-HEIGHT: 150%">
{$contactInfo}</div>
</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_link.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_link.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_15182' class='pdv_class'  title='当前位置' style='width:763px;height:47px;top:0px;left:239px; z-index:11'>
<div id='spdv_15182' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/title_address.gif) no-repeat">
	<a href="../" style="font:12px/20px simsun;cursor:hand;"><div style="float:right;width:11px;height:44px;background:url(../images/title_address.gif) -889px 0px no-repeat;padding-top:6px;"></div></a>

<link href="../css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
{$address}

</div>

</div>

</div>
</div>



<!-- 应聘申请表单 -->

<div id='pdv_15197' class='pdv_class'  title='应聘申请' style='width:740px;height:829px;top:77px;left:244px; z-index:14'>
<div id='spdv_15197' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:block;background:#f5f5f5;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		【{if $jobinfo.job_name !=""}<a href="jobinfo.php?id={$jobinfo.id}"><span style="color:#FF6600;"><strong>{$jobinfo.job_name}</strong></span></a>{/if}】在线申请
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="../css/jobform.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../js/jobform.js"></script>
<div  id="notice" class="noticediv"></div>
<form id="jobform" method="post" action="action/commit.php" name="jobform">
<table width="100%" border="0" cellspacing="0" cellpadding="3" >

<tr>
      <td width="80" align="right">姓　　名：</td>
      <td>
        <input type="text" name="title" maxlength="20" class="input" style="width:200px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="80" align="right">性　　别：</td>
      <td>
        <select name="sex" >
		<option value="0" >男</option><option value="1" >女</option>
        </select>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div> </td>
    </tr>


<tr>
      <td width="80" align="right">出生日期：</td>
      <td>
        <input type="text" name="name"  maxlength="10" class="input" style="width:200px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="80" align="right">婚姻状况：</td>
      <td>
        <select name="custom1" >
		<option value="0" >未婚</option><option value="1" >已婚</option>
        </select>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div> </td>
    </tr>


<tr>
      <td width="80" align="right">毕业院校：</td>
      <td>
        <input type="text" name="company"  maxlength="50" class="input" style="width:300px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">最高学历：</td>
      <td>
        <input type="text" name="company_address"  maxlength="20" class="input" style="width:200px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">毕业专业：</td>
      <td>
        <input type="text" name="products_id" maxlength="30" class="input" style="width:200px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">毕业时间：</td>
      <td>
        <input type="text" name="products_name" maxlength="10" class="input" style="width:200px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">联系电话：</td>
      <td>
        <input type="text" name="tel" maxlength="20" class="input" style="width:200px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">手机号码：</td>
      <td>
        <input type="text" name="fax" maxlength="20" class="input" style="width:200px" />
         <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">通信地址：</td>
      <td>
        <input type="text" name="address" maxlength="100" class="input" style="width:300px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">电子邮箱：</td>
      <td>
        <input type="text" name="email" maxlength="50" class="input" style="width:300px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">专业特长：</td>
      <td>
        <input type="text" name="products_num" maxlength="250" class="input" style="width:399px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="80" align="right">教育经历：</td>
      <td>
        <textarea name="content"  rows="10" class="textarea" style="width:399px" ></textarea>
        <font style='color:red'>*</font>
        <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>


    <tr>
      <td width="80" align="right">工作经历：</td>
      <td>
        <textarea name="custom2"  rows="10" class="textarea" style="width:399px" ></textarea>
        <font style='color:red'>*</font>
        <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>


    <tr>
      <td width="80" align="right">验 证 码：</td>
      <td><div style="height:28px;white-space:nowrap;float:left;margin-right:1px">
<input type="text" name="ImgCode" style="width:39px" maxlength="4"  class="input" />
</div>
<div style="height:28px;white-space:nowrap;float:left">
<img id="codeimg" src="../random/imgCode.php" width="60" height="20" style="border:1px #dddddd solid">
</div>
<span id="getImgCode" style="cursor:pointer;margin-left:10px;line-height:20px">看不清？更换一张</span>
</td>
    </tr>
	<tr>
      <td width="80" align="right"></td>
      <td>
	  </td>
    </tr>
    <tr>
      <td width="80" align="right">&nbsp;</td>
      <td height="30">
        <input type="submit" name="ccc" value="提交" class="submit">
        <input type='hidden' name='act' value='formsend'>
        <input name='jobid' type='hidden' id="jobid" value='4'>
	  </td>
    </tr>
  </table>
</form>


</div>
</div>

</div>
</div>

</div>



{include file="inc/buttom.html"}
