
    	<div id="footer" style="padding-top:5px;" align="center">
			{$Buttom.comm_value}
    	</div>
    </div>

<script language="javascript" type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="javascript" type="text/javascript" src="js/navshow.js"></script>
<script language="javascript" type="text/javascript" src="js/Scroll.js"></script>
<script language="javascript" type="text/javascript" src="js/Scroll1.js"></script>

 {include file="inc/qq_index.html"}

</body>
</html>
