

<div id="footer">
		<div>
			<a href="index.php">{$lang.ShouYe}</a> |
			<a href="aboutme.php" target="_blank">{$lang.GongSiJianJie}</a> |
			<a href="product.php" target="_blank">{$lang.ChanPinZhanShi}</a> |
			<a href="news.php">{$lang.XinWenZiXin}</a> |
			<a href="college.php">{$lang.JiaMengDaiLi}</a>|
			<a href="agent.php">{$lang.BaoDiXueYuan}</a> |
			<a href="contactus.php">{$lang.LianXiWoMen}</a>
		</div>
		<div style="padding-top: 5px;">
			<!--<p>Copyright &copy; {$lang.Copy}</p>-->
			<p>Copyright @ 2008 BTW Essential Oils. All rights reserved.<br>
			         Tel: (212)734-6000 Fax: (212) 734-6001	<br>
			         12 East 86th Street, NewYork,NY10028 USA<br>
			</p>
		</div>

		<div style="clear:both;">
			<img src="images/smalllogo.jpg" width="100" height="44"/>

					<img src="images/inc-5000.png" width="59" height="41" style="padding-left:20px;" />
					<script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','59','height','50','src','flv/yinpin','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','flv/yinpin' ); //end AC code
        </script>
		<noscript>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="59" height="50">
          <param name="movie" value="flv/yinpin.swf" />
          <param name="quality" value="high" />
          <embed src="flv/yinpin.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="59" height="50"></embed>
        </object>
        </noscript>
					</div>

	</div>
	<!--footer end-->


</body>
</html>