<HTML>
<HEAD>
<TITLE>file plus</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<script language="JavaScript" type="text/javascript" src="../js/doTable.js"></script>
</HEAD>
<BODY>
<table id="tb" ><!--注意id，与JS中的要相对应-->
  <tr id="0">
  	<td>图片1：<input type="file" name="user_upload_file[]" /></td>
  </tr>
</table>
<span style="padding-left:300px;"><input type="button" onclick="subdata();" value="添加一行" style="height: 25px;"></span><br><br>
<font style="color: red;">PS:删除图片时请依次从下往上删,否则图片序号会出现错误,但是不影响上传。</font><br><br>
</BODY>
</HTML>