
<div id='bottom' style='width:950px;height:122px;background:none transparent scroll repeat 0% 0%'>


<!-- 底部菜单（一级） -->

<div id='pdv_10813' class='pdv_class'   style='width:394px;height:20px;top:54px;left:277px; z-index:1'>
<div id='spdv_10813' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注栏目
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="css/A.css" rel="stylesheet" type="text/css" />
<div id="bottommenu">

<a href="page/html/company.php" target="_self">关于我们</a>|

<a href="page/contact/contact.php" target="_self">联系方式</a>|

<a href="page/contact/feedback.php" target="_self">信息反馈</a>|

<a href="page/contact/advise.php" target="_self">投诉建议</a>|

<a href="job/index.php" target="_self">诚聘英才</a>|

<a href="advs/link/" target="_self">友情链接</a>|

</div>


</div>
</div>

</div>
</div>

<!-- 底部信息编辑区 -->

<div id='pdv_10807' class='pdv_class'  title='脚注信息' style='width:950px;height:40px;top:80px;left:0px; z-index:6'>
<div id='spdv_10807' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<div style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
<div style="MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center">版权所有 Copyright(C)2009-2010 杭州某某某防火材料公司</div>
</div>

</div>
</div>

</div>
</div>

<!-- 图片/FLASH -->

<div id='pdv_13942' class='pdv_class'  title='图片' style='width:950px;height:30px;top:0px;left:0px; z-index:14'>
<div id='spdv_13942' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		图片
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">


<img src="images/1267591455.gif" border="0" width="100%" />

</div>
</div>

</div>
</div>
</div>
</div><div id='bodyex'>

</div>

</body>
</html>
