<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<TITLE>后台管理</TITLE>
		<META http-equiv=Content-Type content="text/html; charset=GBK">
		<LINK href="../css/private.css" type=text/css rel=stylesheet>
		<script src="../js/preview.js"></script>
	</HEAD>
	<BODY>
		<TABLE class=navi cellSpacing=1 align=center border=0>
			<TBODY>
				<TR>
					<TH>
						后台 >> 案例管理 >> 新增客户案例
					</TH>
				</TR>
			</TBODY>
		</TABLE>
		<BR>
		<form id="addCust" action="action/action.php" method="post" enctype="multipart/form-data">
			<table border=0 cellspacing=1 class=form>
			<tr>
				<th colspan="3">
					新增客户案例
				</th>
			</tr>
			<tr>
				<td width="40%" align=right>
					客户名称
				</td>
				<td>
					<select id="custid" name="custid">
						<option value="-1">请选择客户名称</option>
						{section name=list loop=$custList}
						<option value="{$custList[list].id}">{$custList[list].cust_name}</option>
						{/section}
					</select>
				</td>
			</tr>
			<tr>
				<td width="40%" align=right>
				方案名称
				</td>
				<td>
					<input type="text" name="case_name" size="30" maxlength=30 />
				</td>
			</tr>
			<tr>
				<td align=right>
					方案图片
				</td>
				<td>
					<input type="file" name="upfile"/>
				</td>
			</tr>
			<tr>
				<td align=right>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="button" name="goback" style="height: 25px;"
						value="取消返回" onclick="window.history.back()">&nbsp;
					<input type="button" name="add_prod" style="height:25px;"
						value="新增客户案例" onclick="this.form.submit();">
					<input type="hidden" name="task" value="addCustCase">
				</td>
			</tr>
		</table>
		</form>
		<br>
	</BODY>
</HTML>
