<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=GBK">
		<script type="text/javascript" src="../../resources/js/global.js"></script>
		<script type="text/javascript"
			src="../../resources/js/jquery-1.4.2.js"></script>
		<title>test.html</title>

		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="this is my page">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">

		<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->


	</head>

	<body>
		<table width="446" align="center">
			<tr>
				<td height="5" align="center">
					<script language='javascript'>
	var wid = 950;
	var hei = 25;
	var file = 1;
	var mark = 2;
	var title = 'OK%u5927%u4F53%u575B';
	var url = 'http://www.oksports.com.cn';
	var timezone = '%2B0800';
	var dstbox = '';
	document
			.write('<iframe src =http://free.7m.cn/U_fLeftRight.aspx?width='
					+ wid
					+ '&height='
					+ hei
					+ '&file='
					+ file
					+ '&mark='
					+ mark
					+ '&title='
					+ title
					+ '&urls='
					+ url
					+ '&timezone="'
					+ timezone
					+ '"&dstbox='
					+ dstbox
					+ '  height ='
					+ (parseInt(hei) + 2)
					+ ' width = 100% frameborder = no border = 0 marginwidth = 0 marginheight = 0 scrolling = no allowtransparency = yes></iframe>');
</script>
				</td>
			</tr>
			<tr>
				<td>
					<iframe id="baiduframe" marginwidth="0" marginheight="0"
						scrolling="no" framespacing="0" vspace="0" hspace="0"
						frameborder="0" width="950" height="40"
						src="http://unstat.baidu.com/bdun.bsc?tn=oksports_pg&cv=0&cid=1222045&csid=302&bgcr=1169EE&ftcr=000000&urlcr=0000ff&tbsz=260&sropls=1,2,3,4,5,6&defid=2">
					</iframe>

				</td>
			</tr>
			<tr>
				<td align="center">
					<script language='javascript'>
	var timeZone = '%2B0800';
	var dstbox = '';
	var cpageBgColor = 'FFFFFF';
	var wordAd = 'OK%u5927%u4F53%u575B';
	var wadurl = 'http://www.oksports.com.cn';
	var width = '930';
	var tableFontSize = '12';
	var cborderColor = '78C9E6';
	var ctdColor1 = 'DCF0F8';
	var ctdColor2 = 'FFFFFF';
	var clinkColor = '248DB5';
	var cdateFontColor = '4EB4DC';
	var cdateBgColor = 'FFFFFF';
	var scoreFontSize = '12';
	var cteamFontColor = '000000';
	var cgoalFontColor = 'FF0000';
	var cgoalBgColor = 'FFFFE1';
	var cremarkFontColor = 'FF0000';
	var mark = 'gb';
	var cremarkBgColor = 'FFFFE1';
	var Skins = '9';
	var teamWeight = '400';
	var scoreWeight = '700';
	var goalWeight = '700';
	var fontWeight = '700';
	var away = '1';
	var red = '1';
	document
			.write("<iframe src='http://free.7m.cn/live.aspx?mark="
					+ mark
					+ "&TimeZone="
					+ timeZone
					+ "&wordAd="
					+ wordAd
					+ "&cpageBgColor="
					+ cpageBgColor
					+ "&wadurl="
					+ wadurl
					+ "&width="
					+ width
					+ "&tableFontSize="
					+ tableFontSize
					+ "&cborderColor="
					+ cborderColor
					+ "&ctdColor1="
					+ ctdColor1
					+ "&ctdColor2="
					+ ctdColor2
					+ "&clinkColor="
					+ clinkColor
					+ "&cdateFontColor="
					+ cdateFontColor
					+ "&cdateBgColor="
					+ cdateBgColor
					+ "&scoreFontSize="
					+ scoreFontSize
					+ "&cteamFontColor="
					+ cteamFontColor
					+ "&cgoalFontColor="
					+ cgoalFontColor
					+ "&cgoalBgColor="
					+ cgoalBgColor
					+ "&cremarkFontColor="
					+ cremarkFontColor
					+ "&cremarkBgColor="
					+ cremarkBgColor
					+ "&Skins="
					+ Skins
					+ "&teamWeight="
					+ teamWeight
					+ "&scoreWeight="
					+ scoreWeight
					+ "&goalWeight="
					+ goalWeight
					+ "&fontWeight="
					+ fontWeight
					+ "&DSTbox="
					+ dstbox
					+ "&away="
					+ away
					+ "&red="
					+ red
					+ "'  height='3000' width='950' scrolling='yes' border='0' frameborder='0'></iframe>")
</script>
				</td>
			</tr>
		</table>
	</body>
</html>
<script type="text/javascript" src="../../resources/js/page.js"></script>
