
{include file="inc/top.html"}

<div id='content' style='width:950px;height:460px;background:url(images/1263271146.gif);margin:0px auto'>


<!-- 网页标题(菜单) -->

<div id='pdv_14152' class='pdv_class'  title='栏目导航' style='width:163px;height:221px;top:23px;left:21px; z-index:4'>
<div id='spdv_14152' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_nav.gif) no-repeat">
</div>

{include file="inc/aboutus_left.html"}

</div>
</div>

</div>
</div>

<!-- 多行文字 -->

<div id='pdv_14149' class='pdv_class'  title='联系我们' style='width:163px;height:206px;top:254px;left:21px; z-index:7'>
<div id='spdv_14149' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_contactus.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">

<div style="padding:0px 0px 14px 3px;color:#333;font:12px/20px Verdana, Arial, Helvetica, sans-serif;">
{$contactUsInfo}
</div>

</div>
</div>
</div>

</div>
</div>

<!-- 职位翻页检索 -->

<div id='pdv_14157' class='pdv_class'  title='职位查询' style='width:665px;height:353px;top:105px;left:251px; z-index:10'>
<div id='spdv_14157' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		职位查询
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="css/jobquery.css" rel="stylesheet" type="text/css" />

<div id="jobquery">
<ul >
	<li class="cap">

	<div class="bt"><strong>招聘职位</strong></div>
	<div class="cl"><strong>详情</strong></div>
	<div class="au"><strong>招聘人数</strong></div>
	<div class="bk"><strong>工作地点</strong></div>

	</li>
</ul>
<ul class="queryul">
{section name=list loop=$jobRows}
<li>

	<div class="bt"><a href="jobinfo.php?jobid={$jobRows[list].id}" target="_self" >{$jobRows[list].job_name}</a></div>
	<div class="cl"><a href="jobinfo.php?jobid={$jobRows[list].id}" target="_self" >详情</a></div>
	<div class="au">{$jobRows[list].job_cnt}</div>
	<div class="bk">{$jobRows[list].work_address}</div>
</li>
{sectionelse}
<li>

	<div class="bt">没有所要查询的数据...</div>
	<div class="cl">&nbsp;</div>
	<div class="au">&nbsp;</div>
	<div class="bk">&nbsp;</div>
</li>
{/section}

</ul>
</div>


<div id="showpages">
	 {$page}
</div>






</div>
</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_14156' class='pdv_class'  title='当前位置' style='width:670px;height:40px;top:24px;left:248px; z-index:11'>
<div id='spdv_14156' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(images/title/title_contactus_address.gif) no-repeat">
	<div style="float:right;width:8px;height:43px;background:url(images/title/title_contactus_address.gif) -892px 0px no-repeat;"></div>

<link href="css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
您现在的位置：<a href="index.php">深圳市琢典标识有限公司
</a> &gt; 诚聘英才</a>

</div>

</div>

</div>
</div>
</div>

{include file="inc/buttom.html"}