
{include file="inc/top.html"}

<div id='content' style='width:950px;height:1531px;background:url(images/1263271146.gif);margin:0px auto'>


<!-- 网页标题(菜单) -->

<div id='pdv_14165' class='pdv_class'  title='栏目导航' style='width:163px;height:221px;top:23px;left:21px; z-index:4'>
<div id='spdv_14165' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_nav{if ""!=$clang}_{$clang}{/if}.gif) no-repeat">
</div>

{include file="inc/aboutus_left.html"}

</div>
</div>

</div>
</div>

<!-- 多行文字 -->

<div id='pdv_14162' class='pdv_class'  title='联系我们' style='width:163px;height:206px;top:254px;left:21px; z-index:7'>
<div id='spdv_14162' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_contactus{if ""!=$clang}_{$clang}{/if}.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">

<div style="padding:0px 0px 14px 3px;color:#333;font:12px/20px Verdana, Arial, Helvetica, sans-serif;">
{$contactUsInfo}
</div>

</div>
</div>
</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_14158' class='pdv_class'  title='当前位置' style='width:670px;height:40px;top:24px;left:248px; z-index:10'>
<div id='spdv_14158' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(images/title/title_contactus_address.gif) no-repeat">
	<div style="float:right;width:8px;height:43px;background:url(images/title/title_contactus_address.gif) -892px 0px no-repeat;"></div>

<link href="css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">

{$lang.SiteAddress}:<a href="index.php">{$lang.ComparyName}
</a> &gt; <a href="job.php">{$lang.JobList}</a>
&gt; {$jobinfo.job_name|truncate:50:".."}

</div>

</div>

</div>
</div>

<!-- 应聘申请表单 -->

<div id='pdv_14170' class='pdv_class'  title='应聘申请' style='width:665px;height:829px;top:700px;left:251px; z-index:11'>
<div id='spdv_14170' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:block;background:#f5f5f5;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		{$lang_job.Apply}
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="css/jobform.css" rel="stylesheet" type="text/css" />
<div  id="notice" class="noticediv"></div>
<form id="jobform" method="post" action="post/job.action.php" name="jobform">
<table width="100%" border="0" cellspacing="0" cellpadding="3" >

<tr>
      <td width="160" align="right">{$lang_job.Name}：</td>
      <td>
        <input type="text" name="title" value="" class="input" style="width:200px" maxlength="30"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="160" align="right">{$lang_job.Gender}：</td>
      <td>
        <select name="sex" >
		<option value='{$lang_job.Gender_Male}' >{$lang_job.Gender_Male}</option><option value='{$lang_job.Gender_Female}' >{$lang_job.Gender_Female}</option>
        </select>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div> </td>
    </tr>


<tr>
      <td width="160" align="right">{$lang_job.Birthdate}：</td>
      <td>
        <input type="text" name="name" value="" class="input" style="width:200px"  maxlength="10"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="160" align="right">{$lang_job.MaritalStatus}：</td>
      <td>
        <select name="custom1" >
		<option value='{$lang_job.MaritalStatus_Nnmarried}' >{$lang_job.MaritalStatus_Nnmarried}</option><option value='{$lang_job.MaritalStatus_Married}' >{$lang_job.MaritalStatus_Married}</option>
        </select>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div> </td>
    </tr>


<tr>
      <td width="160" align="right">{$lang_job.GraduateSchool}：</td>
      <td>
        <input type="text" name="company" value="" class="input" style="width:300px"  maxlength="50"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="160" align="right">{$lang_job.HighestDegree}：</td>
      <td>
        <input type="text" name="company_address" value="" class="input" style="width:200px"  maxlength="20"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="160" align="right">{$lang_job.GraduationTime}：</td>
      <td>
        <input type="text" name="products_id" value="" class="input" style="width:200px"  maxlength="50"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="160" align="right">{$lang_job.GraduationProfessional}：</td>
      <td>
        <input type="text" name="products_name" value="" class="input" style="width:200px"  maxlength="10"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="160" align="right">{$lang_job.Telephone}：</td>
      <td>
        <input type="text" name="tel" value="" class="input" style="width:200px"  maxlength="20"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="160" align="right">{$lang_job.Mobile}：</td>
      <td>
        <input type="text" name="fax" value="" class="input" style="width:200px"  maxlength="20"/>
         <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="160" align="right">{$lang_job.Address}：</td>
      <td>
        <input type="text" name="address" value="" class="input" style="width:300px"  maxlength="250"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="160" align="right">{$lang_job.Email}：</td>
      <td>
        <input type="text" name="email" value="" class="input" style="width:300px"  maxlength="100"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="160" align="right">{$lang_job.Expertise}：</td>
      <td>
        <input type="text" name="products_num" value="" class="input" style="width:399px"  maxlength="250"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="160" align="right">{$lang_job.EducationExperience}：</td>
      <td>
        <textarea name="content"  rows="10" class="textarea" style="width:399px" ></textarea>
        <font style='color:red'>*</font>
        <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>


    <tr>
      <td width="160" align="right">{$lang_job.WorkExperience}：</td>
      <td>
        <textarea name="custom2"  rows="10" class="textarea" style="width:399px" ></textarea>
        <font style='color:red'>*</font>
        <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>


    <tr>
      <td width="160" align="right">{$lang_job.VerificationCode}：</td>
      <td><div style="height:28px;white-space:nowrap;float:left;margin-right:1px">
<input type="text" name="ImgCode" style="width:39px"  class="input"  maxlength="4"/>
</div>
<div style="height:28px;white-space:nowrap;float:left">
<img id="codeimg" src="action/random/imgcode.php" width="60" height="20" style="border:1px #dddddd solid">
</div>
<span id="getImgCode" style="cursor:pointer;margin-left:10px;line-height:20px">{$lang_job.Replacement}</span>
</td>
    </tr>
	<tr>
      <td width="80" align="right"></td>
      <td>
	  </td>
    </tr>
    <tr>
      <td width="80" align="right">&nbsp;</td>
      <td height="30">
        <input type="submit" name="ccc" value="{if ""!=$clang}Submit{else}提交{/if}" class="submit">
        <input type='hidden' name='task' value='formSendByJob'>
        <input name='jobid' type='hidden' id="jobid" value='{$jobinfo.id}'>
	  </td>
    </tr>
  </table>
</form>


</div>
</div>

</div>
</div>

<!-- 职位信息详情 -->

<div id='pdv_14169' class='pdv_class'  title='职位信息' style='width:665px;height:411px;top:105px;left:251px; z-index:12'>
<div id='spdv_14169' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		职位信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="css/jobcontent.css" rel="stylesheet" type="text/css" />
<div id="jobcontent">

	<div class="jobitem">
	{$lang_job.Position}：{$jobinfo.job_name}<br />
	{$lang_job.PositionType}：{$jobinfo.job_type}<br />
	{$lang_job.WorkExperience}：{$jobinfo.work_exp}<br />
	{$lang_job.Degree}：{$jobinfo.college}<br />
	{$lang_job.Number}：{$jobinfo.job_cnt}名<br />
	{$lang_job.CreateTime}：{$jobinfo.create_date}<br />

  </div>

   <div class="jobtit">
  {$lang_job.JobDesc}
   </div>
  <div class="jobintro">
  {$jobinfo.job_desc}
  </div>

  <div class="jobtit">
  {$lang_job.Requirement}
   </div>
  <div class="jobintro">
  {$jobinfo.work_need}
  </div>

	<div class="jobcontact">
	{$lang_job.LinkMan}：{$jobinfo.link_man}<br />
	{$lang_job.LinkTelephone}：{$jobinfo.link_phone}<br />
	{$lang_job.LinkEmail}：{$jobinfo.link_mail}<br />
  </div>
</div>

</div>
</div>

</div>
</div>
</div>

{include file="inc/buttom.html"}
