{include file="inc/top.html"}

<div id='content' style='width:950px;height:321px;background:url(images/1263271146.gif);margin:0px auto'>


<!-- 文章一级分类 -->

<div id='pdv_14077' class='pdv_class'  title='栏目导航' style='width:163px;height:143px;top:23px;left:21px; z-index:8'>
<div id='spdv_14077' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_nav{if ""!=$clang}_{$clang}{/if}.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">

<link href="css/newsclass_dolphin.css" rel="stylesheet" type="text/css" />
<div class="newsclass_dolphin">

{section name=list loop=$titleRows}
<a href="news.php?typeid={$titleRows[list].id}" target="_self" class="newsclass_dolphin">{$titleRows[list].news_type}</a>
{/section}


</div>

</div>
</div>
</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_14078' class='pdv_class'  title='当前位置' style='width:670px;height:40px;top:24px;left:248px; z-index:9'>
<div id='spdv_14078' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(images/title/title_contactus_address.gif) no-repeat">
	<div style="float:right;width:8px;height:43px;background:url(images/title/title_contactus_address.gif) -892px 0px no-repeat;"></div>

<link href="css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">

{$lang.SiteAddress}:<a href="index.php">{$lang.ComparyName}
</a> &gt; <a href="news.php" >{$lang.News}</a>

&gt; {$newsinfo.title|truncate:50:".."}

</div>

</div>

</div>
</div>

<!-- 文章搜索表单 -->
<div id='pdv_12663' class='pdv_class'  title='新闻搜索' style='width:163px;height:152px;top:176px;left:21px; z-index:1100'>
<div id='spdv_12663' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:38px;border:0px;padding:0;margin:0;background:url(images/title/title_news_search{if ""!=$clang}_{$clang}{/if}.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">
<link href="css/news_search_dolphin.css" rel="stylesheet" type="text/css" />
<SCRIPT language="javascript" src="js/selectBox.js"></SCRIPT>
<div class="newssearchformzone">
<form id="newssearchform" method="get" action="news.php">
  <div class="newssearchform">
    <select name="typeid" id="typeid" class="box" style="display:none; background:#ffffff; width:140px; height:19px;">
      <option value="0" >{$lang.PleaseChoose}</option>
      {section name=list loop=$titleRows}
	  <option value='{$titleRows[list].id}'>{$titleRows[list].news_type}</option>
	  {/section}
    </select>
	<script>
	makeSelectBox('typeid','');
	</script>
  </div>

    <div class="newssearchform">
    <input name="key" type="text" id="key" value="" style="width:138px;" class="inputtext">
  </div>
  <div class="newssearchform2">
  <input name="imageField" id="button" type="image" src="images/search5{if ""!=$clang}_{$clang}{/if}.gif" >
  </div>
</form>
</div>

</div>
</div>
</div>

</div>
</div>

<!-- 文章正文 -->

<div id='pdv_14088' class='pdv_class'  title='文章正文' style='width:665px;height:214px;top:105px;left:251px; z-index:11'>
<div id='spdv_14088' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		文章正文
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="css/newscontent.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="js/newscontent.js"></script>
<div id="newscontent">
	<div class="newstitle">{$newsinfo.title}</div>

	<div class="info">{$lang.Author}：{$newsinfo.author} &nbsp;&nbsp; {$lang.NewsTime}：{$newsinfo.create_date} &nbsp;&nbsp; {$lang.NewsSize}：【<a  href="javascript:fontZoom(16)">{$lang.NewsSize_L}</a>】【<a  href="javascript:fontZoom(14)">{$lang.NewsSize_M}</a>】【<a   href="javascript:fontZoom(12)">{$lang.NewsSize_S}</a>】</div>
	<div id="memo" class="memo" style="display:none"><span style="color:#ff6600">摘要：</span></div>
	<div id="con" class="con">{$newsinfo.content}</div>

	<div id="contentpages">
	</div>
	<div class="bzone">
	<div class="down" style="display:none">附件下载：<span id="downlink"></span> (已下载0次) <span id="downcentnotice"></span><input type="hidden" id="downcent" value=""></div>
	  <input type="hidden" id="newsid" value="337">
	<div class="tags" style="display:none">标签：</div>
	<div id="banzhu" class="banzhu"></div>
	</div>
</div>
{literal}
<script>
$(function(){
$().contentPages('337');
});
</script>
{/literal}
</div>
</div>

</div>
</div>
</div>
{include file="inc/buttom.html"}