@charset "utf-8";

#foot {
	height:45px;
	padding-top:15px;
	background:url("../images/footBg.gif") repeat-x top;
}

#foot * {
	color:#999999;
}

#foot #link, #foot #copyRight {
	/*width:910px;
	padding-left:50px;*/
	width:960px;
	padding-left:10px;
	margin:0 auto;
	text-align:left;
	margin-top:5px;
}
#foot #link li {
	float:left;
	margin-right:8px;
}
#foot #link li a {
	border-right:solid 1px #999999;
	line-height:100%;
	padding-right:8px;
}


#foot #copyRight {
	clear:both;
	position:relative;
}
#foot #copyRight #sznet110 {
	position:absolute;
	left:5px;
	top:-25px;
}
#foot #copyRight #company {

}
#foot #copyRight #author {
	display:none;
}