<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>

	<!-- 事务管理器 -->
	<bean name="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 动态代理工厂 -->
	<bean name="basicProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!--礼品Dao  -->
	<bean name="presentDao"
		class="com.crm.score.dao.impl.PresentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--礼品服务层Dao -->
	<bean name="presentServiceDao"
		class="com.crm.score.service.dao.impl.PresentServiceDaoImpl">
		<property name="presentDao" ref="presentDao"></property>
	</bean>
	<!--礼品代理类  -->
	<bean name="presentProxy" parent="basicProxy">
	   <property name="target" ref="presentServiceDao"></property>
	</bean>
	<!--礼品action  -->
	<bean name="/admin/present"
		class="com.crm.score.struts.action.PresentAction">
		<property name="presentServiceDao" ref="presentProxy"></property>
	</bean>
	
	<!--积分DAO -->
	<bean name="scoreDao" class="com.crm.score.dao.impl.ScoreDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--客户DAO  -->
	<bean name="clientDao" class="com.crm.client.dao.impl.ClientDaoImpl">
	     <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--积分服务层DAO -->
	<bean name="scoreServiceDao" class="com.crm.score.service.dao.impl.ScoreServiceDaoImpl">
	    <property name="scoreDao" ref="scoreDao"></property>
	    <property name="clientDao" ref="clientDao"></property>
	    <property name="presentDao" ref="presentDao"></property>
	</bean>
	<!-- 积分代理类 -->
	<bean name="scoreProxy" parent="basicProxy">
	    <property name="target" ref="scoreServiceDao"></property>
	</bean>
	<!--积分action  -->
	<bean name="/admin/score" class="com.crm.score.struts.action.ScoreAction">
	   <property name="scoreServiceDao" ref="scoreProxy"></property>
	</bean>
	
</beans>