<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
  <!-- 集团DAO -->
	<bean name="groupDao" class="com.crm.group.dao.impl.GroupDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 活动DAO -->
	<bean name="actDao" class="com.crm.group.dao.impl.ActDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 联盟商家DAO -->
	<bean name="unionDao" class="com.crm.club.dao.impl.UnionDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 集团服务层DAO -->
	<bean name="groupServiceDao" class="com.crm.group.service.dao.impl.GroupServiceDaoImpl">
	 <property name="groupDao" ref="groupDao"></property>
	</bean>
	<!-- 活动服务层DAO -->
	<bean name="actServiceDao" class="com.crm.group.service.dao.impl.ActServiceDaoImpl">
	 <property name="actDao" ref="actDao"></property>
	</bean>
	<!-- 联盟商家服务层DAO -->
	<bean name="unionServiceDao" class="com.crm.club.sevice.dao.impl.UnionServiceDaoImpl">
	 <property name="unionDao" ref="unionDao"></property>
	</bean>
	<!-- 集团ACTION -->
    <bean name="/admin/group" class="com.crm.group.struts.action.GroupAction">
     <property name="groupServiceDao" ref="groupProxy"></property>
    </bean>
    <!--俱乐部活动ACTION -->
    <bean name="/admin/activity" class="com.crm.group.struts.action.ActivityAction">
    <property name="actServiceDao" ref="actProxy"></property>
    </bean>
     <!--联盟商家ACTION -->
    <bean name="/admin/union" class="com.crm.club.struts.action.UnionAction">
    <property name="unionServiceDao" ref="unionProxy"></property>
    </bean>
    <!-- 事物管理器 -->
     <bean name="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 动态代理工厂 -->
	<bean name="basicProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<!-- 集团事物DAO -->
	<bean name="groupProxy" parent="basicProxy">
	    <property name="target" ref="groupServiceDao"></property>
	</bean>
	<!-- 活动事物DAO -->
	<bean name="actProxy" parent="basicProxy">
	    <property name="target" ref="actServiceDao"></property>
	</bean>
	<!-- 联盟商家事物DAO -->
	<bean name="unionProxy" parent="basicProxy">
	    <property name="target" ref="unionServiceDao"></property>
	</bean>
</beans>