<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>

	<!-- 事务管理器 -->
	<bean name="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 动态代理工厂 -->
	<bean name="basicProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean name="vipDao" class="com.crm.pub.dao.impl.VipDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<!-- 数字字典 -->	
	<bean name="dataDao" class="com.crm.sysdo.dao.impl.DataDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<!--服务层系统  数字字典-->
	<bean name="dataServiceDao"
		class="com.crm.sysdo.service.impl.DataServiceDaoImpl">
		<property name="dataDao" ref="dataDao"></property>
	</bean>
	<bean name="dataProxy" parent="basicProxy">
	    <property name="target" ref="dataServiceDao"></property>
	</bean>
	<!--数字字典ACTION-->
	<bean name="/admin/data"
		class="com.crm.sysdo.struts.action.DataAction">
		<property name="dataServiceDao" ref="dataProxy"></property>
		<property name="perDao" ref="perDao"></property>
	</bean>

	<bean name="userDao" class="com.crm.pub.dao.impl.UserDaoImpl">
	   <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!--客户基本信息-->
	<bean name="clientDao"
		class="com.crm.client.dao.impl.ClientDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="clientInfoDao"
		class="com.crm.client.dao.impl.ClientInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--服务层客户信息-->
	<bean name="clientServiceDao"
		class="com.crm.client.service.impl.ClientServiceDaoImpl">
		<property name="clientDao" ref="clientDao"></property>
		<property name="clientInfoDao" ref="clientInfoDao"></property>
		<property name="vipDao" ref="vipDao"></property>
		<property name="dataDao" ref="dataDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	<!-- 代理 -->
	<bean name="clientServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="clientServiceDao"></property>
	</bean>

	<!--客户信息ACTION-->
	<bean name="/admin/client"
		class="com.crm.client.struts.action.ClientAction">
		<property name="clientServiceDao" ref="clientServiceDaoProxy"></property>
	</bean>


	<!-- 规则 -->
	<bean name="ruleDao" class="com.crm.client.dao.impl.RuleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="ruleServiceDao"
		class="com.crm.client.service.impl.RuleServiceDaoImpl">
		<property name="ruleDao" ref="ruleDao"></property>
		<property name="dataDao" ref="dataDao"></property>
	</bean>
	<bean name="ruleServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="ruleServiceDao"></property>
	</bean>
	<bean name="/admin/rule"
		class="com.crm.client.struts.action.RuleAction">
		<property name="ruleServiceDao" ref="ruleServiceDaoProxy"></property>
	</bean>
	
	
	<!-- 业务 -->
	<bean name="businessDao" class="com.crm.client.dao.impl.BusinessDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="businessServiceDao"
		class="com.crm.client.service.impl.BusinessServiceDaoImpl">
		<property name="clientDao" ref="clientDao"></property>
		<property name="businessDao" ref="businessDao"></property>		
	</bean>
	<bean name="businessServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="businessServiceDao"></property>
	</bean>
	<bean name="/admin/business"
		class="com.crm.client.struts.action.BusinessAction">
		<property name="businessServiceDao" ref="businessServiceDaoProxy"></property>
	</bean>
	
	
	<!-- dept -->
	<bean name="deptDao" class="com.crm.sysdo.dao.impl.DeptDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="deptServiceDao"
		class="com.crm.sysdo.service.impl.DeptServiceDaoImpl">
		<property name="deptDao" ref="deptDao"></property>
	</bean>
	<bean name="deptServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="deptServiceDao"></property>
	</bean>
	<bean name="/admin/dept"
		class="com.crm.sysdo.struts.action.DeptAction">
		<property name="deptServiceDao" ref="deptServiceDaoProxy"></property>
		<property name="perDao" ref="perDao"></property>		
	</bean>
	
	<!-- staff -->
	<bean name="staffDao" class="com.crm.sysdo.dao.impl.StaffDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="staffServiceDao"
		class="com.crm.sysdo.service.impl.StaffServiceDaoImpl">
		<property name="staffDao" ref="staffDao"></property>
	</bean>
	<bean name="staffServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="staffServiceDao"></property>
	</bean>
	<bean name="/admin/staff"
		class="com.crm.sysdo.struts.action.StaffAction">
		<property name="staffServiceDao" ref="staffServiceDaoProxy"></property>
		<property name="perDao" ref="perDao"></property>	
		<property name="deptServiceDao" ref="deptServiceDao"></property>			
	</bean>
	
	<!-- sickbed -->
	<bean name="sickbedDao" class="com.crm.sysdo.dao.impl.SickbedDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="sickbedServiceDao"
		class="com.crm.sysdo.service.impl.SickbedServiceDaoImpl">
		<property name="sickbedDao" ref="sickbedDao"></property>
	</bean>
	<bean name="sickbedServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="sickbedServiceDao"></property>
	</bean>
	<bean name="/admin/sickbed"
		class="com.crm.sysdo.struts.action.SickbedAction">
		<property name="sickbedServiceDao" ref="sickbedServiceDaoProxy"></property>
		<property name="perDao" ref="perDao"></property>
		<property name="deptServiceDao" ref="deptServiceDao"></property>		
	</bean>
	
	<!-- collect -->
	<bean name="collectDao" class="com.crm.sysdo.dao.impl.CollectDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="collectServiceDao"
		class="com.crm.sysdo.service.impl.CollectServiceDaoImpl">
		<property name="collectDao" ref="collectDao"></property>
	</bean>
	<bean name="collectServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="collectServiceDao"></property>
	</bean>
	<bean name="/admin/collect"
		class="com.crm.sysdo.struts.action.CollectAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="collectServiceDao" ref="collectServiceDaoProxy"></property>
	</bean>
	
	<!-- goodsType -->
	<bean name="goodsTypeDao" class="com.crm.sysdo.dao.impl.GoodsTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="goodsTypeServiceDao"
		class="com.crm.sysdo.service.impl.GoodsTypeServiceDaoImpl">
		<property name="goodsTypeDao" ref="goodsTypeDao"></property>
	</bean>
	<bean name="goodsTypeServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="goodsTypeServiceDao"></property>
	</bean>
	<bean name="/admin/goodstype"
		class="com.crm.sysdo.struts.action.GoodsTypeAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="goodsTypeServiceDao" ref="goodsTypeServiceDaoProxy"></property>
	</bean>
	
	
	<!-- goods -->
	<bean name="goodsDao" class="com.crm.sysdo.dao.impl.GoodsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="goodsServiceDao"
		class="com.crm.sysdo.service.impl.GoodsServiceDaoImpl">
		<property name="goodsDao" ref="goodsDao"></property>
	</bean>
	<bean name="goodsServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="goodsServiceDao"></property>
	</bean>
	<bean name="/admin/goods"
		class="com.crm.sysdo.struts.action.GoodsAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="goodsServiceDao" ref="goodsServiceDaoProxy"></property>
		<property name="goodsTypeServiceDao" ref="goodsTypeServiceDaoProxy"></property>
	</bean>
	
	
	<!-- icd -->
	<bean name="icdDao" class="com.crm.sysdo.dao.impl.IcdDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="icdServiceDao"
		class="com.crm.sysdo.service.impl.IcdServiceDaoImpl">
		<property name="icdDao" ref="icdDao"></property>
	</bean>
	<bean name="icdServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="icdServiceDao"></property>
	</bean>
	<bean name="/admin/icd"
		class="com.crm.sysdo.struts.action.IcdAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="icdServiceDao" ref="icdServiceDaoProxy"></property>
	</bean>
	
	
	<!-- his -->
	<bean name="hisDao" class="com.crm.ddt.dao.impl.HisDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="hisServiceDao"
		class="com.crm.ddt.service.impl.HisServiceDaoImpl">
		<property name="hisDao" ref="hisDao"></property>
	</bean>
	<bean name="hisServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="hisServiceDao"></property>
	</bean>
	<bean name="/admin/his"
		class="com.crm.ddt.struts.action.HisAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="hisServiceDao" ref="hisServiceDaoProxy"></property>
		<property name="deptServiceDao" ref="deptServiceDaoProxy"></property>
	</bean>
	
	<!-- prove-->
	<bean name="proveDao" class="com.crm.ddt.dao.impl.ProveDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="proveServiceDao"
		class="com.crm.ddt.service.impl.ProveServiceDaoImpl">
		<property name="proveDao" ref="proveDao"></property>
	</bean>
	<bean name="proveServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="proveServiceDao"></property>
	</bean>
	<bean name="/admin/prove"
		class="com.crm.ddt.struts.action.ProveAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="proveServiceDao" ref="proveServiceDaoProxy"></property>
		<property name="deptServiceDao" ref="deptServiceDaoProxy"></property>
	</bean>
	
	<!-- illness-->
	<bean name="illnessDao" class="com.crm.ddt.dao.impl.IllnessDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="illnessServiceDao"
		class="com.crm.ddt.service.impl.IllnessServiceDaoImpl">
		<property name="illnessDao" ref="illnessDao"></property>
	</bean>
	<bean name="illnessServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="illnessServiceDao"></property>
	</bean>
	<bean name="/admin/illness"
		class="com.crm.ddt.struts.action.IllnessAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="illnessServiceDao" ref="illnessServiceDaoProxy"></property>
		<property name="deptServiceDao" ref="deptServiceDaoProxy"></property>
	</bean>
	
	<!-- deformity-->
	<bean name="deformityDao" class="com.crm.ddt.dao.impl.DeformityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="deformityServiceDao"
		class="com.crm.ddt.service.impl.DeformityServiceDaoImpl">
		<property name="deformityDao" ref="deformityDao"></property>
	</bean>
	<bean name="deformityServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="deformityServiceDao"></property>
	</bean>
	<bean name="/admin/deformity"
		class="com.crm.ddt.struts.action.DeformityAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="deformityServiceDao" ref="deformityServiceDaoProxy"></property>
		<property name="deptServiceDao" ref="deptServiceDaoProxy"></property>
	</bean>
	
	
	<!-- medical-->
	<bean name="medicalDao" class="com.crm.ddt.dao.impl.MedicalDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="medicalServiceDao"
		class="com.crm.ddt.service.impl.MedicalServiceDaoImpl">
		<property name="medicalDao" ref="medicalDao"></property>
	</bean>
	<bean name="medicalServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="medicalServiceDao"></property>
	</bean>
	<bean name="/admin/medical"
		class="com.crm.ddt.struts.action.MedicalAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="medicalServiceDao" ref="medicalServiceDaoProxy"></property>
		<property name="deptServiceDao" ref="deptServiceDaoProxy"></property>
	</bean>
	
	
	
	<!-- manu 
	<bean name="manuDao" class="com.crm.sysdo.dao.impl.ManufacturerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="manuServiceDao"
		class="com.crm.sysdo.service.impl.ManufacturerServiceDaoImpl">
		<property name="manufacturerDao" ref="manuDao"></property>
	</bean>
	<bean name="manuServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="manuServiceDao"></property>
	</bean>
	<bean name="/admin/manu"
		class="com.crm.sysdo.struts.action.ManufacturerAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="manuServiceDao" ref="manuServiceDaoProxy"></property>
	</bean>
	-->
	<!-- registertype -->
	<bean name="registerTypeDao" class="com.crm.sysdo.dao.impl.RegisterTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="registerTypeServiceDao"
		class="com.crm.sysdo.service.impl.RegisterTypeServiceDaoImpl">
		<property name="registerTypeDao" ref="registerTypeDao"></property>
	</bean>
	<bean name="registerTypeServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="registerTypeServiceDao"></property>
	</bean>
	<bean name="/admin/regType"
		class="com.crm.sysdo.struts.action.RegisterTypeAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="registerTypeServiceDao" ref="registerTypeServiceDaoProxy"></property>
	</bean>
	
	<!-- toolinfo -->
	<bean name="toolinfoDao" class="com.crm.sysdo.dao.impl.ToolinfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="toolinfoServiceDao"
		class="com.crm.sysdo.service.impl.ToolinfoServiceDaoImpl">
		<property name="toolinfoDao" ref="toolinfoDao"></property>
	</bean>
	<bean name="toolinfoServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="toolinfoServiceDao"></property>
	</bean>
	<bean name="/admin/toolinfo"
		class="com.crm.sysdo.struts.action.ToolinfoAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="toolinfoServiceDao" ref="toolinfoServiceDaoProxy"></property>
	</bean>
	
	<!-- toolsave -->
	<bean name="toolSaveDao" class="com.crm.sysdo.dao.impl.ToolSaveDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="toolSaveServiceDao"
		class="com.crm.sysdo.service.impl.ToolSaveServiceDaoImpl">
		<property name="toolSaveDao" ref="toolSaveDao"></property>
	</bean>
	<bean name="toolSaveServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="toolSaveServiceDao"></property>
	</bean>
	<bean name="/admin/toolsave"
		class="com.crm.sysdo.struts.action.ToolSaveAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="toolSaveServiceDao" ref="toolSaveServiceDaoProxy"></property>
	</bean>
	
	<!-- file -->
	<bean name="fileDao" class="com.crm.sysdo.dao.impl.FileDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="fileServiceDao"
		class="com.crm.sysdo.service.impl.FileServiceDaoImpl">
		<property name="fileDao" ref="fileDao"></property>
	</bean>
	<bean name="fileServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="fileServiceDao"></property>
	</bean>
	<bean name="/admin/file"
		class="com.crm.sysdo.struts.action.FileAction">
		<property name="perDao" ref="perDao"></property>	
		<property name="fileServiceDao" ref="fileServiceDaoProxy"></property>
		<property name="userServiceDao" ref="userProxy"></property>
	</bean>
	
	
	
	<!-- 客户 -->
	<bean name="custDao" class="com.crm.op.dao.impl.CustDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="custServiceDao"
		class="com.crm.op.service.impl.CustServiceDaoImpl">
		<property name="custDao" ref="custDao"></property>
	</bean>
	<bean name="custServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="custServiceDao"></property>
	</bean>
	<bean name="/admin/cust"
		class="com.crm.op.struts.action.CustAction">
		<property name="custServiceDao" ref="custServiceDaoProxy"></property>
	</bean>
	
	
	<!-- 预约 -->
	<bean name="orderDao" class="com.crm.op.dao.impl.OrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="orderServiceDao"
		class="com.crm.op.service.impl.OrderServiceDaoImpl">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	<bean name="orderServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="orderServiceDao"></property>
	</bean>	
	<bean name="/admin/order"
		class="com.crm.op.struts.action.OrderAction">
		<property name="orderServiceDao" ref="orderServiceDaoProxy"></property>
	</bean>
	
	
	<!-- 预存 -->
	<bean name="cardFeeDao" class="com.crm.op.dao.impl.CardFeeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="cardFeeServiceDao"
		class="com.crm.op.service.impl.CardFeeServiceDaoImpl">
		<property name="cardFeeDao" ref="cardFeeDao"></property>
	</bean>
	<bean name="cardFeeServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="cardFeeServiceDao"></property>
	</bean>	
	<bean name="/admin/cardfee"
		class="com.crm.op.struts.action.CardFeeAction">
		<property name="cardFeeServiceDao" ref="cardFeeServiceDaoProxy"></property>
		<property name="perDao" ref="perDao"></property>	
		<property name="custServiceDao" ref="custServiceDaoProxy"></property>
	</bean>
	
	
	<!-- 挂号 -->
	<!-- 挂号service -->
	<bean name="regDao" class="com.crm.op.dao.impl.RegDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="regServiceDao"
		class="com.crm.op.service.impl.RegServiceDaoImpl">
		<property name="regDao" ref="regDao"></property>
	</bean>
	<bean name="regServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="regServiceDao"></property>
	</bean>
	<!-- 挂号划价收费service -->
	<bean name="regFeeDao" class="com.crm.op.dao.impl.RegFeeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="regFeeServiceDao"
		class="com.crm.op.service.impl.RegFeeServiceDaoImpl">
		<property name="regFeeDao" ref="regFeeDao"></property>
	</bean>
	<bean name="regFeeServiceDaoProxy" parent="basicProxy">
		<property name="target" ref="regFeeServiceDao"></property>
	</bean>
	<!-- action -->
	<bean name="/admin/reg"
		class="com.crm.op.struts.action.RegAction">
		<property name="regServiceDao" ref="regServiceDaoProxy"></property>
		<property name="regFeeServiceDao" ref="regFeeServiceDaoProxy"></property>
	</bean>
	
		
	
	
	
</beans>