<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />

<title>{$seo.title}</title>
<meta name="keywords" content="{$seo.keyword}" />
<meta name="description" content="{$seo.desc}" />
{literal}
<link href="css/css.css" rel="stylesheet" type="text/css">
<style type="text/css">
#body #menu dl ul li#module198 {
}
#body #menu dl ul li#module198 a {
}
</style>
</head>
<body id="detailPage" class="typeCode193">

<script src="js/common.js" type="text/javascript"></script>
<script src="js/mt.js" type="text/javascript"></script>
<script src="js/reflection.js" type="text/javascript"></script>
<script language="javascript">
lytebox_doAnimations=true;
</script>
<script type="text/javascript" language="javascript" src="js/lytebox.js"></script>
<link rel="stylesheet" href="css/lytebox.css" type="text/css" media="screen" />
<div id="container">
<div id="innerContainer">
<div id="head">
  <div id="logo"><a href="\">
    <img src='images/logo.png'/>
    </a></div>
  <div id="quickBar">
    <ul>

      <li id="quickBar_home"><a href="/index.php">网站首页</a></li>

    </ul>
  </div>
  <div id="navigation">
    <ul>
      <li id="hello">今天是2012-2-3, 欢迎访问本网站!</li>
   			 {/literal}
   			  {section name=list loop=$menulist}
		      	  {assign var=params value=1}
			      {if $menulist[list].pid=='-1'}
				      <li id="navigation_{$menulist[list].remark}"><a href="{$menulist[list].url}">{$menulist[list].name}</a>

					        {section name=lt loop=$menulist}
				      			{if $menulist[lt].pid==$menulist[list].id}
						      		{assign var=params value=0}
					      		{/if}
				      		{/section}

							{if $params==0}
					        <ul id='sub_{$menulist[list].id}' style="z-index:9900">

					        {/if}

					        {section name=lt loop=$menulist}
				      			{if $menulist[lt].pid==$menulist[list].id}
						      		<li><a href='{$menulist[lt].url}'>{$menulist[lt].name}</a></li>
					      		{/if}
				      		{/section}
				      		{if $params==0}
					      	</ul>
					      	{/if}
				      </li>
			      {/if}
		      {/section}
		      {literal}





    </ul>
  </div>
</div>
<script type="text/javascript">
window.addEvent('domready', function(){
	if ($("navigation_197")) {
		$("navigation_197").className="navigationOverStyle";
	}
	if ($("menu_193")) {
		$("menu_193").className="menuOverStyle";
	}
	if ($$("#menu #module198").length>0) {
		$$("#menu #module198")[0].className="moduleOverStyle noOverStyle";
	}
});
tagEventEffect(sfHover,"li", "navigation");
</script>

    <div id="body">
	        <div id='banner'><div id='picShow_source'><ul><li><p class='pic'><img src='images/content/typeSet193_2010218211851.jpg'/></p><p class='text'>重视用户体验的可用性设计原则，高效的项目流程管理和质量控制体系，以及对工作持续的爱好与专注，一直在帮助我们成就更多成功案例...</p></li></ul></div></div>
      <div id="menu">


<ul>
<li id="menu_home"><a href="/index.php">网站首页</a></li>
<li id='menu_193'><a href='/html/case.html' class='menulink'>案例</a><ul><li id='module198'><a href='/html/case_web.html'>企业品牌网站建设</a></li><li id='module199'><a href='/html/case_design.html'>界面风格设计</a></li><li id='module200'><a href='/html/case_portal.html'>行业门户构建</a></li><li id='module263'><a href='/html/case_system.html'>WEB系统开发</a></li></ul></li>
</ul>

<script type="text/javascript">
window.addEvent('domready', function(){

	//左边菜单的动态效果
	var menuAction = $$('#menu li.menuOverStyle li a');
	menuAction.each(function(element) {
		var fx = new Fx.Styles(element, {duration:200, wait:false});

		element.addEvent('mouseleave', function(){
			fx.start({
				'margin-right': 10
			});
		});

		element.addEvent('mouseenter', function(){
			fx.start({
				'margin-right': 0
			});
		});
	});
	//为信息列表添加动态事件
	if ($("textList_simple")) {
		tagEventEffect(sfHover,"li", "textList_simple");
	}
	if ($("picList_sum")) {
		tagEventEffect(sfHover,"li", "picList_sum");
	}


});
</script>
{/literal}
      </div>
      <div id="mainBody">
              <div class='clearfloat'></div>
        <div id="position">首页 > <a href='main.asp?typeCode=193&id_module=193,198,199,200,263'>案例</a> &gt; 企业品牌网站建设</div>
        <div id="title">企业品牌网站建设</div>
        <div id="content">
          <div class='title'>{$case.case_name}</div><div id='picShow_thumbs'>
          <ul>
          {if $case.case_pic!=""}
          <li>
	          <p class='pic'>
	          	<a href='{$case.case_pic}' title='附图' rel='lytebox[plants]' style="background-image:url('{$case.case_pic}')">
	          		<img title='附图' alt='附图' src='images/spacer.gif'/>
	          	</a>
	          </p>
			  <p class='text'>附图</p>
		  </li>
		  {/if}
		  {if $case.case_pic_a!=""}
          <li>
          	<p class='pic'>
          		<a href='{$case.case_pic_a}' title='附图' rel='lytebox[plants]' style="background-image:url('{$case.case_pic_a}')">
          			<img title='附图' alt='附图' src='images/spacer.gif'/>
          		</a>
          	</p>
          	<p class='text'>附图</p>
          </li>
          {/if}
          {if $case.case_pic_b!=""}
          <li>

          	<p class='pic'>
	          	<a href='{$case.case_pic_b}' title='附图' rel='lytebox[plants]' style="background-image:url('{$case.case_pic_b}')">
	          		<img title='附图' alt='附图' src='images/spacer.gif'/>
	          	</a>
          	</p>
          	<p class='text'>附图</p>
          </li>
          {/if}
          {if $case.case_pic_c!=""}
          <li>
          	<p class='pic'>
          		<a href='{$case.case_pic_c}' title='附图' rel='lytebox[plants]' style="background-image:url('{$case.case_pic_c}')">
          			<img title='附图' alt='附图' src='images/spacer.gif'/>
          		</a>
          	</p>
          	<p class='text'>附图</p>
          </li>
          {/if}

          </ul></div>
 {literal}
<script type="text/javascript">
window.addEvent('domready', function(){

	//案例图片组效果(横)
	var szNormal = 145, szSmall  = 130, szFull   = 200;
	var kwicks = $$("#picShow_thumbs .pic a");
	var fx = new Fx.Elements(kwicks, {wait: false, duration: 300, transition: Fx.Transitions.Quad.easeOut});
	kwicks.each(function(kwick, i) {
		kwick.addEvent("mouseenter", function(event) {
			var o = {};
			o[i] = {width: [kwick.getStyle("width").toInt(), szFull]}
			kwicks.each(function(other, j) {
				if(i != j) {
					var w = other.getStyle("width").toInt();
					if(w != szSmall) o[j] = {width: [w, szSmall]};
				}
			});
			fx.start(o);
		});
		kwick.addEvent("mouseleave", function(event) {
			var o = {};
			kwicks.each(function(kwick, i) {
				o[i] = {width: [kwick.getStyle("width").toInt(), szNormal]}
			});
			fx.start(o);
		})
	});


});
</script>
{/literal}
<div class='newsSum'>
<h4><a href='#' title='{$case.case_name}'>{$case.case_name}</a></h4>
<p>客户性质：{$case.case_type}</p>
<p>客户名称：{$case.case_cust}</p>
<p><a href='{$case.case_url}' target='_blank'>
<a href='{$case.case_url}' target='_blank'>{$case.case_url}</a>
</a>
</p></div>
<div class='content'>
{$case.case_desc}
</div>
          <div id="toolBar">
            <ul>
              <li class="home">
              <a href="/">返回首页</a>
              </li>
              <li class="top"><a href="#">跳到顶部</a></li>
              <li class="back"><a href="javascript:history.back(-1)">返回上页</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfloat"></div>
    </div>
    <br class="clearfloat" />


{include file="inc/buttom.html"}

</div>
</div>

</body>
</html>
