
	{include file="inc/top.html"}
{literal}

    <div id="body">
      <div id='banner'><div id='picShow_source'><ul><li><p class='pic'><img src='images/content/typeSet197_2010217163240.jpg'/></p><p class='text'>专注@从不懈怠——我们深知，满足您的真正需求并非易事，我们始终以您的角度关注用户的内心所需，凭借专业技术和项目质量控制体系，想你所未想，以领先业界的专业见解为您制定专属方案...这就是我们的态度：专注@从不懈怠。</p></li></ul></div></div>
      <div id="menu">

<ul>
	<li id="menu_home"><a href="/index.php">网站首页</a></li>
	<li id='menu_212'><a href='#' class='menulink'>栏目导航</a>
		<ul>
			<li id='module235'><a href='news.php?type=NEWS'>新闻动态</a></li>
			<li id='module236'><a href='news.php?type=DOC'>技术文档</a></li>
		</ul>
	</li>
</ul>

<script type="text/javascript">
window.addEvent('domready', function(){

	//左边菜单的动态效果
	var menuAction = $$('#menu li.menuOverStyle li a');
	menuAction.each(function(element) {
		var fx = new Fx.Styles(element, {duration:200, wait:false});

		element.addEvent('mouseleave', function(){
			fx.start({
				'margin-right': 10
			});
		});

		element.addEvent('mouseenter', function(){
			fx.start({
				'margin-right': 0
			});
		});
	});
	//为信息列表添加动态事件
	if ($("textList_simple")) {
		tagEventEffect(sfHover,"li", "textList_simple");
	}
	if ($("picList_sum")) {
		tagEventEffect(sfHover,"li", "picList_sum");
	}


});

function fontZoom(size)
{
   document.getElementById('con').style.fontSize=size+'px';
}

</script>
{/literal}
      </div>
      <div id="mainBody">
              <div class='clearfloat'></div>
        <div id="position"><a href='news.php'>资讯中心</a> &gt; {if $newsInfo.remark=='NEWS'}<a href='news.php?type=NEWS'>新闻动态</a>{else}<a href='news.php?type=DOC'>技术文档</a>{/if}&gt;{$newsInfo.title|truncate:"50":".."}</div>
        <div id="title">泛地缘简介</div>
        <div id="content">
          <div class='content'>
			<div id="newscontent">
				<div class="newstitle">{$newsInfo.title}</div>
				{if $newsInfo.remark=='NEWS'}
				<div class="info">来源：{$newsInfo.src} &nbsp;&nbsp;作者：{$newsInfo.author} &nbsp;&nbsp; 发布于：{$newsInfo.create_date} &nbsp;&nbsp; 文字：【<a  href="javascript:fontZoom(16)">大</a>】【<a  href="javascript:fontZoom(14)">中</a>】【<a   href="javascript:fontZoom(12)">小</a>】</div>
				<div id="con" class="con">
				{$newsInfo.content}
				</div>
				{else}
				<div id="con" class="con" style="text-align: center;">
					文件名称：<a href="post/download.action.php?docid={$newsInfo.id}">{$newsInfo.author}</a><br><br>
					<a href="post/download.action.php?docid={$newsInfo.id}"><img src="images/download.jpg" style="border: 0px;"></a>
				</div>
				{/if}
			</div>
          </div>
      </div>
      <div class="clearfloat"></div>
    </div>
    <br class="clearfloat" />


	{include file="inc/buttom.html"}




</div>
</div>

</body>
</html>


