{include file="inc/top.html"}
	  <!--topbannerad-->

	  <!--/topbannerad-->

<div class="container" style="margin-top: 25px;">
	<div class="containerLeft">
	<div style="float: left; width: 134px; text-align: center;">
			<img src="images/qa.jpg">
		</div>
        <div style="width: 605px; float: left;">
			<img src="images/help.gif" />
			<span style="display: inline-block; color: rgb(47, 47, 47); font-size: 12px; line-height: 22px; margin-top: 10px;">
				联盟网的问题在这寻找答案，这将让你快速走上联盟网的旅程，赶快联盟返利的行动吧....
			</span>
        </div>
        <div class="clear" style="height: 20px;"></div>

		<div>
		  	<b class="b1"></b>
			<b class="b2"></b>
			<b class="b3"></b>
			<div class="bc" style="text-align: left;">
				<div class="bt" style="color:#FFFFFF;font-weight:bold;font-size:14px;height:20px;">常见问题</div>
				<div class="bb" style="text-align: left; height: 100%;"
					id="resultDiv">
					<table class="litab" cellpadding="1" cellspacing="1" width="100%">
						{section name=list loop=$newsRow}
							<tr>
								<td style="text-align: left;border-left:0px; padding-left:20px;">
									<a href='helpinfo.php?helpid={$newsRow[list].id}' target="_block"><img src="images/bullet.gif">{$newsRow[list].title}</a>
								</td>
								<td style="border-left:0px;width:100px;">
									{$newsRow[list].create_date|truncate:10:""}
								</td>
							</tr>
							{sectionelse}
							<tr>
								<td style="text-align: center;border-left:0px; padding-left:20px;">
									没有所要查询的数据....
								</td>
							</tr>
							{/section}
						</table>
						<table width="100%">
							<tr>
								<td>{$page}</td>
							</tr>
						</table>
				</div>
				<div class="bt" style="height: 1px;"></div>
			</div>
			<b class="b3"></b>
			<b class="b2"></b>
			<b class="b1"></b>
		</div>
    	<div class="clear"></div>
    </div>

{include file="inc/right.html"}

</div>
{include file="inc/buttom.html"}