{literal}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
		<link rel="stylesheet" href="css/zhuce_css.css" type="text/css">
		<title>联盟网 - 全球首家消费免费促销平台 - 新用户注册</title>
	</head>
	<body>

		<div class="denglu">
			<div class="denglu_top">
				<a href="login.php" alt="登入联盟网" title="登入联盟网"><img src="images/logo.gif" width="292"
						height="52">
				</a>
			</div>
			<div class="zhuce">
				<div class="zhuce_bj_content">
					<div class="zhuce_bj_text">
						获取联盟红利步骤:
						<strong>1.注册联盟网用户</strong> &gt; 2.去联盟商家消费 &gt; 3.回联盟网拿红利
					</div>
					<div class="zhuce_mianfeizc">
						<div class="zhuce_mianfeizc_top"></div>
						<div class="zhuce_mianfeizc_content">
							<div class="zhuce_mianfeizc_biaoti">
								免费注册
							</div>
							<div class="zhuce_mianfeizc_touying"></div>
							<div class="zhuce_mianfeizc_text">
							<form action="post/reg_action.php" method="post" name="formUser" onsubmit="return checkuserinfo();">
     							<TABLE border=0 cellSpacing=1 cellPadding=5 width="80%"  bgColor=#cccccc align="center" style="margin-top:10px;">

									<tbody>
										<TR>
											<TD bgColor=#f1f1f1 height=15 colSpan=2 align=left>
												<SPAN class=style6>>> 会员名和密码</SPAN>
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												用户名：
											</TD>
											<TD width="70%" align=left>
												<P>
													<input name="username" type="text" size="25" id="username"
														onblur="is_registered(this.value);" class="inputBg" maxlength="15"/>
													<span id="username_notice" style="color: #FF0000"> *</span>
													<BR>
														请用英文字母或数字注册，不支持中文及特殊符号如:*%#!-&amp;%$，最长15个字符 </P>
											</TD>
										</TR>

										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												密码：
											</TD>
											<TD align=left>
												<P>
												<input name="password" type="password" id="password1"
													class="inputBg" style="width: 179px;" />
												<span style="color: #FF0000" id="password_notice"> *</span><BR>不支持特殊符号如:*%#!-&amp;%$，最长16个字符</P>
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												确认密码：
											</TD>
											<TD align=left>
												<input name="confirm_password" type="password"
													id="conform_password" class="inputBg" style="width: 179px;" />
												<span style="color: #FF0000" id="conform_password_notice">
													*</span>
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												二级密码：
											</TD>
											<TD align=left>
											<p>
												<input name="password_2" type="password" id="password_2"
													class="inputBg" style="width: 120px;" />
												<span style="color: #FF0000" id="password_notice"> *</span><br>更改会员资料或提现时要用到，必须牢记且与登入密码不一致</p>
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												确认二级密码：
											</TD>
											<TD align=left>
												<input name="confirm_password_2" type="password"
													id="confirm_password_2" class="inputBg" style="width: 120px;" />
												<span style="color: #FF0000" id="conform_password_notice">
													*</span>
											</TD>
										</TR>

										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												email：
											</TD>
											<TD align=left>
											<p>
												<input name="email" type="text" size="25" id="email"
													onblur="checkEmail(this.value);" class="inputBg" />
												<span style="color: #FF0000" id="email_notice"> *</span><br>邮箱必填，用于找回账户密码</p>
											</TD>
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												我的问题：
											</TD>
											<TD width="70%" align=left>
												<INPUT id=Quesion class="inputBg" style="width: 179px;"
													maxLength=18 name=sel_question>
												<BR>
													找回密码的提示问题,例如：我的生日？或
												<SELECT onchange=sel_question.value=this.value size=1
													name=QuesionSel>
													<OPTION selected value=xxx>
														点此选择问题
													</OPTION>
													<OPTION value=我就读的第一所学校的名称？>
														我就读的第一所学校的名称？
													</OPTION>
													<OPTION value=我最喜欢的运动是什么？>
														最喜欢的运动是什么？
													</OPTION>
													<OPTION value=我最喜欢的运动员是谁？>
														最喜欢的运动员是谁？
													</OPTION>
													<OPTION value=我最喜欢的物品的名称？>
														我最喜欢的物品的名称？
													</OPTION>
													<OPTION value=我最喜欢的歌曲？>
														我最喜欢的歌曲？
													</OPTION>
													<OPTION value=我最喜欢的食物？>
														我最喜欢的食物？
													</OPTION>
													<OPTION value=我最爱的人的名字？>
														我最爱的人的名字？
													</OPTION>
													<OPTION value=我最爱的电影？>
														我最爱的电影？
													</OPTION>
													<OPTION value=我妈妈的生日？>
														我妈妈的生日？
													</OPTION>
													<OPTION value=我的初恋日期？>
														我的初恋日期？
													</OPTION>
												</SELECT>
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												问题答案：
											</TD>
											<TD width="70%" align=left>
												<INPUT id=passwd_answer class="inputBg" style="width: 179px;"
													maxLength=18 name=passwd_answer>
													<br>找回密码的答案
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD bgColor=#f1f1f1 vAlign=center colSpan=2 align=left>
												<SPAN class=style7>&gt;&gt; 会员详细资料</SPAN>
											</TD>
										</TR>

										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												会员性质：
											</TD>
											<TD align=left>
												<INPUT value="0" CHECKED type=radio name="mb_type">
													普通会员
												<INPUT value="1" type=radio name="mb_type">
													联盟商家
												<INPUT value="2" type=radio name="mb_type">
													代理商
											</TD>
										</TR>

										<TR bgColor=#ffffff id="gerenx">
											<TD width="30%" align=right>
												您的真实姓名：
											</TD>
											<TD align=left>
												<INPUT id=shopxp_shiname class="inputBg" style="width: 179px;"
													size=10 name=realname>
												<FONT color=red>*</FONT><br>以便领取红利确认，为了确保您的联盟红利无误的返还到您手上，请正确填写
											</TD>
										</TR>
										<TR bgColor=#ffffff id="gerens">
											<TD width="30%" align=right>
												您的身份证号：
											</TD>
											<TD align=left>
												<INPUT id=MoMNo class="inputBg" style="width: 179px;"
													onblur="check_id_card(this.value);" maxLength=18 name=idCard>
												<FONT color=red><span id=MomNo_id></span>*</FONT>
												<INPUT onclick=javascript:chselradio(); value=haiwai type=radio
													id="nosfz" name=nosfz>
												<FONT color=red>(非中国内地身份证)</FONT>
												<BR>
													为确保您的联盟红利顺利领取，请填写本人真实身份证,请不要输入空格之类的字符
											</TD>
										</TR>

										<TR bgColor=#ffffff id="gerenq" style="display: none;">
											<TD width="30%" align=right>
												企业名称：
											</TD>
											<TD align=left>
												<INPUT id=qyname class="inputBg" style="width: 179px;" size=10
													name=qyname>
												<FONT color=red>*</FONT>
											</TD>
										</TR>
										<TR bgColor=#ffffff id="gerenb" style="display: none;">
											<TD width="30%" align=right>
												企业编号：
											</TD>
											<TD align=left>
												<INPUT id=qymc class="inputBg" style="width: 179px;"
													onblur="check_qyid_card(this.value);" maxLength=18 name=qymc>
												<FONT color=red><span id="qymc_id"></span>*</FONT>
										</TR>

										<TR bgColor=#ffffff id="lianxiren" style="display: none;">
											<TD align=right>
												联 系 人：
											</TD>
											<TD align=left>
												<input class="inputBg" style="width: 179px;" maxlength="18"
													name="lianxiren" />
											</TD>
										</TR>
										<TR bgColor=#ffffff id="lianxidh" style="display: none;">
											<TD align=right>
												联系电话：
											</TD>
											<TD align=left>
												<input class="inputBg" style="width: 179px;" maxlength="18"
													name="phone" />
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												推荐人用户名：
											</TD>
											<TD align=left>
												<INPUT name=tjr class="inputBg" id=tjr style="width: 179px;"
													onblur=check_invite(this.value); maxLength=50>
												<SPAN id=invite_notice style="color: #ff0000">*
													请填写邀请人帐号或“lianmengwang”</SPAN>
											</TD>
										</TR>

										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												所在省市：
											</TD>
											<TD align=left>
												<SELECT onchange=chsel() size=1 name=szSheng>
													<OPTION selected value=''>
														请选择省份……
													</OPTION>
													<OPTION value="北京">
														北京
													</OPTION>
													<OPTION value="安徽">
														安徽
													</OPTION>
													<OPTION value="山东省">
														山东省
													</OPTION>
													<OPTION value="江苏省">
														江苏省
													</OPTION>
													<OPTION value="上海市">
														上海市
													</OPTION>
													<OPTION value="广东省">
														广东省
													</OPTION>
													<OPTION value="浙江省">
														浙江省
													</OPTION>
													<OPTION value="福建省">
														福建省
													</OPTION>
													<OPTION value="重庆市">
														重庆市
													</OPTION>
													<OPTION value="甘肃省">
														甘肃省
													</OPTION>
													<OPTION value="广西省">
														广西省
													</OPTION>
													<OPTION value="贵州省">
														贵州省
													</OPTION>
													<OPTION value="海南省">
														海南省
													</OPTION>
													<OPTION value="河北省">
														河北省
													</OPTION>
													<OPTION value="河南省">
														河南省
													</OPTION>
													<OPTION value="黑龙江省">
														黑龙江省
													</OPTION>
													<OPTION value="湖北省">
														湖北省
													</OPTION>
													<OPTION value="湖南省">
														湖南省
													</OPTION>
													<OPTION value="江西省">
														江西省
													</OPTION>
													<OPTION value="吉林省">
														吉林省
													</OPTION>
													<OPTION value="辽宁省">
														辽宁省
													</OPTION>
													<OPTION value="内蒙古">
														内蒙古
													</OPTION>
													<OPTION value="宁夏">
														宁夏
													</OPTION>
													<OPTION value="青海省">
														青海省
													</OPTION>
													<OPTION value="山西省">
														山西省
													</OPTION>
													<OPTION value="陕西省">
														陕西省
													</OPTION>
													<OPTION value="四川省">
														四川省
													</OPTION>
													<OPTION value="天津市">
														天津市
													</OPTION>
													<OPTION value="新疆">
														新疆
													</OPTION>
													<OPTION value="西藏">
														西藏
													</OPTION>
													<OPTION value="云南省">
														云南省
													</OPTION>
													<OPTION value="香港">
														香港
													</OPTION>
													<OPTION value="澳门">
														澳门
													</OPTION>
													<OPTION value="台湾">
														台湾
													</OPTION>
													<OPTION value="国外与其它">
														国外与其它
													</OPTION>
												</SELECT>
												<SELECT size=1 name=szShi>
													<OPTION selected>
														国外与其它
													</OPTION>
												</SELECT>
											</TD>
										</TR>
										<TR bgColor=#ffffff>
											<TD align=right>
												详细地址：
											</TD>
											<TD align=left>
												<input id="address" class="inputBg" style="width: 179px;"
													size="10" name="address" />
											</TD>
										</tr>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												联系电话：
											</TD>
											<TD align=left>
												<INPUT id=usertel class="inputBg" style="width: 179px;"
													maxLength=18 name=usertel>
												<FONT color=red>*</FONT>
												<BR>
													电话格式：01012345678或13012345678，为及时与您取得联系，请留下能联系的到您本人的号码
												<input name="act" type="hidden" value="act_register">
												<input type="hidden" name="back_act" value="" />
											</TD>
										</tr>
										<TR bgColor=#ffffff>
											<TD width="30%" align=right>
												银行账户：
											</TD>
											<TD align=left>
												<table>
													<tr><td>开户行</td><td><INPUT type=text name=band_name class="inputBg"
													style="width: 179px;"><FONT color=red>*</FONT></td></tr>
													<tr><td>户&nbsp;&nbsp;&nbsp;名</td><td><INPUT type=text
													name=band_user class="inputBg" style="width: 100px;"><FONT color=red>*</FONT></td></tr>
													<tr><td>账&nbsp;&nbsp;&nbsp;号</td><td><INPUT type=text name=band_id class="inputBg"
													style="width: 250px;"><FONT color=red>*</FONT></td></tr>
												</table>
											</td>
										</TR>
									</tbody>
								</table>

								<TABLE border=0 cellSpacing=1 cellPadding=5 width="80%" align="center"
									style="padding-left: 0px; margin-left: 0px; margin-top: 10px;">
									<TBODY>
										<tr bgColor=#ffffff>
											<td colspan="2" align="center">
												<label>
													<input name="agreement" type="checkbox" value="1"
														{/literal}{$checked}{literal} />
													我已看过并接受《
													<a href="xieyi.php" style="color: blue"
														target="_blank">用户协议</a>》
												</label>
											</td>
										</tr>

										<TR>
											<TD colspan="2" align="center">
												<input type="Submit" name="Submit" value="检查无错误 提交信息"
													class="my_bnt" style="border: none;" />

												<input type="reset" class="my_reset_bnt" value="重新填写"
													style="border: none;" />
											</TD>
										</TR>
										<tr>
											<td colspan="2">&nbsp;</td>
										</tr>

									</TBODY>
								</TABLE>

								</form>
								<div style="clear: both;"></div>
							</div>
						</div>
						<div class="zhuce_mianfeizc_bottom"></div>
					</div>
				</div>
			</div>
		</div>



		<a id="loadsuc" href="#"></a>

		<div style="clear: both;"></div>
		<div class="footer">
			<tbody>
				<tr>
					<td>
						<div class="pge-ftr"
							style="font-size: 12px; color: rgb(67, 120, 29); background: none repeat scroll 0% 0% white; text-align: center;">
							<br>
							<!-- <a class="footerAlink" href="#">联盟商家</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">关于联盟网</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">登入联盟网</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">代理加盟</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">联盟商城</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">友情链接</a> -->
							{/literal}
							{$buttomNavInfo}
							{literal}
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div
							style="font-size: 12px; color: rgb(43, 43, 43); text-align: center; font-family: arial;"
							id="footerDiv">
							<br>
							{/literal}
							{$buttomInfo}
							{literal}
							<br>&nbsp;
						</div>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
	</body>
	<script src="js/reg.js" type="text/javascript"></script>
	<script>
	var selects=[];
	selects['']=new Array(new Option('请选择城市……',''));

	selects['北京']=new Array(

		new Option('北京市','北京市'));

	selects['安徽']=new Array(

		new Option('合肥市','合肥市'),

		new Option('芜湖市','芜湖市'),

		new Option('安庆市','安庆市'),

		new Option('巢湖市','巢湖市'),

		new Option('滁州市','滁州市'),

		new Option('淮南市','淮南市'),

		new Option('马鞍山市','马鞍山市'),

		new Option('宿州市','宿州市'),

		new Option('宣州市','宣州市'),

		new Option('蚌埠市','蚌埠市'),

		new Option('池州地区','池州地区'),

		new Option('阜阳市','阜阳市'),

		new Option('淮北市','淮北市'),

		new Option('黄山市','黄山市'),

		new Option('六安市','六安市'),

		new Option('铜陵市','铜陵市'),

		new Option('亳州市','亳州市'));

	selects['山东省']=new Array(

		new Option('济南市','济南市'),

		new Option('东营市','东营市'),

		new Option('滨州地区','滨州地区'),

		new Option('淄博市','淄博市'),

		new Option('德州市','德州市'),

		new Option('济宁市','济宁市'),

		new Option('聊城地区','聊城地区'),

		new Option('临沂市','临沂市'),

		new Option('莱芜市','莱芜市'),

		new Option('青岛市','青岛市'),

		new Option('日照市','日照市'),

		new Option('威海市','威海市'),

		new Option('泰安市','泰安市'),

		new Option('潍坊市','潍坊市'),

		new Option('烟台市','烟台市'),

		new Option('菏泽地区','菏泽地区'),

		new Option('枣庄市','枣庄市'));

	selects['江苏省']=new Array(

		new Option('南京市','南京市'),

		new Option('淮阴市','淮阴市'),

		new Option('常州市','常州市'),

		new Option('连云港市','连云港市'),

		new Option('南通市','南通市'),

		new Option('徐州市','徐州市'),

		new Option('苏州市','苏州市'),

		new Option('无锡市','无锡市'),

		new Option('盐城市','盐城市'),

		new Option('扬州市','扬州市'),

		new Option('镇江市','镇江市'),

		new Option('泰州市','泰州市'),

		new Option('宿迁市','宿迁市'));

	selects['上海市']=new Array(

		new Option('上海市','上海市'));

	selects['广东省']=new Array(

		new Option('广州市','广州市'),

		new Option('佛山市','佛山市'),

		new Option('惠州市','惠州市'),

		new Option('东莞市','东莞市'),

		new Option('江门市','江门市'),

		new Option('揭阳市','揭阳市'),

		new Option('潮州市','潮州市'),

		new Option('茂名市','茂名市'),

		new Option('梅州市','梅州市'),

		new Option('清远市','清远市'),

		new Option('汕头市','汕头市'),

		new Option('汕尾市','汕尾市'),

		new Option('深圳市','深圳市'),

		new Option('韶关市','韶关市'),

		new Option('阳江市','阳江市'),

		new Option('河源市','河源市'),

		new Option('云浮市','云浮市'),

		new Option('中山市','中山市'),

		new Option('珠海市','珠海市'),

		new Option('湛江市','湛江市'),

		new Option('肇庆市','肇庆市'));

	selects['浙江省']=new Array(

		new Option('杭州市','杭州市'),

		new Option('嘉兴市','嘉兴市'),

		new Option('金华市','金华市'),

		new Option('衢州市','衢州市'),

		new Option('丽水地区','丽水地区'),

		new Option('宁波市','宁波市'),

		new Option('绍兴市','绍兴市'),

		new Option('台州市','台州市'),

		new Option('温州市','温州市'),

		new Option('舟山市','舟山市'),

		new Option('湖州市','湖州市'));

	selects['福建省']=new Array(

		new Option('福州市','福州市'),

		new Option('龙岩地区','龙岩地区'),

		new Option('南平市','南平市'),

		new Option('宁德地区','宁德地区'),

		new Option('莆田市','莆田市'),

		new Option('泉州市','泉州市'),

		new Option('三明市','三明市'),

		new Option('厦门市','厦门市'),

		new Option('漳州市','漳州市'));

	selects['重庆市']=new Array(

		new Option('重庆市','重庆市'),

		new Option('涪陵市','涪陵市'),

		new Option('黔江地区','黔江地区'),

		new Option('万县市','万县市'),

		new Option('白银市','白银市'));

	selects['甘肃省']=new Array(

		new Option('兰州市','兰州市'),

		new Option('甘南藏族自治州','甘南藏族自治州'),

		new Option('定西地区','定西地区'),

		new Option('嘉峪关市','嘉峪关市'),

		new Option('金昌市','金昌市'),

		new Option('酒泉地区','酒泉地区'),

		new Option('临夏回族自治州','临夏回族自治州'),

		new Option('陇南地区','陇南地区'),

		new Option('平凉地区','平凉地区'),

		new Option('庆阳地区','庆阳地区'),

		new Option('天水市','天水市'),

		new Option('武威地区','武威地区'),

		new Option('张掖地区','张掖地区'));

	selects['广西省']=new Array(

		new Option('南宁市','南宁市'),

		new Option('防城港市','防城港市'),

		new Option('北海市','北海市'),

		new Option('百色地区','百色地区'),

		new Option('桂林地区','桂林地区'),

		new Option('桂林市','桂林市'),

		new Option('柳州地区','柳州地区'),


		new Option('柳州市','柳州市'),

		new Option('南宁地区','南宁地区'),

		new Option('钦州市','钦州市'),

		new Option('梧州地区','梧州地区'),

		new Option('梧州市','梧州市'),

		new Option('河池地区','河池地区'),

		new Option('玉林地区','玉林地区'),

		new Option('贵港市','贵港市'));

	selects['贵州省']=new Array(

		new Option('贵阳市','贵阳市'),

		new Option('毕节地区','毕节地区'),

		new Option('遵义地区','遵义地区'),

		new Option('安顺地区','安顺地区'),

		new Option('六盘水市','六盘水市'),

		new Option('黔东南苗族侗族自治州','黔东南苗族侗族自治州'),

		new Option('黔南布依族苗族自治州','黔南布依族苗族自治州'),

		new Option('黔西南布依族苗族自治州','黔西南布依族苗族自治州'),

		new Option('铜仁地区','铜仁地区'));

	selects['海南省']=new Array(

		new Option('三亚市','三亚市'),

		new Option('海口市','海口市'));

	selects['河北省']=new Array(

		new Option('石家庄市','石家庄市'),

		new Option('邯郸市','邯郸市'),

		new Option('邢台市','邢台市'),

		new Option('保定市','保定市'),

		new Option('张家口市','张家口市'),

		new Option('沧州市','沧州市'),

		new Option('承德市','承德市'),

		new Option('廊坊市','廊坊市'),

		new Option('秦皇岛市','秦皇岛市'),

		new Option('唐山市','唐山市'),

		new Option('衡水地区','衡水地区'));

	selects['河南省']=new Array(

		new Option('郑州市','郑州市'),

		new Option('开封市','开封市'),

		new Option('驻马店地区','驻马店地区'),

		new Option('安阳市','安阳市'),

		new Option('焦作市','焦作市'),

		new Option('洛阳市','洛阳市'),

		new Option('濮阳市','濮阳市'),

		new Option('漯河市','漯河市'),

		new Option('南阳市','南阳市'),

		new Option('平顶山市','平顶山市'),

		new Option('新乡市','新乡市'),

		new Option('信阳地区','信阳地区'),

		new Option('许昌市','许昌市'),

		new Option('商丘地区','商丘地区'),

		new Option('三门峡市','三门峡市'),

		new Option('鹤壁市','鹤壁市'),

		new Option('周口地区','周口地区'));

	selects['黑龙江省']=new Array(

		new Option('哈尔滨市','哈尔滨市'),

		new Option('大庆市','大庆市'),

		new Option('大兴安岭地区','大兴安岭地区'),

		new Option('鸡西市','鸡西市'),

		new Option('佳木斯市','佳木斯市'),

		new Option('牡丹江市','牡丹江市'),

		new Option('齐齐哈尔市','齐齐哈尔市'),

		new Option('七台河市','七台河市'),

		new Option('双鸭山市','双鸭山市'),

		new Option('绥化地区','绥化地区'),

		new Option('松花江地区','松花江地区'),

		new Option('鹤岗市','鹤岗市'),

		new Option('黑河市','黑河市'),

		new Option('伊春市','伊春市'));

	selects['湖北省']=new Array(

		new Option('武汉市','武汉市'),

		new Option('黄冈市','黄冈市'),

		new Option('黄石市','黄石市'),

		new Option('恩施土家族苗族自治州','恩施土家族苗族自治州'),

		new Option('鄂州市','鄂州市'),

		new Option('荆门市','荆门市'),

		new Option('荆沙市','荆沙市'),

		new Option('孝感市','孝感市'),

		new Option('十堰市','十堰市'),

		new Option('襄樊市','襄樊市'),

		new Option('咸宁地区','咸宁地区'),

		new Option('宜昌市','宜昌市'));

	selects['湖南省']=new Array(

		new Option('长沙市','长沙市'),

		new Option('怀化地区','怀化地区'),

		new Option('郴州市','郴州市'),

		new Option('常德市','常德市'),

		new Option('娄底地区','娄底地区'),

		new Option('邵阳市','邵阳市'),

		new Option('湘潭市','湘潭市'),

		new Option('湘西土家族苗族自治州','湘西土家族苗族自治州'),

		new Option('衡阳市','衡阳市'),

		new Option('永州市','永州市'),

		new Option('益阳市','益阳市'),

		new Option('岳阳市','岳阳市'),

		new Option('株洲市','株洲市'),

		new Option('张家界市','张家界市'));

	selects['江西省']=new Array(

		new Option('南昌市','南昌市'),

		new Option('抚州地区','抚州地区'),

		new Option('赣州地区','赣州地区'),

		new Option('吉安地区','吉安地区'),

		new Option('景德镇市','景德镇市'),

		new Option('九江市','九江市'),

		new Option('萍乡市','萍乡市'),

		new Option('新余市','新余市'),

		new Option('上饶地区','上饶地区'),

		new Option('鹰潭市','鹰潭市'),

		new Option('宜春地区','宜春地区'));

	selects['吉林省']=new Array(

		new Option('长春市','长春市'),

		new Option('白城市','白城市'),

		new Option('白山市','白山市'),

		new Option('吉林市','吉林市'),

		new Option('辽源市','辽源市'),

		new Option('四平市','四平市'),

		new Option('松原市','松原市'),

		new Option('通化市','通化市'),

		new Option('延边朝鲜族自治州','延边朝鲜族自治州'));

	selects['辽宁省']=new Array(

		new Option('沈阳市','沈阳市'),

		new Option('大连市','大连市'),

		new Option('阜新市','阜新市'),

		new Option('抚顺市','抚顺市'),

		new Option('本溪市','本溪市'),

		new Option('鞍山市','鞍山市'),

		new Option('丹东市','丹东市'),

		new Option('锦州市','锦州市'),

		new Option('朝阳市','朝阳市'),


		new Option('辽阳市','辽阳市'),

		new Option('盘锦市','盘锦市'),

		new Option('铁岭市','铁岭市'),

		new Option('营口市','营口市'),

		new Option('锦西市','锦西市'));

	selects['内蒙古']=new Array(

		new Option('呼和浩特市','呼和浩特市'),

		new Option('阿拉善盟','阿拉善盟'),

		new Option('巴彦淖尔盟','巴彦淖尔盟'),

		new Option('包头市','包头市'),

		new Option('赤峰市','赤峰市'),

		new Option('兴安盟','兴安盟'),

		new Option('乌兰察布盟','乌兰察布盟'),

		new Option('乌海市','乌海市'),

		new Option('锡林郭勒盟','锡林郭勒盟'),

		new Option('呼伦贝尔盟','呼伦贝尔盟'),

		new Option('伊克昭盟','伊克昭盟'),

		new Option('通辽市','通辽市'));

	selects['宁夏']=new Array(

		new Option('银川市','银川市'),

		new Option('固原地区','固原地区'),

		new Option('石嘴山市','石嘴山市'),

		new Option('银南地区','银南地区'));

	selects['青海省']=new Array(

		new Option('西宁市','西宁市'),

		new Option('海东地区','海东地区'),

		new Option('海南藏族自治州','海南藏族自治州'),

		new Option('海北藏族自治州','海北藏族自治州'),

		new Option('黄南藏族自治州','黄南藏族自治州'),

		new Option('果洛藏族自治州','果洛藏族自治州'),

		new Option('海西蒙古族藏族自治州','海西蒙古族藏族自治州'));

	selects['山西省']=new Array(

		new Option('太原市','太原市'),

		new Option('朔州市','朔州市'),

		new Option('大同市','大同市'),

		new Option('晋城市','晋城市'),

		new Option('晋中地区','晋中地区'),

		new Option('长治市','长治市'),

		new Option('临汾地区','临汾地区'),

		new Option('吕梁地区','吕梁地区'),

		new Option('忻州地区','忻州地区'),

		new Option('阳泉市','阳泉市'),

		new Option('运城地区','运城地区'));

	selects['陕西省']=new Array(

		new Option('西安市','西安市'),

		new Option('宝鸡市','宝鸡市'),

		new Option('安康地区','安康地区'),

		new Option('商洛地区','商洛地区'),

		new Option('铜川市','铜川市'),

		new Option('渭南地区','渭南地区'),

		new Option('渭南地区','渭南地区'),

		new Option('延安地区','延安地区'),

		new Option('汉中地区','汉中地区'),

		new Option('榆林地区','榆林地区'));

	selects['四川省']=new Array(

		new Option('成都市','成都市'),

		new Option('达川地区','达川地区'),

		new Option('甘孜藏族自治州','甘孜藏族自治州'),

		new Option('自贡市','自贡市'),

		new Option('阿坝藏族羌族自治州','阿坝藏族羌族自治州'),

		new Option('巴中地区','巴中地区'),

		new Option('德阳市','德阳市'),

		new Option('广安地区','广安地区'),

		new Option('广元市','广元市'),

		new Option('凉山彝族自治州','凉山彝族自治州'),

		new Option('乐山市','乐山市'),

		new Option('攀枝花市','攀枝花市'),

		new Option('南充市','南充市'),

		new Option('内江市','内江市'),

		new Option('泸州市','泸州市'),

		new Option('绵阳市','绵阳市'),

		new Option('遂宁市','遂宁市'),

		new Option('雅安地区','雅安地区'),

		new Option('宜宾地区','宜宾地区'));

	selects['天津市']=new Array(

		new Option('天津市','天津市'));

	selects['新疆']=new Array(

		new Option('乌鲁木齐市','乌鲁木齐市'),

		new Option('喀什地区','喀什地区'),

		new Option('克孜勒苏柯尔克孜自治州','克孜勒苏柯尔克孜自治州'),

		new Option('克拉玛依市','克拉玛依市'),

		new Option('阿克苏地区','阿克苏地区'),

		new Option('阿勒泰地区','阿勒泰地区'),

		new Option('巴音郭楞蒙古自治州','巴音郭楞蒙古自治州'),

		new Option('哈密地区','哈密地区'),

		new Option('博尔塔拉蒙古自治州','博尔塔拉蒙古自治州'),

		new Option('昌吉回族自治州','昌吉回族自治州'),

		new Option('塔城地区','塔城地区'),

		new Option('吐鲁番地区','吐鲁番地区'),

		new Option('和田地区','和田地区'),

		new Option('伊犁地区','伊犁地区'),

		new Option('伊犁哈萨克自治州','伊犁哈萨克自治州'),

		new Option('石河子市','石河子市'));

	selects['西藏']=new Array(

		new Option('拉萨市','拉萨市'),

		new Option('阿里地区','阿里地区'),

		new Option('昌都地区','昌都地区'),

		new Option('林芝地区','林芝地区'),

		new Option('那曲地区','那曲地区'),

		new Option('山南地区','山南地区'),

		new Option('日喀则地区','日喀则地区'));

	selects['云南省']=new Array(

		new Option('昆明市','昆明市'),

		new Option('大理白族自治州','大理白族自治州'),

		new Option('东川市','东川市'),

		new Option('保山地区','保山地区'),

		new Option('德宏傣族景颇族自治州','德宏傣族景颇族自治州'),

		new Option('迪庆藏族自治州','迪庆藏族自治州'),

		new Option('楚雄彝族自治州','楚雄彝族自治州'),

		new Option('临沧地区','临沧地区'),

		new Option('丽江地区','丽江地区'),

		new Option('怒江傈僳族自治州','怒江傈僳族自治州'),

		new Option('曲靖地区','曲靖地区'),

		new Option('思茅地区','思茅地区'),

		new Option('西双版纳傣族自治州','西双版纳傣族自治州'),

		new Option('文山壮族苗族自治州','文山壮族苗族自治州'),

		new Option('红河哈尼族彝族自治州','红河哈尼族彝族自治州'),

		new Option('玉溪地区','玉溪地区'),

		new Option('昭通地区','昭通地区'));


	selects['香港']=new Array(

		new Option('香港','香港'));

	selects['澳门']=new Array(

		new Option('澳门','澳门'));

	selects['台湾']=new Array(

		new Option('台湾','台湾'));

	selects['国外与其它']=new Array(
		new Option('加拿大','加拿大'),
		new Option('英国','英国'),
		new Option('泰国','泰国'),
		new Option('马来西亚','马来西亚'),
		new Option('新加坡','新加坡'),
		new Option('日本','日本'),
		new Option('美国','美国'),
		new Option('韩国','韩国'),
		new Option('其它国家','其它国家'));

	function chsel(){
		with (document.formUser){
			if(szSheng.value) {
				szShi.options.length=0;
				for(var i=0;i<selects[szSheng.value].length;i++){
					szShi.options.add(selects[szSheng.value][i]);
				}
			}
		}
	}

		function chselradio(){
		with (document.formUser){
		szSheng.value='34';
			if(szSheng.value) {
				szShi.options.length=0;
				for(var i=0;i<selects[szSheng.value].length;i++){
					szShi.options.add(selects[szSheng.value][i]);
				}
			}
		}
	}








function checkspace(checkstr) {
    var str = '';
    for (i = 0; i < checkstr.length; i++) {
        str = str + ' ';
    }
    return (str == checkstr);
}
function checkuserinfo() {

    if (checkspace(document.formUser.username.value)) {
        document.formUser.username.focus();
        alert("对不起，请填写会员名！");
        return false;
    }

	 if (checkspace(document.formUser.usertel.value)) {
        document.formUser.usertel.focus();
        alert("对不起，请留下您的联系电话！");
        return false;
    }
	 if (checkspace(document.formUser.tjr.value)) {
        document.formUser.tjr.focus();
        alert("对不起，请填写推荐人！");
        return false;
    }

    if (checkspace(document.formUser.password.value) || document.formUser.password.value.length < 6 || document.formUser.password.value.length > 20) {
        document.formUser.password.focus();
        alert("密码长度不能不能这空，在6位到20位之间，请重新输入！");
        return false;
    }
    if (document.formUser.password.value != document.formUser.confirm_password.value) {
        document.formUser.password.focus();
        document.formUser.password.value = '';
        document.formUser.confirm_password.value = '';
        alert("两次输入的密码不同，请重新输入！");
        return false;
    }
    if (checkspace(document.formUser.password_2.value) || document.formUser.password_2.value.length < 6 || document.formUser.password_2.value.length > 20) {
        document.formUser.password_2.focus();
        alert("二级密码长度不能不能这空，在6位到20位之间，请重新输入！");
        return false;
    }
    if (document.formUser.password_2.value != document.formUser.confirm_password_2.value) {
        document.formUser.password_2.focus();
        document.formUser.password_2.value = '';
        document.formUser.confirm_password_2.value = '';
        alert("两次输入的二级密码不同，请重新输入！");
        return false;
    }
    if (document.formUser.email.value.length != 0) {
        var patn = /^[_a-zA-Z0-9\-]+(\.[_a-zA-Z0-9\-]*)*@[a-zA-Z0-9\-]+([\.][a-zA-Z0-9\-]+)+$/;
        if (!patn.test(document.formUser.email.value)) {
            alert("Email地址格式不正确！");
            document.formUser.email.focus();
            return false;
        }
    }

    if (checkspace(document.formUser.shopxp_shiname.value)) {
        document.formUser.shopxp_shiname.focus();
        alert("对不起，请填写真实姓名！");
        return false;
    }

    var sfz = document.formUser.MoMNo.value;
    if (checkspace(sfz)) {
        document.formUser.MoMNo.focus();
        alert("对不起，请填写身份证号！");
        return false;
    }

 if(document.getElementById("nosfz").checked){
	 }
else{
    isIDCard1 = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{2}([xX0-9]{1})$/;
    isIDCard2 = /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([xX0-9]{1})$/;

    if (!isIDCard1.test(sfz)) {
        if (!isIDCard2.test(sfz)) {
            document.formUser.MoMNo.focus();
            alert("对不起，请填写正确地身份证号！");
            return false;
        }
    }

    if (document.formUser.MoMNo.value.length != 15 && document.formUser.MoMNo.value.length != 18 && document.formUser.MoMNo.value.length != 10 && document.formUser.MoMNo.value.length != 9 && document.formUser.MoMNo.value.length != 6) {
        document.formUser.MoMNo.focus();
        alert("请输入正确的身份证号码！");
        return false;
    }

    }


    if (checkspace(document.formUser.tjr.value).length > 15) {
        document.formUser.tjr.focus();
        alert("对不起，你的用户名请不要超过15位！");
        return false;
    }
    if (checkspace(document.formUser.shopxp_shdz.value)) {
        document.formUser.shopxp_shdz.focus();
        alert("对不起，请填写收货人详细收货地址！");
        return false;
    }
    if (checkspace(document.formUser.youbian.value)) {
        document.formUser.youbian.focus();
        alert("对不起，请填写邮编！");
        return false;
    }
    if (document.formUser.youbian.value.length != 6) {
        document.formUser.youbian.focus();
        alert("对不起，请正确填写邮编！");
        return false;
    }
    if (checkspace(document.formUser.usertel.value)) {
        document.formUser.usertel.focus();
        alert("对不起，请留下您的联系电话！");
        return false;
    }

    document.forms[0].submit();
}


function check_invite(username)
{
    var submit_disabled = false;
	var unlen = username.replace(/[^\x00-\xff]/g, "**").length;


    if ( submit_disabled )
    {
        document.forms['formUser'].elements['Submit'].disabled = 'disabled';
        return false;
    }
    Ajax.call( 'user.php?act=check_invite', 'invite=' + username, invite_callback , 'GET', 'TEXT', true, true );
    check_id_card(document.getElementById('MoMNo').value);
}



function invite_callback(result)
{
  if ( result == "true" )
  {
    document.getElementById('invite_notice').innerHTML = '验证成功';
    document.forms['formUser'].elements['Submit'].disabled = '';
  }
  else
  {
    document.getElementById('invite_notice').innerHTML = '该推荐人不存在，请重新输入';
    document.forms['formUser'].elements['Submit'].disabled = 'disabled';
  }
}

function check_id_card(username)
{
    var submit_disabled = false;
    var unlen = username.replace(/[^\x00-\xff]/g, "**").length;

     var sfz = document.formUser.MoMNo.value;
	 if(document.getElementById("nosfz").checked){
	 }
     else{
    isIDCard1 = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{2}([xX0-9]{1})$/;
    isIDCard2 = /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([xX0-9]{1})$/;

    if (!isIDCard1.test(sfz)) {
        if (!isIDCard2.test(sfz)) {
            document.formUser.MoMNo.focus();
           document.getElementById('MomNo_id').innerHTML = '请输入正确的身份证号码！';
           var submit_disabled = true;

        }
    }

    if (document.formUser.MoMNo.value.length != 15 && document.formUser.MoMNo.value.length != 18 && document.formUser.MoMNo.value.length != 10 && document.formUser.MoMNo.value.length != 9 && document.formUser.MoMNo.value.length != 6) {
        document.formUser.MoMNo.focus();
        document.getElementById('MomNo_id').innerHTML = '请输入正确的身份证号码！';
        var submit_disabled = true;
    }

}


    if ( username == '' )
    {
        document.getElementById('MomNo_id').innerHTML = '身份证号不能为空';
        var submit_disabled = true;
    }

    if ( submit_disabled )
    {
        document.forms['formUser'].elements['Submit'].disabled = 'disabled';
        return false;
    }
    Ajax.call( 'user.php?act=id_card', 'card=' + username, id_card_callback , 'GET', 'TEXT', true, true );
}

function check_qyid_card(username)
{
    var submit_disabled = false;

    if ( username == '' )
    {
        document.getElementById('qymc_id').innerHTML = '企业编号不能为空';
        var submit_disabled = true;
    }

    if ( submit_disabled )
    {
        document.forms['formUser'].elements['Submit'].disabled = 'disabled';
        return false;
    }
    Ajax.call( 'user.php?act=id_card', 'card=' + username, id_ycard_callback , 'GET', 'TEXT', true, true );
}


function id_ycard_callback(result)
{
  if ( result == "true" )
  {
    document.getElementById('qymc_id').innerHTML = '验证成功';
  }
  else
  {
    document.getElementById('qymc_id').innerHTML = '企业编号号已经使用过，请重新输入';
    document.forms['formUser'].elements['Submit'].disabled = 'disabled';
  }
}


function id_card_callback(result)
{
  if ( result == "true" )
  {
    document.getElementById('MomNo_id').innerHTML = '验证成功';
  }
  else
  {
    document.getElementById('MomNo_id').innerHTML = '该身份证号已经使用过，请重新输入';
    document.forms['formUser'].elements['Submit'].disabled = 'disabled';
  }
}



	</script>
</html>

{/literal}
