{literal}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=GB2312">
		<link rel="stylesheet" href="css/zhuce_css.css" type="text/css">
		<title>联盟网 - 新用户注册</title>
	</head>
	<body>

		<div class="denglu">
			<div class="denglu_top">
				<a href="login.php" alt="登入联盟网" title="登入联盟网"><img src="images/logo.gif" width="292"
						height="52">
				</a>
			</div>
			<div class="zhuce">
				<div class="zhuce_bj_content">
					<div class="zhuce_bj_text">
						获取联盟红利步骤:
						<strong>1.注册联盟网用户</strong> &gt; 2.去联盟商家消费 &gt; 3.回联盟网拿红利
					</div>
					<div class="zhuce_mianfeizc">
						<div class="zhuce_mianfeizc_top"></div>
						<div class="zhuce_mianfeizc_content">
							<div class="zhuce_mianfeizc_biaoti">
								免费注册
							</div>
							<div class="zhuce_mianfeizc_touying"></div>
							<div class="zhuce_mianfeizc_text">
								<table width="760px" align="center" bgcolor="#ffffff" border="0"
									cellpadding="0" cellspacing="0">
									<tbody>
									<!--
										<tr>
											<td style="font-size: 14px;" align="center" height="18">
												<br>
												<b>联盟网用户使用协议</b>
											</td>
										</tr>
										<tr>
											<td style="" valign="top" align="left">
												加入和使用联盟网站表明您已经阅读并同意本使用条款，您的会员活动会遵从本使用条款。
												<br>
													联盟网注册会员（以下简称会员）可以通过点击联盟网所提供的商家产生网上购物行为，享受购物后返回现金的机会，或者通过注册成为一些商家的会员而得到一定程度上的金钱奖励。
												<br>
													一.申请资格
												<br>
													本服务条款中所指的成员是指下述符合要求个人：
												<br>
													个人：个人应为拥有中华人民共和国公民资格，具有完全的民事行为能力，并能够独立承担法律责任的自然人。
												<br>
													会员必须拥有一个固定的常住地址或办公地址，并具有经常上网收发电子邮件的能力。
												<br>
													对于被联盟网暂时停止或者永久停止帐户的会员，联盟网将不再提供会员连锁项目下的服务。
												<br>
												<br>
													二.会员注册及使用程序：
												<br>
													1、按照联盟网要求注册；
												<br>
													2、会员点击联盟网上的广告，前往商家进行网上购物，联盟网将会按照一定的比例返回现金；
												<br>
												<p>
													三、会员的权利
													<br>
														1、用户注册成为联盟网的会员之后，即刻享有联盟网提供的服务；
													<br>
														2、联盟结算：联盟网收到商户支付的提成后，将按照网站中约定的比例打入用户在联盟网的虚拟帐户，用户收到联盟后满50元可申请50元整倍数的银行转账兑现，联盟网收到申请后5个工作日内完成汇款工作（遇到节假日情况顺延）；
													<br>
														3、联盟方式：联盟网提供银联和支付宝转账等几种方式，如果会员没有出现违规情况，联盟网将按照规定支付联盟金额。
												</p>
												<p>
													四、会员的义务
													<br>
														1、会员必须保证起注册信息的正确性；
													<br>
														2、如果会员提供给联盟网的资料有变更，请及时通知联盟网做出相应的修改；
													<br>
														3、会员应该严格遵守联盟网的一切规则，不得出现恶意注册恶意点击等行为；
													<br>
														4、联盟自到会员的联盟网帐户后一年内有效，逾期无效；
													<br>
														5、联盟网会员帐户如果一年内无登陆记录，将被视为休眠账户作冻结处理，超过两年无登陆记录，联盟网有权注销该帐户。
												</p>
												<p>
													五、违约责任
													<br>
														1、联盟网严禁通过购买产品恶意取消订单等非法手段来提高个人收入，一经发现，联盟网有权取消会员的资格，并追回已经支付的全部佣金，同时该会员必须承担由此给联盟网带来的所有损失；
													<br>
														2、联盟网必须按时向会员支付联盟金额，如果有拖欠情况发生，会员有权要求联盟网按每天千分之三应付联盟的数额进行赔偿。
												</p>
												<p>
													六、隐私政策
													<br>
														1、联盟网对希望成为会员的用户没有任何限制，但16岁以下的用户使用联盟网服务必须取得监护人的同意；
													<br>
														2、一个帐号仅限一个会员使用，会员必须向联盟网提供真实确实的信息，对于由于资料提供不正确导致汇款无法收到等后果，联盟网不承担责任；
													<br>
														3、会员资料修改后必须及时通知联盟网做出相应变更；
													<br>
														3、联盟网保证不向任何一家第三方机构透露会员的信息；
													<br>
														4、会员必须遵守联盟网（及合作伙伴）的使用条款及隐私政策。
												</p>
												<p>
													七、不可抗力
													<br>
														对于因联盟网合理控制范围以外的原因，包括但不限于自然灾害、罢工、骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使联盟延迟或未能履约的，联盟网不对加盟成员承担任何责任。
													<br>
													<br>
												</p>
											</td>
										</tr>
 -->

										{/literal}
										{$userAgreementInfo}
										{literal}



										<TR>
											<FORM NAME="form1" METHOD="post" ACTION="reg.php?action=yes">
											<TD ALIGN="center">
												<INPUT TYPE="submit" NAME="Submit4"
													STYLE="height: 20; font: 9pt; BORDER-BOTTOM: #cccccc 1px groove; BORDER-RIGHT: #cccccc 1px groove; BACKGROUND-COLOR: #eeeeee"
													VALUE="我 同 意">
													&nbsp;&nbsp;
												<INPUT TYPE="button" NAME="Submit22" VALUE="我 不 同 意"
													STYLE="height: 20; font: 9pt; BORDER-BOTTOM: #cccccc 1px groove; BORDER-RIGHT: #cccccc 1px groove; BACKGROUND-COLOR: #eeeeee"
													ONCLICK="location.href='index.php'">
											</TD>
											</FORM>
										</TR>
										<tr>
											<td>
												&nbsp;
											</td>
										</tr>


									</tbody>
								</table>
								<div style="clear: both;"></div>
							</div>
						</div>
						<div class="zhuce_mianfeizc_bottom"></div>
					</div>
				</div>
			</div>
		</div>



		<a id="loadsuc" href="#"></a>

		<div style="clear: both;"></div>
		<div class="footer">
			<tbody>
				<tr>
					<td>
						<div class="pge-ftr"
							style="font-size: 12px; color: rgb(67, 120, 29); background: none repeat scroll 0% 0% white; text-align: center;">
							<br>
							<!-- <a class="footerAlink" href="#">联盟商家</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">关于联盟网</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">登入联盟网</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">代理加盟</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">联盟商城</a>|<a class="footerAlink" style="padding-left: 0.5em;" href="#">友情链接</a> -->
							{/literal}
							{$buttomNavInfo}
							{literal}
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div
							style="font-size: 12px; color: rgb(43, 43, 43); text-align: center; font-family: arial;"
							id="footerDiv">
							<br>
							{/literal}
							{$buttomInfo}
							{literal}
							<br>&nbsp;
						</div>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
	</body>
</html>

{/literal}
