
*{ padding:0px; margin:0px; list-style:none; font-size:12px;}
a{ font-size:12px;color:#005447; text-decoration:none}
a img{ border:none}
.clear{ clear:both; font-size:0px; line-height:0px; height:0px; overflow:hidden; float:none}

