
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<title>{$seo.title}</title>
<meta name="keywords" content="{$seo.keyword}" />
<meta name="description" content="{$seo.desc}" />

<link href="css/index_css.css" rel="stylesheet" type="text/css">
<script type='text/javascript' language='JavaScript' src='js/Southidcmenu.js'></script>
</head>


<BODY leftMargin=0 topMargin=0 marginwidth="0" marginheight="0">
<table width="970" border="0" align="center" cellpadding="0"
	cellspacing="0" bgcolor="#FFFFFF">
	<tr>
		<td>
		<table width="960px" height="150px" cellpadding="0" cellspacing="0">
		<tr>
			<td width="450px" background="{$logoinfo.logo}"></td><!-- images/logo.jpg -->
			<td width="410px" valign="top">
				<table width="410px" valign="top">
					<tr height="5px"><td colspan="2">&nbsp;</td></tr>
					<tr  valign="top">
						<td height="77px"><img src="{$logoinfo.kh}" width="313px" height="77px"></td><!-- images/kh.gif -->
						<td >&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-top:8px;">
							<!-- <font style="font-size:16px;font-weight:bold;font-family:微软雅黑;">河北驰创：0696-12345668&nbsp;&nbsp;13456678897</font> -->
							{$logoinfo.linkinfo}
						</td>
					</tr>
				</table>
			</td>
			<td><img src="images/20120426112946.jpg" width="100px" height="150px"></td>
		</tr>
		</table>
		<table width="950" border="0" align="center" cellpadding="0"
			cellspacing="0" background="images/index_r3_c1.jpg">
			<tr>
				<td height="37" align="center" valign="top">
				<table width="100%" border="0" cellpadding="3" cellspacing="0">
					<tr>				<td width="100%" valign="top"><script type='text/javascript'
							language='JavaScript'>
<!--
stm_bm(['uueoehr',400,'','images/blank.gif',0,'','',0,0,0,0,0,1,0,0]);
stm_bp('p0',[0,4,0,0,2,2,0,0,100,'',-2,'',-2,0,0,0,'#000000','transparent','',3,0,0,'#000000']);
stm_ai('p0i0',[0,'','','',-1,-1,0,'','_self','','','','',0,0,0,'','',0,0,0,0,1,'#f1f2ee',1,'#cccccc',1,'','',3,3,0,0,'#fffff7','#666666','#666666','#000000','9pt Tahoma','9pt Tahoma',0,0]);
stm_aix('p0i1','p0i0',[0,'首页','','',-1,-1,0,'index.php ','_self','index.php','','','',0,0,0,'','',0,0,0,0,1,'#f1f2ee',1,'#cccccc',1,'','',3,3,0,0,'#fffff7','#ff0000','#ffffff','#cc0000','9pt Tahoma','9pt Tahoma']);
stm_aix('p0i2','p0i0',[0,'|','','',-1,-1,0,'','_self','','','','',0,0,0,'','',0,0,0,0,1,'#f1f2ee',1,'#cccccc',1,'','',3,3,0,0,'#fffff7','#666666','#ffffff','#ffffff','9pt Tahoma','9pt Tahoma',0,0]);
{section name='list' loop=$menulist}
stm_aix('p0i3','p0i0',[0,'{$menulist[list].flag}','','',-1,-1,0,'{$menulist[list].comm_code}','_self','{$menulist[list].comm_code}','{$menulist[list].flag}','','',0,0,0,'','',0,0,0,0,1,'#f1f2ee',1,'#cccccc',1,'','',3,3,0,0,'#fffff7','#ff0000','#ffffff','#cc0000','9pt Tahoma','9pt Tahoma']);
stm_aix('p0i2','p0i0',[0,'|','','',-1,-1,0,'','_self','','','','',0,0,0,'','',0,0,0,0,1,'#f1f2ee',1,'#cccccc',1,'','',3,3,0,0,'#fffff7','#ffffff','#ffffff','#ffffff','9pt Tahoma','9pt Tahoma',0,0]);
{/section}
stm_em();
//-->
</script></td>
 {literal}
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
{/literal}
