
{include file="inc/top.html"}

<div id='content' style='width:950px;height:1531px;background:url(images/1263271146.gif);margin:0px auto'>


<!-- 网页标题(菜单) -->

<div id='pdv_14165' class='pdv_class'  title='栏目导航' style='width:163px;height:221px;top:23px;left:21px; z-index:4'>
<div id='spdv_14165' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_nav.gif) no-repeat">
</div>

{include file="inc/aboutus_left.html"}

</div>
</div>

</div>
</div>

<!-- 多行文字 -->

<div id='pdv_14162' class='pdv_class'  title='联系我们' style='width:163px;height:206px;top:254px;left:21px; z-index:7'>
<div id='spdv_14162' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_contactus.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">

<div style="padding:0px 0px 14px 3px;color:#333;font:12px/20px Verdana, Arial, Helvetica, sans-serif;">
{$contactUsInfo}
</div>

</div>
</div>
</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_14158' class='pdv_class'  title='当前位置' style='width:670px;height:40px;top:24px;left:248px; z-index:10'>
<div id='spdv_14158' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(images/title/title_contactus_address.gif) no-repeat">
	<div style="float:right;width:8px;height:43px;background:url(images/title/title_contactus_address.gif) -892px 0px no-repeat;"></div>

<link href="css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
您现在的位置：<a href="index.php">深圳市琢典标识有限公司
</a> &gt; <a href="job.php">诚聘英才</a>

&gt; {$jobinfo.job_name}

</div>

</div>

</div>
</div>

<!-- 应聘申请表单 -->

<div id='pdv_14170' class='pdv_class'  title='应聘申请' style='width:665px;height:829px;top:700px;left:251px; z-index:11'>
<div id='spdv_14170' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:block;background:#f5f5f5;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		应聘申请
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="css/jobform.css" rel="stylesheet" type="text/css" />
<div  id="notice" class="noticediv"></div>
<form id="jobform" method="post" action="post/job.action.php" name="jobform">
<table width="100%" border="0" cellspacing="0" cellpadding="3" >

<tr>
      <td width="80" align="right">姓　　名：</td>
      <td>
        <input type="text" name="title" value="" class="input" style="width:200px" maxlength="30"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="80" align="right">性　　别：</td>
      <td>
        <select name="sex" >
		<option value='男' >男</option><option value='女' >女</option>
        </select>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div> </td>
    </tr>


<tr>
      <td width="80" align="right">出生日期：</td>
      <td>
        <input type="text" name="name" value="" class="input" style="width:200px"  maxlength="10"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="80" align="right">婚姻状况：</td>
      <td>
        <select name="custom1" >
		<option value='未婚' >未婚</option><option value='已婚' >已婚</option>
        </select>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div> </td>
    </tr>


<tr>
      <td width="80" align="right">毕业院校：</td>
      <td>
        <input type="text" name="company" value="" class="input" style="width:300px"  maxlength="50"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">最高学历：</td>
      <td>
        <input type="text" name="company_address" value="" class="input" style="width:200px"  maxlength="20"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">毕业专业：</td>
      <td>
        <input type="text" name="products_id" value="" class="input" style="width:200px"  maxlength="50"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">毕业时间：</td>
      <td>
        <input type="text" name="products_name" value="" class="input" style="width:200px"  maxlength="10"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">联系电话：</td>
      <td>
        <input type="text" name="tel" value="" class="input" style="width:200px"  maxlength="20"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">手机号码：</td>
      <td>
        <input type="text" name="fax" value="" class="input" style="width:200px"  maxlength="20"/>
         <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">通信地址：</td>
      <td>
        <input type="text" name="address" value="" class="input" style="width:300px"  maxlength="250"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">电子邮箱：</td>
      <td>
        <input type="text" name="email" value="" class="input" style="width:300px"  maxlength="100"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="80" align="right">专业特长：</td>
      <td>
        <input type="text" name="products_num" value="" class="input" style="width:399px"  maxlength="250"/>
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="80" align="right">教育经历：</td>
      <td>
        <textarea name="content"  rows="10" class="textarea" style="width:399px" ></textarea>
        <font style='color:red'>*</font>
        <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>


    <tr>
      <td width="80" align="right">工作经历：</td>
      <td>
        <textarea name="custom2"  rows="10" class="textarea" style="width:399px" ></textarea>
        <font style='color:red'>*</font>
        <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>


    <tr>
      <td width="80" align="right">验 证 码：</td>
      <td><div style="height:28px;white-space:nowrap;float:left;margin-right:1px">
<input type="text" name="ImgCode" style="width:39px"  class="input"  maxlength="4"/>
</div>
<div style="height:28px;white-space:nowrap;float:left">
<img id="codeimg" src="action/random/imgcode.php" width="60" height="20" style="border:1px #dddddd solid">
</div>
<span id="getImgCode" style="cursor:pointer;margin-left:10px;line-height:20px">看不清,更换一张.</span>
</td>
    </tr>
	<tr>
      <td width="80" align="right"></td>
      <td>
	  </td>
    </tr>
    <tr>
      <td width="80" align="right">&nbsp;</td>
      <td height="30">
        <input type="submit" name="ccc" value="提交" class="submit">
        <input type='hidden' name='task' value='formSendByJob'>
        <input name='jobid' type='hidden' id="jobid" value='{$jobinfo.id}'>
	  </td>
    </tr>
  </table>
</form>


</div>
</div>

</div>
</div>

<!-- 职位信息详情 -->

<div id='pdv_14169' class='pdv_class'  title='职位信息' style='width:665px;height:411px;top:105px;left:251px; z-index:12'>
<div id='spdv_14169' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		职位信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="css/jobcontent.css" rel="stylesheet" type="text/css" />
<div id="jobcontent">

	<div class="jobitem">
	职位名称：{$jobinfo.job_name}<br />
	职位类型：{$jobinfo.job_type}<br />
	工作经验：{$jobinfo.work_exp}<br />
	学历要求：{$jobinfo.college}<br />
	招聘人数：{$jobinfo.job_cnt}名<br />
	发布时间：{$jobinfo.create_date}<br />

  </div>

   <div class="jobtit">
  职位描述
   </div>
  <div class="jobintro">
  {$jobinfo.job_desc}
  </div>

  <div class="jobtit">
  招聘要求
   </div>
  <div class="jobintro">
  {$jobinfo.work_need}
  </div>

	<div class="jobcontact">
	联 系 人：{$jobinfo.link_man}<br />
	联系电话：{$jobinfo.link_phone}<br />
	电子邮件：{$jobinfo.link_mail}<br />
  </div>
</div>

</div>
</div>

</div>
</div>
</div>

{include file="inc/buttom.html"}
