<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>-防火材料公司</title>
<meta content="" name=keywords />
<meta content="" name=description />
<link href="http://www.2799.cn/1267682741/base/templates/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.2799.cn/1267682741/base/js/base.js"></script>
<script type="text/javascript" src="http://www.2799.cn/1267682741/base/js/common.js"></script>
<script type="text/javascript" src="http://www.2799.cn/1267682741/base/js/form.js"></script>
<script type="text/javascript" src="http://www.2799.cn/1267682741/base/js/blockui.js"></script>
<!-reload-!>
</head>
<body style='background:transparent'>
<script> 
var PDV_PAGEID='463'; 
var PDV_RP='http://www.2799.cn/1267682741/'; 
var PDV_COLTYPE='page'; 
var PDV_PAGENAME='contact_feedback'; 
</script>
 
<div id='contain' style='width:950px;background:url(http://www.2799.cn/1267682741/effect/source/bg/1262661247.gif) repeat-y left top;margin:0px auto;padding:0px'>
 
<div id='top' style='width:950px;height:369px;background:url(http://www.2799.cn/1267682741/effect/source/bg/1267413418.gif)'>
 
 
<!-- 网站标志 -->
 
<div id='pdv_14191' class='pdv_class'  title='' style='width:247px;height:64px;top:29px;left:8px; z-index:2'>
<div id='spdv_14191' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="http://www.2799.cn/1267682741/advs/pics/20100108/1262918757.gif" border="0" />
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 自定义透明FLASH -->
 
<div id='pdv_14188' class='pdv_class'  title='' style='width:950px;height:230px;top:107px;left:0px; z-index:3'>
<div id='spdv_14188' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="100%">
 <param name="movie" value="http://www.2799.cn/1267682741/diy/pics/20100126/1264469396.swf" />
 <param name="quality" value="high" />
 <param name="wmode" value="transparent" />
 <embed src="http://www.2799.cn/1267682741/diy/pics/20100126/1264469396.swf" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="950" height="230"></embed>
</object>
 
</div>
</div>
 
</div>
</div>
 
<!-- 一级导航菜单 -->
 
<div id='pdv_14192' class='pdv_class'   style='width:673px;height:31px;top:52px;left:277px; z-index:6'>
<div id='spdv_14192' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		导航菜单
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="http://www.2799.cn/1267682741/menu/templates/images/mainmenu_dolphin/A.css" rel="stylesheet" type="text/css" />
<div id="menumain">
<div class="menuleft"></div><div class="menuright"></div>
<div class="mainmenuiner">
 
<a href="http://www.2799.cn/1267682741/index.php" target="_self" class="menumain">网站首页</a>
 
<a href="http://www.2799.cn/1267682741/page/html/company.php" target="_self" class="menumain">公司简介</a>
 
<a href="http://www.2799.cn/1267682741/product/class" target="_self" class="menumain">产品中心</a>
 
<a href="http://www.2799.cn/1267682741/news/class/" target="_self" class="menumain">新闻中心</a>
 
<a href="http://www.2799.cn/1267682741/page/html/cert.php" target="_self" class="menumain">荣誉资质</a>
 
<a href="http://www.2799.cn/1267682741/photo/class/?12.html " target="_self" class="menumain">工程案例</a>
 
<a href="http://www.2799.cn/1267682741/down/class" target="_self" class="menumain">资料下载</a>
 
<a href="http://www.2799.cn/1267682741/job/index.php" target="_self" class="menumain">诚聘英才</a>
 
<a href="http://www.2799.cn/1267682741/page/contact/contact.php" target="_self" class="menumain">联系我们</a>
 
</div>
</div>
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_14185' class='pdv_class'  title='图片' style='width:950px;height:10px;top:357px;left:0px; z-index:9'>
<div id='spdv_14185' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		图片
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="http://www.2799.cn/1267682741/diy/pics/20100303/1267580518.gif" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
</div>
<div id='content' style='width:950px;height:607px;background:url(http://www.2799.cn/1267682741/effect/source/bg/1263271146.gif);margin:0px auto'>
 
 
<!-- 网页标题(菜单) -->
 
<div id='pdv_14189' class='pdv_class'  title='栏目导航' style='width:163px;height:221px;top:23px;left:21px; z-index:4'>
<div id='spdv_14189' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(http://www.2799.cn/1267682741/base/border/782/images/title.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">
 
<link href="http://www.2799.cn/1267682741/page/templates/css/pagetitlemenu_dolphin.css" rel="stylesheet" type="text/css" />
<div class="titlemenu_dolphin" >
 
 
<a href="http://www.2799.cn/1267682741/page/contact/contact.php" target="_self" class="titlemenu_dolphin">联系方式</a>
 
 
<a href="http://www.2799.cn/1267682741/page/contact/feedback.php" target="_self" class="titlemenu_dolphin">信息反馈</a>
 
 
<a href="http://www.2799.cn/1267682741/page/contact/advise.php" target="_self" class="titlemenu_dolphin">投诉建议 </a>
 
</div>
 
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 多行文字 -->
 
<div id='pdv_14186' class='pdv_class'  title='联系我们' style='width:163px;height:206px;top:254px;left:21px; z-index:7'>
<div id='spdv_14186' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(http://www.2799.cn/1267682741/base/border/783/images/title.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">
 
<div style="padding:0px 0px 14px 3px;color:#333;font:12px/20px Verdana, Arial, Helvetica, sans-serif;">地 址：杭州莫山路868号<br />
电 话：0573-98765432<br />
联系人：杨军(经理)<br />
手 机：15887654321<br />
网 址：www.aaaa.com<br />
邮 箱：bos@mail.com<br />
邮 编：300009</div>
 
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 当前位置提示条 -->
 
<div id='pdv_14182' class='pdv_class'  title='当前位置' style='width:670px;height:40px;top:24px;left:248px; z-index:8'>
<div id='spdv_14182' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(http://www.2799.cn/1267682741/base/border/788/images/title.gif) no-repeat">
	<div style="float:right;width:8px;height:43px;background:url(http://www.2799.cn/1267682741/base/border/788/images/title.gif) -892px 0px no-repeat;"></div>
 
<link href="http://www.2799.cn/1267682741/page/templates/css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
您现在的位置：<a href="http://www.2799.cn/1267682741/">防火材料公司</a> &gt; 信息反馈
 
</div>
 
</div>
 
</div>
</div>
 
<!-- 全站留言表单 -->
 
<div id='pdv_14193' class='pdv_class'  title='给我留言' style='width:665px;height:500px;top:105px;left:285px; z-index:11'>
<div id='spdv_14193' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		给我留言
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="http://www.2799.cn/1267682741/feedback/templates/css/feedbackform.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="http://www.2799.cn/1267682741/feedback/js/feedback.js"></script>
<div  id="notice" class="noticediv"></div>
<form id="feedbacksmallform" method="post" action="" name="gform">
<table width="100%" border="0" cellspacing="0" cellpadding="3" >
 
<tr> 
      <td width="80" align="right">留言主题：</td>
      <td> 
        <input type="text" name="title" value="" class="input" style="width:399px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>
 
    <tr> 
      <td width="80" align="right">留言内容：</td>
      <td> 
        <textarea name="content"  rows="10" class="textarea" style="width:399px" ></textarea>
        <font style='color:red'>*</font> 
        <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>
 
 
<tr> 
      <td width="80" align="right">客户名称：</td>
      <td> 
        <input type="text" name="company" value="" class="input" style="width:399px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>
 
<tr> 
      <td width="80" align="right">联 系 人：</td>
      <td> 
        <input type="text" name="name" value="" class="input" style="width:399px" />
         <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>
 
<tr> 
      <td width="80" align="right">联系电话：</td>
      <td> 
        <input type="text" name="tel" value="" class="input" style="width:399px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>
 
<tr> 
      <td width="80" align="right">QQ/MSN：</td>
      <td> 
        <input type="text" name="qq" value="" class="input" style="width:399px" />
         <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>
 
    <tr>
      <td width="80" align="right">验 证 码：</td>
      <td><div style="height:28px;white-space:nowrap;float:left;margin-right:1px">
<input type="text" name="ImgCode" style="width:39px"  class="input" />
</div>
<div style="height:28px;white-space:nowrap;float:left">
<img id="codeimg" src="http://www.2799.cn/1267682741/codeimg.php" width="60" height="20" style="border:1px #dddddd solid">
</div>
<span id="getImgCode" style="cursor:pointer;margin-left:10px;line-height:20px">看不清？更换一张</span>
</td>
    </tr>
	<tr> 
      <td width="80" align="right"></td>
      <td>
	  </td>
    </tr>
    <tr> 
      <td width="80" align="right">&nbsp;</td>
      <td height="30">
        <input type="submit" name="Submit" value="提交" class="submit">
        <input type='hidden' name='act' value='formsend'>
        <input name='groupid' type='hidden' id="groupid" value='1'>
		
	  </td>
    </tr>
  </table>
</form>
 
 
</div>
</div>
 
</div>
</div>
</div>
<div id='bottom' style='width:950px;height:122px;background:none transparent scroll repeat 0% 0%'>
 
 
<!-- 底部菜单（一级） -->
 
<div id='pdv_14187' class='pdv_class'   style='width:394px;height:20px;top:54px;left:277px; z-index:1'>
<div id='spdv_14187' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注栏目
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="http://www.2799.cn/1267682741/menu/templates/images/bottommenu_1/A.css" rel="stylesheet" type="text/css" />
<div id="bottommenu">
 
<a href="http://www.2799.cn/1267682741/page/html/company.php" target="_self">关于我们</a>|
 
<a href="http://www.2799.cn/1267682741/page/contact/contact.php" target="_self">联系方式</a>|
 
<a href="http://www.2799.cn/1267682741/page/contact/feedback.php" target="_self">信息反馈</a>|
 
<a href="http://www.2799.cn/1267682741/page/contact/advise.php" target="_self">投诉建议</a>|
 
<a href="http://www.2799.cn/1267682741/job/index.php" target="_self">诚聘英才</a>|
 
<a href="http://www.2799.cn/1267682741/advs/link/" target="_self">友情链接</a>|
 
</div>
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 底部信息编辑区 -->
 
<div id='pdv_14190' class='pdv_class'  title='脚注信息' style='width:950px;height:40px;top:80px;left:0px; z-index:5'>
<div id='spdv_14190' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<div style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
<div style="MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center">版权所有 Copyright(C)2009-2010 杭州某某某防火材料公司</div>
</div>
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_14184' class='pdv_class'  title='图片' style='width:950px;height:30px;top:0px;left:0px; z-index:10'>
<div id='spdv_14184' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		图片
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="http://www.2799.cn/1267682741/diy/pics/20100303/1267591455.gif" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
</div>
</div><div id='bodyex'>
 
</div>
 
</body>
</html>

