
{include file="inc/top.html"}

<div id='content' style='width:950px;height:607px;background:url(bg/1263271146.gif);margin:0px auto'>


<!-- 网页标题(菜单) -->

<div id='pdv_14178' class='pdv_class'  title='栏目导航' style='width:163px;height:221px;top:23px;left:21px; z-index:4'>
<div id='spdv_14178' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_nav{if ""!=$clang}_{$clang}{/if}.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">

<link href="css/pagetitlemenu_dolphin.css" rel="stylesheet" type="text/css" />
<div class="titlemenu_dolphin" >

{if ""!=$clang}

<a href="contactus.php" target="_self" class="titlemenu_dolphin">Contact Us</a>


<a href="message.php" target="_self" class="titlemenu_dolphin">FeedBack</a>


<a href="advise.php" target="_self" class="titlemenu_dolphin">Advise</a>


{else}
<a href="contactus.php" target="_self" class="titlemenu_dolphin">联系方式</a>


<a href="message.php" target="_self" class="titlemenu_dolphin">信息反馈</a>


<a href="advise.php" target="_self" class="titlemenu_dolphin">投诉建议 </a>

{/if}

</div>

</div>
</div>
</div>

</div>
</div>

<!-- 多行文字 -->

<div id='pdv_13521' class='pdv_class'  title='联系我们' style='width:163px;height:206px;top:254px;left:21px; z-index:7'>
<div id='spdv_13521' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(images/title/title_contactus_contactus{if ""!=$clang}_{$clang}{/if}.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">

<div style="padding:0px 0px 14px 3px;color:#333;font:12px/20px Verdana, Arial, Helvetica, sans-serif;">
{$contactUsInfo}
</div>

</div>
</div>
</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div id='pdv_14182' class='pdv_class'  title='当前位置' style='width:670px;height:40px;top:24px;left:248px; z-index:8'>
<div id='spdv_14182' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(http://www.2799.cn/1267682741/base/border/788/images/title.gif) no-repeat">
	<div style="float:right;width:8px;height:43px;background:url(http://www.2799.cn/1267682741/base/border/788/images/title.gif) -892px 0px no-repeat;"></div>

<link href="http://www.2799.cn/1267682741/page/templates/css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">

{$lang.SiteAddress}:<a href="index.php">{$lang.ComparyName}
</a> &gt; {$lang.Message}

</div>

</div>

</div>
</div>

<!-- 全站留言表单 -->

<div id='pdv_14193' class='pdv_class'  title='给我留言' style='width:665px;height:500px;top:105px;left:285px; z-index:11'>
<div id='spdv_14193' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		给我留言
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="css/feedbackform.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/feedback.js"></script>
<div  id="notice" class="noticediv"></div>
<form id="feedbacksmallform" method="post" action="post/message.action.php" name="gform">
<table width="100%" border="0" cellspacing="0" cellpadding="3" >

<tr>
      <td width="120" align="right">{$lang_ms.Title}：</td>
      <td>
        <input type="text" name="title" maxlength="100" value="" class="input" style="width:399px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="120" align="right">{$lang_ms.Content}：</td>
      <td>
        <textarea name="content"  rows="10" class="textarea" style="width:399px" ></textarea>
        <font style='color:red'>*</font>
        <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>


<tr>
      <td width="120" align="right">{$lang_ms.CustomerName}：</td>
      <td>
        <input type="text" name="company" value="" maxlength="50" class="input" style="width:399px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="120" align="right">{$lang_ms.LinkMan}：</td>
      <td>
        <input type="text" name="name" value="" maxlength="50" class="input" style="width:399px" />
         <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="120" align="right">{$lang_ms.Telephone}：</td>
      <td>
        <input type="text" name="tel" value="" maxlength="50" class="input" style="width:399px" />
        <font style='color:red'>*</font> <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

<tr>
      <td width="120" align="right">{$lang_ms.MSN}：</td>
      <td>
        <input type="text" name="qq" value="" maxlength="50" class="input" style="width:399px" />
         <div style="padding-top:3px;color:#666"></div>  </td>
    </tr>

    <tr>
      <td width="120" align="right">{$lang_ms.VerificationCode}：</td>
      <td><div style="height:28px;white-space:nowrap;float:left;margin-right:1px">
<input type="text" name="ImgCode" style="width:39px"  class="input" />
</div>
<div style="height:28px;white-space:nowrap;float:left">
<img id="codeimg" src="action/random/imgcode.php" maxlength="4" width="60" height="20" style="border:1px #dddddd solid">
</div>
<span id="getImgCode" style="cursor:pointer;margin-left:10px;line-height:20px">{$lang_ms.Replacement}</span>
</td>
    </tr>
	<tr>
      <td width="120" align="right"></td>
      <td>
	  </td>
    </tr>
    <tr>
      <td width="120" align="right">&nbsp;</td>
      <td height="30">
        <input type="submit" name="Submit" value="{if ""!=$clang}Submit{else}提交{/if}" class="submit">
        <input type='hidden' name="task" value='formSendMessage'>
        <input type='hidden' name='lang' value='{$clang}'>
	  </td>
    </tr>
  </table>
</form>


</div>
</div>

</div>
</div>
</div>


{include file="inc/buttom.html"}