<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>外保温防火材料再次为举世瞩目焦点-防火材料公司</title>
<meta content="0" name=keywords />
<meta content="0" name=description />
<link href="http://www.2799.cn/1267682741/base/templates/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.2799.cn/1267682741/base/js/base.js"></script>
<script type="text/javascript" src="http://www.2799.cn/1267682741/base/js/common.js"></script>
<script type="text/javascript" src="http://www.2799.cn/1267682741/base/js/form.js"></script>
<script type="text/javascript" src="http://www.2799.cn/1267682741/base/js/blockui.js"></script>
<!-reload-!>
</head>
<body style='background:transparent'>
<script> 
var PDV_PAGEID='3'; 
var PDV_RP='http://www.2799.cn/1267682741/'; 
var PDV_COLTYPE='news'; 
var PDV_PAGENAME='detail'; 
</script>
 
<div id='contain' style='width:950px;background:url(http://www.2799.cn/1267682741/effect/source/bg/1262661247.gif) repeat-y left top;margin:0px auto;padding:0px'>
 
<div id='top' style='width:950px;height:369px;background:url(http://www.2799.cn/1267682741/effect/source/bg/1267413418.gif)'>
 
 
<!-- 网站标志 -->
 
<div id='pdv_14084' class='pdv_class'  title='' style='width:247px;height:64px;top:29px;left:8px; z-index:2'>
<div id='spdv_14084' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="http://www.2799.cn/1267682741/advs/pics/20100108/1262918757.gif" border="0" />
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 自定义透明FLASH -->
 
<div id='pdv_14083' class='pdv_class'  title='' style='width:950px;height:230px;top:107px;left:0px; z-index:3'>
<div id='spdv_14083' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="100%">
 <param name="movie" value="http://www.2799.cn/1267682741/diy/pics/20100126/1264469396.swf" />
 <param name="quality" value="high" />
 <param name="wmode" value="transparent" />
 <embed src="http://www.2799.cn/1267682741/diy/pics/20100126/1264469396.swf" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="950" height="230"></embed>
</object>
 
</div>
</div>
 
</div>
</div>
 
<!-- 一级导航菜单 -->
 
<div id='pdv_14086' class='pdv_class'   style='width:673px;height:31px;top:52px;left:277px; z-index:5'>
<div id='spdv_14086' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		导航菜单
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="http://www.2799.cn/1267682741/menu/templates/images/mainmenu_dolphin/A.css" rel="stylesheet" type="text/css" />
<div id="menumain">
<div class="menuleft"></div><div class="menuright"></div>
<div class="mainmenuiner">
 
<a href="http://www.2799.cn/1267682741/index.php" target="_self" class="menumain">网站首页</a>
 
<a href="http://www.2799.cn/1267682741/page/html/company.php" target="_self" class="menumain">公司简介</a>
 
<a href="http://www.2799.cn/1267682741/product/class" target="_self" class="menumain">产品中心</a>
 
<a href="http://www.2799.cn/1267682741/news/class/" target="_self" class="menumain">新闻中心</a>
 
<a href="http://www.2799.cn/1267682741/page/html/cert.php" target="_self" class="menumain">荣誉资质</a>
 
<a href="http://www.2799.cn/1267682741/photo/class/?12.html " target="_self" class="menumain">工程案例</a>
 
<a href="http://www.2799.cn/1267682741/down/class" target="_self" class="menumain">资料下载</a>
 
<a href="http://www.2799.cn/1267682741/job/index.php" target="_self" class="menumain">诚聘英才</a>
 
<a href="http://www.2799.cn/1267682741/page/contact/contact.php" target="_self" class="menumain">联系我们</a>
 
</div>
</div>
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_14085' class='pdv_class'  title='图片' style='width:950px;height:10px;top:357px;left:0px; z-index:6'>
<div id='spdv_14085' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		图片
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="http://www.2799.cn/1267682741/diy/pics/20100303/1267580518.gif" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
</div>
<div id='content' style='width:950px;height:321px;background:url(http://www.2799.cn/1267682741/effect/source/bg/1263271146.gif);margin:0px auto'>
 
 
<!-- 文章一级分类 -->
 
<div id='pdv_14077' class='pdv_class'  title='栏目导航' style='width:163px;height:143px;top:23px;left:21px; z-index:8'>
<div id='spdv_14077' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:37px;border:0px;padding:0;margin:0;background:url(http://www.2799.cn/1267682741/base/border/782/images/title.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">
 
<link href="http://www.2799.cn/1267682741/news/templates/css/newsclass_dolphin.css" rel="stylesheet" type="text/css" />
<div class="newsclass_dolphin">
 
 
<a href="http://www.2799.cn/1267682741/news/class/?86.html" target="_self" class="newsclass_dolphin">公司新闻</a>
 
 
<a href="http://www.2799.cn/1267682741/news/class/?95.html" target="_self" class="newsclass_dolphin">行业资讯</a>
 
 
<a href="http://www.2799.cn/1267682741/news/class/?97.html" target="_self" class="newsclass_dolphin">相关知识</a>
 
</div>
 
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 当前位置提示条 -->
 
<div id='pdv_14078' class='pdv_class'  title='当前位置' style='width:670px;height:40px;top:24px;left:248px; z-index:9'>
<div id='spdv_14078' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(http://www.2799.cn/1267682741/base/border/788/images/title.gif) no-repeat">
	<div style="float:right;width:8px;height:43px;background:url(http://www.2799.cn/1267682741/base/border/788/images/title.gif) -892px 0px no-repeat;"></div>
 
<link href="http://www.2799.cn/1267682741/news/templates/css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
您现在的位置：<a href="http://www.2799.cn/1267682741/">防火材料公司</a> 
 
&gt; <a href="http://www.2799.cn/1267682741/news/" >新闻中心</a> 
 
&gt; 外保温防火材料再次为举世瞩目焦点
 
</div>
 
</div>
 
</div>
</div>
 
<!-- 文章搜索表单 -->
 
<div id='pdv_14079' class='pdv_class'  title='新闻搜索' style='width:163px;height:132px;top:178px;left:21px; z-index:10'>
<div id='spdv_14079' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
<div style="height:100%;">
<div style="height:38px;border:0px;padding:0;margin:0;background:url(http://www.2799.cn/1267682741/base/border/785/images/title.gif) no-repeat">
</div>
<div style="margin:15px 1px 0px;padding:0px;">
<link href="http://www.2799.cn/1267682741/news/templates/css/news_search_dolphin.css" rel="stylesheet" type="text/css" />
<SCRIPT language="javascript" src="http://www.2799.cn/1267682741/news/js/selectBox.js"></SCRIPT>
<div class="newssearchformzone">
<form id="newssearchform" method="get" action="http://www.2799.cn/1267682741/news/index.php">
  <div class="newssearchform">
    <select name="catid" id="catid" class="box" style="display:none; background:#ffffff; width:140px; height:19px;">
      <option value="0" >请选择分类</option>
      
	  <option value='86'>公司新闻</option><option value='95'>行业资讯</option><option value='97'>相关知识</option>
    
    </select> 
	<script>
	makeSelectBox('catid','http://www.2799.cn/1267682741/');
	</script>
  </div>
 
    <div class="newssearchform">
    <input name="key" type="text" id="newssearchform_key" value="" style="width:138px;" class="inputtext">
  </div>
  <div class="newssearchform2">
  <input name="imageField" id="button" type="image" src="http://www.2799.cn/1267682741/news/templates/images/search5.gif" >
  </div>
</form>
</div>
 
</div>
</div>
</div>
 
</div>
</div>
 
<!-- 文章正文 -->
 
<div id='pdv_14088' class='pdv_class'  title='文章正文' style='width:665px;height:214px;top:105px;left:251px; z-index:11'>
<div id='spdv_14088' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		文章正文
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="http://www.2799.cn/1267682741/news/templates/css/newscontent.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="http://www.2799.cn/1267682741/news/js/newscontent.js"></script>
<div id="newscontent">
	<div class="newstitle">外保温防火材料再次为举世瞩目焦点</div>
 
	<div class="info">作者：管理员 &nbsp;&nbsp; 发布于：2009-12-15 16:22:05 &nbsp;&nbsp; 文字：【<a  href="javascript:fontZoom(16)">大</a>】【<a  href="javascript:fontZoom(14)">中</a>】【<a   href="javascript:fontZoom(12)">小</a>】</div>
	<div id="memo" class="memo" style="display:none"><span style="color:#ff6600">摘要：</span></div>
	<div id="con" class="con">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 不少专家指出，国内对建筑物内饰的防火性能和指标有规范可寻，但对外墙保温防火技术的研究重视却远远不够。 追根究底探因保温材料受疑，目前保温市场上普遍使用的保温材料主要有模塑聚苯板、挤塑聚苯板、聚氨脂泡沫等。 技术突破 改性酚醛板防火保温材料问世 这些保温材料存在的最大的问题，在于它们的防火性能较差，并且产生大量的有毒烟雾，即使加入大量阻燃剂，由于一般阻燃剂的沸点不足300℃，火灾发生时，环境温度可高达1000℃，阻燃剂挥发，所以防火性能仍不理想。 “由于现有普遍应用的外墙外保温系统所使用的保温材料大多是易燃的，使之先天就形成了安全隐患，一旦遇到火情，这些材料甚至就变成‘加速器’、‘燃烧弹’，助推了火势蔓延，加重了救火的难度及其损失。”上海雅达特种涂料有限公司总经理顾卫星说。 顾卫星同时强调“这些保温材料的易燃性给施工和火灾的救援工作也带来了极大的不便。” 巧借他山之石雅达填补空白 近日，上海雅达特种涂料有限公司技术部门从空调防火保温板中得到灵感，将原本用于空调防火保温的材料??酚醛，经过一系列的性能改良，研发出改性酚醛板。</div>
	<div id="contentpages">
	</div>
	<div class="bzone">
	<div class="down" style="display:none">附件下载：<span id="downlink"></span> (已下载0次) <span id="downcentnotice"></span><input type="hidden" id="downcent" value=""></div>
	  <input type="hidden" id="newsid" value="337"> 
	<div class="tags" style="display:none">标签：</div>
	<div id="banzhu" class="banzhu"></div>
	</div>
</div>
<script> 
$(function(){
$().contentPages('337');
});
 
</script>
 
</div>
</div>
 
</div>
</div>
</div>
<div id='bottom' style='width:950px;height:122px;background:none transparent scroll repeat 0% 0%'>
 
 
<!-- 底部菜单（一级） -->
 
<div id='pdv_14082' class='pdv_class'   style='width:394px;height:20px;top:54px;left:277px; z-index:1'>
<div id='spdv_14082' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注栏目
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
<link href="http://www.2799.cn/1267682741/menu/templates/images/bottommenu_1/A.css" rel="stylesheet" type="text/css" />
<div id="bottommenu">
 
<a href="http://www.2799.cn/1267682741/page/html/company.php" target="_self">关于我们</a>|
 
<a href="http://www.2799.cn/1267682741/page/contact/contact.php" target="_self">联系方式</a>|
 
<a href="http://www.2799.cn/1267682741/page/contact/feedback.php" target="_self">信息反馈</a>|
 
<a href="http://www.2799.cn/1267682741/page/contact/advise.php" target="_self">投诉建议</a>|
 
<a href="http://www.2799.cn/1267682741/job/index.php" target="_self">诚聘英才</a>|
 
<a href="http://www.2799.cn/1267682741/advs/link/" target="_self">友情链接</a>|
 
</div>
 
 
</div>
</div>
 
</div>
</div>
 
<!-- 底部信息编辑区 -->
 
<div id='pdv_14087' class='pdv_class'  title='脚注信息' style='width:950px;height:40px;top:80px;left:0px; z-index:4'>
<div id='spdv_14087' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<div style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
<div style="MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center">版权所有 Copyright(C)2009-2010 杭州某某某防火材料公司</div>
</div>
 
</div>
</div>
 
</div>
</div>
 
<!-- 图片/FLASH -->
 
<div id='pdv_14081' class='pdv_class'  title='图片' style='width:950px;height:30px;top:0px;left:0px; z-index:7'>
<div id='spdv_14081' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		图片
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="-1" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
 
 
<img src="http://www.2799.cn/1267682741/diy/pics/20100303/1267591455.gif" border="0" width="100%" />
 
</div>
</div>
 
</div>
</div>
</div>
</div><div id='bodyex'>
 
</div>
 
</body>
</html>

