{include file="inc/top.html"}

<!-- w位置
<div id="bcwrapper">
	<div id="breadcrumbs">
		<a href="/">首页</a> >
		<a href="#">产品中心</a> >
		<a href="#">Essential Nutrition</a> >
		<strong>Antioxidants</strong>
	</div>

	<div id="addthis">
	</div>
	<div class=clear></div>
</div>
 -->

<div id="content" class="columns180720">
	<div id="leftColumn" class="column column180">
		<a id="sectionHeader" href="product.php" style="background:url({if $clang=='English'}images/title/product_en.gif{else}images/title/product_cn.gif{/if});"><span>Products</span></a>
		<ul id="subNav">

			{section name=list loop=$titleRows}
			{if $titleRows[list].pid==8}
			<li><a href="product.php?typeid={$titleRows[list].id}">{$titleRows[list].menu_name}</a>
				<ul>
				{section name=lt loop=$titleRows}
					{if $titleRows[lt].pid==$titleRows[list].id}
					<li class="second"><a href="product.php?typeid={$titleRows[lt].id}">{$titleRows[lt].menu_name}</a></li>
					{/if}
				{/section}
				</ul>

			</li>
			{/if}
			{/section}
		</ul>

	</div>


	<div class="column column265 productImageColumn">
					<a href="#" onclick="window.open('viewlarger.php?prodid={$prodinfo.id}','popUp2','status=0,scrollbars=1,width=500,height=440');return false;">
						<img src="{$prodinfo.prod_pic}" width="148" height="126" alt="{$prodinfo.prod_name}" />
					</a><br/>
					<a class="zoom" href="#" onclick="window.open('viewlarger.php?prodid={$prodinfo.id}','popUp3','status=0,scrollbars=1,width=500,height=440');return false;">{$lang_product.ChaKanDaTu}</a>
	</div>
	<div id="editor" class="column column455">
		{literal}
		<script type="text/javascript">
			var tabCount=1;
			if(true){
				tabCount++;
			}
			if(true){
				tabCount++;
			}
			function clearTab(){
				for(i=1;i<tabCount+1;i++){
					document.getElementById("productTabContent"+i).style.display="none";
					document.getElementById("productTabLink"+i).style.color="#6A747C";
					document.getElementById("productTabLink"+i).style.backgroundPosition="bottom left";
				}
			}
			function setTab(id){
				clearTab();
				document.getElementById("productTabContent"+id).style.display="block";
				//document.getElementById("productTabs").className="tab"+id+tabCount;
				document.getElementById("productTabLink"+id).style.backgroundPosition="top left";
				document.getElementById("productTabLink"+id).style.color="#fff";

			}
		</script>
		{/literal}
		<div id="productBox">
			<h1>{$prodinfo.prod_name}</h1>

			<div style="width:456px;padding:0;">
				<div class="horizontalDotRepeat" style="background-position:bottom left">&nbsp;</div>
				<div style="padding:10px 0 20px 10px;background:#FBFCF5;overflow:auto;">
					<div class="column verticalDotRepeat" style="width:240px;height:86px;padding:0;">
						{$lang_product.BianHao}: <strong>{$prodinfo.id} </strong><br/><br/>

						{$lang_product.JiaGe}:  <strong>{$prodinfo.price}</strong><br/><br/>
						{$lang_product.VIPJiaGe}: <strong>{$prodinfo.vip_price}</strong>
						<div style="font-size:9px;margin: 10px 0px 0px;"></div>
						<p class="prodStatus"></p>
					</div>
					<!--
					<div class="column logintoshop" style="width:186px;padding:0 0 0 10px;">
						<a href="#" style="color:#67A621;">To shop, log in to your market site's Virtual Office.</a> <a href="/en_US/distributors/"><img src="/export/sites/youngliving/en_US/Images/miscImages/arrowGreenOnWhite.gif"/></a>
					</div>
					<div class="horizontalDotRepeat" style="width:196px;height:20px;margin:0 0 0 10px;float:left;"></div>

					<div class="column" style="width:186px;padding:0 0 0 10px;">
						<a href="#" target="_blank" style="color:#D4BF86;">New to Young Living? Create your account.</a> <a href="https://www.youngliving.com/signup/" target="_blank"><img src="/export/sites/youngliving/en_US/Images/miscImages/arrowTanOnWhite.gif"/></a>
					</div>
					 -->
				</div>
				<div class="horizontalDotRepeat" style="background-position:top left">&nbsp;</div>
			</div>

			<div id="productTabs">
				<a id="productTabLink1" href="javascript:setTab(1);">{$lang_product.ChanPinJieShao}</a>


					<a id="productTabLink2" href="javascript:setTab(2);">{$lang_product.ShiYongFangFa}</a>



					<a id="productTabLink3" href="javascript:setTab(3);">{$lang_product.ChengFen}</a>

			</div>
			<div id="productBoxTop"></div>
			<div id="productTabContent1" class="productTabContent">
				<p>
				{$prodinfo.prod_desc}
				</p>
			</div>


				<div id="productTabContent2" class="productTabContent">
					<p>{$prodinfo.prod_use}
					</p>
				</div>

				<div id="productTabContent3" class="productTabContent">
					<p>{$prodinfo.ingredients}
					</p>
				</div>


			<div id="productBoxBottom"></div>

			<p style="margin:5px 10px;font-size:9px;">*{$lang_product.TiShi}</p>

		</div>
		<script type="text/javascript">setTab(1);</script>
	</div>

</div>

















{include file="inc/buttom.html"}