{include file="inc/head.html"}

<div id='content' style='width:1002px;height:429px;background:none transparent scroll repeat 0% 0%;margin:0px auto'>



<!-- 图片/FLASH -->

<div id='pdv_14951' class='pdv_class'  title='图片' style='width:207px;height:72px;top:354px;left:0px; z-index:10'>
<div id='spdv_14951' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		图片
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="http://www.smarthousekeeper.com" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<!--
<a href="prodorder.php"><img src="../images/1268633326.gif" border="0" width="100%" title="方案订购" alt="方案订购"/></a>
-->
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2576618507&site=qq&menu=yes"><img src="../images/1268621395.gif" border="0" width="100%" title="-在线服务" alt="-在线服务"/></a>


</div>
</div>

</div>
</div>


<!-- 产品分类（列表） -->

<div id='pdv_14950' class='pdv_class'  title='产品分类' style='width:207px;height:343px;top:0px;left:0px; z-index:11'>
<div id='spdv_14950' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_prod.gif) no-repeat">
		<div style="float:right;width:20px;height:48px;background:url(../images/title_prod.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:12px;">

<link href="../css/productclass_dolphin.css" rel="stylesheet" type="text/css" />
<div class="productclass_dolphin">

{section name=list loop=$prodclass}
<a href="{$prodclass[list].url}" target="_self" class="productclass_dolphin">{$prodclass[list].class_name}</a>
{/section}

</div>

</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_prod.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_prod.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>



<!-- 产品详情 -->

<div id='pdv_15156' class='pdv_class'  title='产品详情' style='width:740px;height:363px;top:77px;left:244px; z-index:14'>
<div id='spdv_15156' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		产品详情
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="http://www.smarthousekeeper.com" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<div style="padding-left:100px">
{if $moiveType=="MediaPlayer"}
<object classid="clsid:22D6F312-B0F6-11D0-94AB-0080C74C7E95" type="application/x-oleobject" width=500 height=350 align="middle" standby="Loading Microsoft?Windows?Media Player components..." id="MediaPlayer1">
<param name="transparentAtStart" value="True">
<param name="transparentAtStop" value="True">
<param name="AnimationAtStart" value="Ture">
<param name="AutoStart" value="True">
<param name="AutoRewind" value="true">
<param name="DisplaySize" value="0">
<param name="AutoSize" value="false">
<param name="ShowDisplay" value="false">
<param name="ShowStatusBar" value="ture">
<param name="ShowControls" value="ture">
<param name="FileName" value="{$videoinfo.video_path}">
<param name="Volume" value="0">
<embed src="" width="500" height="350" autostart="True" align="middle" transparentatstart="True" transparentatstop="True" animationatstart="Ture" autorewind="true" displaysize="0" autosize="false" showdisplay="False" showstatusbar="-1" showcontrols="ture" filename="{$videoinfo.video_path}" volume="0">
</embed>
</object>
{/if}
{if $moiveType=="RealPlayer"}
<object ID="video" CLASSID="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA" HEIGHT="350" WIDTH="500" align="center">
<param name="_ExtentX" value="9260">
<param name="_ExtentY" value="6350">
<param name="AUTOSTART" value="-1">
<param name="SHUFFLE" value="0">
<param name="PREFETCH" value="0">
<param name="NOLABELS" value="0">
<param name="SRC" value="{$videoinfo.video_path}">
<param name="CONTROLS" value="ImageWindow">
<param name="CONSOLE" value="Clip1">
<param name="LOOP" value="0">
<param name="NUMLOOP" value="0">
<param name="CENTER" value="0">
<param name="MAINTAINASPECT" value="0">
<param name="BACKGROUNDCOLOR" value="#000000"><embed SRC="{$videoinfo.video_path}" type="audio/x-pn-realaudio-plugin" CONSOLE="Clip1" CONTROLS="ImageWindow" HEIGHT="350" WIDTH="500" AUTOSTART="false">
</object>
<br>
<object ID="video" CLASSID="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA" HEIGHT="40" WIDTH="500" align="center">
<param name="_ExtentX" value="9260">
<param name="_ExtentY" value="1058">
<param name="AUTOSTART" value="-1">
<param name="SHUFFLE" value="0">
<param name="PREFETCH" value="0">
<param name="NOLABELS" value="0">
<param name="CONTROLS" value="ControlPanel,StatusBar">
<param name="CONSOLE" value="Clip1">
<param name="LOOP" value="0">
<param name="NUMLOOP" value="0">
<param name="CENTER" value="0">
<param name="MAINTAINASPECT" value="0">
<param name="BACKGROUNDCOLOR" value="#000000">
<embed type="audio/x-pn-realaudio-plugin" CONSOLE="Clip1" CONTROLS="ControlPanel,StatusBar" HEIGHT="60" WIDTH="400" AUTOSTART="false">
</object>
{/if}
{if $moiveType=="FlashPlayer"}
<object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj1" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" width="500" height="350">
<param name="movie" value="{$videoinfo.video_path}">
<param name="quality" value="High">
<embed src="{$videoinfo.video_path}" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj1" width="500" height="350">
</object>
{/if}

</div>
</div>
</div>

</div>
</div>




<!-- 当前位置提示条 -->

<div id='pdv_15301' class='pdv_class'  title='当前位置' style='width:763px;height:47px;top:0px;left:239px; z-index:14'>
<div id='spdv_15301' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/title_address.gif) no-repeat">
	<a href="../../" style="font:12px/20px simsun;cursor:hand;"><div style="float:right;width:11px;height:44px;background:url(../images/title_address.gif) -889px 0px no-repeat;padding-top:6px;"></div></a>

<link href="../css/nav.css" rel="stylesheet" type="text/css" />
<div id="nav">
{$address}

</div>

</div>

</div>
</div>
</div>





{include file="inc/buttom.html"}
