body.ifeeds_body{margin:0;padding-top:6px;padding-left:6px}
.ifeeds_body p{margin:0;padding:0}
.ifeeds a{text-decoration:none!important}
.feeds_style_1 .ifeeds_list_extend,.feeds_style_3 .ifeeds_list_extend{margin-left:1px}
.ifeeds_list_extend:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ifeeds_list_extend{*display:inline-block}
* html .ifeeds_list_extend{height:1%}
*+html .ifeeds_list_extend{height:1%}
.ifeeds_list_extend{display:block;padding-bottom:2px}
.feeds_comment{width:250px;margin-bottom:3px}
.feeds_comment .comment_arrow{width:11px;height:6px;margin-left:5px;overflow:hidden;line-height:10px;line-height:13px\9;_line-height:14px}

.feeds_comment .feeds_comment_list .feeds_comment_text{width:230px}
.feeds_comment .feeds_comment_text a.comment_nickname{text-decoration:none;margin-right:10px;margin_top:0px;padding_top:0px;}
.feeds_comment .feeds_comment_text a.c_tx:hover{text-decoration:underline}
.feeds_comment .feeds_comment_op .feeds_time,.feeds_comment .feeds_comment_op a{margin-right:5px}

.feeds_comment .feeds_comment_list .feeds_comment_cont{margin-left:5px;}

body{color:#686868;}
.c_tx,a.c_tx:link,a.c_tx:visited{color:#4C6C21;}
a.c_tx:hover,a.c_tx:active{color:#6E9333;}
.c_tx3,a.c_tx3:link,a.c_tx3:visited{color:#B5B5B5;}
.bg2,.bgr2{background-color:#F1F4ED;}
.c_bg2{color:#F1F4ED;}

h5{
 line-height:30px; border-bottom:1px dashed #dddddd; display:block;
}