<div style="margin:15px 1px 0px;padding:0px;">

<link href="css/pagetitlemenu_dolphin.css" rel="stylesheet" type="text/css" />
<div class="titlemenu_dolphin" >

{if ""!=$clang}
<a href="aboutus.php" target="_self" class="titlemenu_dolphin">AboutUs</a>


<a href="culture.php" target="_self" class="titlemenu_dolphin">Cuture</a>


<a href="cert.php" target="_self" class="titlemenu_dolphin">Honour</a>


<a href="environment.php" target="_self" class="titlemenu_dolphin">DeviceContext</a>


<a href="word.php" target="_self" class="titlemenu_dolphin">LeadWord</a>


<a href="history.php" target="_self" class="titlemenu_dolphin">EnterpriseHistory</a>
{else}
<a href="aboutus.php" target="_self" class="titlemenu_dolphin">公司简介</a>


<a href="culture.php" target="_self" class="titlemenu_dolphin">企业文化</a>


<a href="cert.php" target="_self" class="titlemenu_dolphin">荣誉资质</a>


<a href="environment.php" target="_self" class="titlemenu_dolphin">设备环境</a>


<a href="word.php" target="_self" class="titlemenu_dolphin">领导致辞</a>


<a href="history.php" target="_self" class="titlemenu_dolphin">发展历程</a>
{/if}


</div>

</div>