	<div id="foot">
	  <div id='link'>
	  	<ul>
	  		<li><a href='http://www.vdesign.net' target='_blank'>解决方案</a></li>
	  		<li><a href='http://www.vdesign.net' target='_blank'>IT技术服务</a></li>
	  		<li><a href='http://www.vdesign.net' target='_blank'>IT培训</a></li>
	  		<li><a href='http://www.vdesign.net' target='_blank'>产品与备件</a></li>
	  		<li><a href='http://www.vdesign.net/html/service_web.html' target='_blank'>技术支持</a></li>
	  		<li><a href='http://www.vdesign.net/html/service_design.html' target='_blank'>项目洽谈</a></li>
	  		<li><a href='http://www.vdesign.net/html/service_portal.html' target='_blank'>法律声明</a></li>
	  		<li><a href='http://www.vdesign.net/html/service_system.html' target='_blank'>联系我们</a></li>
	  	</ul>
	  </div>
	  <div id="copyRight">
	    <div id="company">&copy;2012-2015 “泛地缘科技”版权所有 | <a href="http://www.miibeian.gov.cn/" target="_blank">闽ICP备00000000号</a> |
	      <!-- <script src="http://s120.cnzz.com/stat.php?id=1233224&web_id=1233224" language="JavaScript" charset="gb2312"></script> -->
	    </div>
	    <div id="author"><a href="http://www.guoguonet.com" target="_blank">Site by loveecody</a></div>
	  </div>

	</div>
	<!-- foot -->