{literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<title>企业品牌网站建设 &lt; 服务 &lt; 视点网络(视点工作室)——深圳、广州、上海、杭州、东莞地区专业网站建设服务商,网页设计知名品牌,服务范围涉及企业品牌网站建设、界面风格设计、行业门户构建、WEB系统开发等</title>

<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="css/css.css" rel="stylesheet" type="text/css">
<link href="css/contact.css" rel="stylesheet" type="text/css" />

</head>
<body id="mainPage" class="page238">

<script src="js/common.js" type="text/javascript"></script>
<script src="js/mt.js" type="text/javascript"></script>
<script src="js/reflection.js" type="text/javascript"></script>
<script language="javascript">
lytebox_doAnimations=true;
</script>
<script type="text/javascript" language="javascript" src="js/lytebox.js"></script>
<link rel="stylesheet" href="js/lytebox.css" type="text/css" media="screen" />

<div id="container">
	<div id="innerContainer">

		<div id="head"  style="z-index:9999">
		<div id="logo">
		  	<!--
		  	<a href="#"><img src='images/siteConfig9_2010217162228.gif'/></a>
		  	-->
		  	<a href="index.html"><img src='images/logo.png'/></a>
		  </div>
		  <div id="quickBar">
		    <ul>
		      <li id="quickBar_home"><a href="/index.html">网站首页</a></li>
		    </ul>
		  </div>
		  <div id="navigation" style="z-index:9900">
			<ul>
			{/literal}
		      <li id="hello">欢迎访问本网站!</li>
		      {section name=list loop=$menulist}
		      	  {assign var=params value=1}
			      {if $menulist[list].pid=='-1'}
				      <li id="navigation_{$menulist[list].remark}"><a href="{$menulist[list].url}">{$menulist[list].name}</a>

					        {section name=lt loop=$menulist}
				      			{if $menulist[lt].pid==$menulist[list].id}
						      		{assign var=params value=0}
					      		{/if}
				      		{/section}

							{if $params==0}
					        <ul id='sub_{$menulist[list].id}' style="z-index:9900">
					        {/if}
					        {section name=lt loop=$menulist}
				      			{if $menulist[lt].pid==$menulist[list].id}
						      		<li><a href='{$menulist[lt].url}'>{$menulist[lt].name}</a></li>
					      		{/if}
				      		{/section}
				      		{if $params==0}
					      	</ul>
					      	{/if}
				      </li>
			      {/if}
		      {/section}
		      {literal}
		      <!--
		      <li id="navigation_home"><a  class="hide" href="/index.html">解决方案</a>
		        <ul id='sub_0' style="z-index:9900">
		      		<li><a href='/html/case_web.html'>集成部署解决方案</a></li>
		      		<li><a href='/html/case_design.html'>数据中心外包解决方案</a></li>
		      		<li><a href='/html/case_portal.html'>网络安全解决方案</a></li>
		      		<li><a href='/html/case_system.html'>IT运维管理咨询</a></li>
		      		<li><a href='/html/case_system.html'>IT整合优化咨询</a></li>
		      		<li><a href='/html/case_system.html'>系统高可用性架构咨询</a></li>
		      	</ul>
		      </li>
		      <li id='navigation_193'>
		      	<a href='/html/case.html' class='menulink hide' >IT技术服务</a>
		      	<ul id='sub_1' style="z-index:9900">
		      		<li><a href='/html/case_web.html'>IT技术服务</a></li>
		      		<li><a href='/html/case_design.html'>IT技术服务</a></li>
		      		<li><a href='/html/case_portal.html'>IT技术服务</a></li>
		      		<li><a href='/html/case_system.html'>IT技术服务</a></li>
		      	</ul>
		      </li>
		      <li id='navigation_196'><a href='/html/service.html' class='menulink hide'>IT培训</a>
		      	<ul id='sub_2'>
		      		<li><a href='/html/service_web.html'>企业品牌网站建设</a></li>
		      		<li><a href='/html/service_design.html'>界面风格设计</a></li>
			      	<li><a href='/html/service_portal.html'>行业门户构建</a></li>
			      	<li><a href='/html/service_system.html'>WEB系统开发</a></li>
			      	<li><a href='/html/service_flow.html'>服务流程</a></li>
		      	</ul>
		      </li>
		      <li id='navigation_212'><a href='/html/about.html' class='menulink hide'>产品与配件</a>
		      	<ul id='sub_3'>
		      		<li><a href='/html/about_info.html'>简介</a></li>
		      		<li><a href='/html/about_view.html'>观点</a></li>
		      		<li><a href='/html/about_advantage.html'>优势</a></li>
		      		<li><a href='/html/about_cooperation.html'>加盟&合作</a></li>
		      	</ul>
		      </li>
		      <li id='navigation_197'><a href='/html/contact.html' class='menulink hide'>技术支持</a>
		      	<ul id='sub_4'>
		      		<li><a href='/html/faq.html'>常见问题</a></li>
		      	</ul>
		      </li>
		      <li id='navigation_265'><a href='/html/wiki.html' class='menulink hide'>项目洽谈</a></li>
		       -->
		    </ul>
		  </div>
		</div>
<script type="text/javascript">
window.addEvent('domready', function(){
	if ($("navigation_{/literal}{$nav_style}{literal}")) {
		$("navigation_{/literal}{$nav_style}{literal}").className="navigationOverStyle";
	}
	if ($("menu_212")) {
		$("menu_212").className="menuOverStyle";
	}
	if ($$("#menu #module{/literal}{$nav_son_style}{literal}").length>0) {
		$$("#menu #module{/literal}{$nav_son_style}{literal}")[0].className="moduleOverStyle noOverStyle";
	}
});
tagEventEffect(sfHover,"li", "navigation");

</script>
{/literal}