{literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {font-size: 12px}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}

a:link {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.STYLE7 {font-size: 12}

-->
</style>

<script>
var  highlightcolor='#eafcd5';
//此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
var  clickcolor='#51b2f6';
function  changeto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=highlightcolor;
}
}

function  changeback(){
if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
return
if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}

function  clickto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=clickcolor;
}
else
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}
/*
			全选/反选
		*/
		function checkall(){
			var c = document.getElementsByName("selectsingle[]");
			for(var i=0;i<c.length;i++){
				c[i].checked=document.all.selectall.checked;
			}
		}
		/*
		判断是否选中
		*/
		function checkIsCheck(){
			var isCheck = false;
			var c = document.getElementsByName("selectsingle[]");
			for(var i=0;i<c.length;i++){
				if (c[i].checked){
					isCheck=true;
					break;
				}
			}

			if (!isCheck){
				alert("你还没有选中任何项目");
				return false;
			}else{
				if (confirm("是否要进行操作？")){
					return true;
				}else{
					return false;
				}
			}

		}
</script>
</head>

<body>
<form action="post/college.action.php" method="post">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="30"><img src="images/tab/tab_03.gif" width="15" height="30" /></td>
        <td width="1101" background="images/tab/tab_05.gif">
        	<img src="images/tab/311.gif" width="16" height="16" /> <span class="STYLE4">宝迪学院管理-知识类型管理</span></td>
        <td width="281" background="images/tab/tab_05.gif">

        	<table border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
             <!-- <td width="60"><table width="87%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center">
                        <input type="checkbox" name="checkbox62" value="checkbox" />
                    </div></td>
                    <td class="STYLE1"><div align="center">全选</div></td>
                  </tr>
              </table></td> -->
              <td width="60">

              	<table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><a href="addcollege.php" target="dataFarme"><img src="images/tab/001.gif" width="14" height="14" border="0"/></a></div></td>
                    <td class="STYLE1"><div align="center"><a href="addcollege.php" target="dataFarme">新增</a></div></td>
                  </tr>
              	</table>

              </td>
             <!--  <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="images/tab/114.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">修改</div></td>
                  </tr>
              </table></td>
              <td width="52"><table width="88%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="images/tab/083.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">删除</div></td>
                  </tr> -->
              </table>

              </td>
            </tr>
        </table></td>
        <td width="14"><img src="images/tab/tab_07.gif" width="14" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>
    <table height="20px" width="100%"  border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
	<td>&nbsp;</td>
	<td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
	</tr>
	</table>
 {/literal}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <form action="post/college.action.php" method="post">
		<tr>
        <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
        <td bgcolor="#f3ffe3" align="center">
        	<table width="70%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
			  <tr>
				<td bgcolor="#FFFFFF" class="STYLE2 STYLE1" align="center" colspan="2" height="30px"><strong>添加知识类型</strong></td>
	          </tr>
	          <tr>
				<td bgcolor="#FFFFFF" class="STYLE2 STYLE1" width="40%" align="right">父类：</td>
				<td bgcolor="#FFFFFF" class="STYLE2 STYLE1" align="left">&nbsp;<select id="pid" name="pid">
					<option value="0">==========请====选====择========</option>
					{section name=list loop=$typeRows}
			          {if $typeRows[list].pid == '0'}
			         	 <option value="{$typeRows[list].id}">{$typeRows[list].college_title_zh_cn}-{$typeRows[list].college_title_en}</option>
			          {/if}
			        {/section}
					</select><br>&nbsp;<font style="color:red;">*没有选择则为添加一级目录</font></td>
	          </tr>
	          <tr>
				<td bgcolor="#FFFFFF" class="STYLE2 STYLE1" width="40%" align="right">中文名称</td>
				<td bgcolor="#FFFFFF" class="STYLE2 STYLE1" align="left">&nbsp;<input text="text" size="35" name="type_zh_cn" id="type_zh_cn"></td>
	          </tr>
	          <tr>
				<td bgcolor="#FFFFFF" class="STYLE2 STYLE1" width="40%" align="right">英文名称</td>
				<td bgcolor="#FFFFFF" class="STYLE2 STYLE1" align="left">&nbsp;<input text="text" size="35" name="type_en" id="type_en"></td>
	          </tr>
	          <tr>
				<td bgcolor="#FFFFFF" class="STYLE2 STYLE1" align="center" colspan="2" height="30px">
					<input type="reset" value="清空重填"> &nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" value="确定提交">
					<input type="hidden" value="AddCollegeType" id="task" name="task">
				</td>
	          </tr>
         	</table>
        </td>
        <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
      </form>
    </table>

	<table height="20px" width="100%"  border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
	<td>&nbsp;</td>
	<td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
	</tr>
	</table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
        <td bgcolor="#f3ffe3"><table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
          	<td width="6%" height="26" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1"><input title="全选/反选" type="checkbox" name="selectall"
									onclick="checkall();"></div></td>
            <td width="10%" height="26" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">ID</div></td>
            <td width="27%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">类型[中文]</div></td>
            <td width="27%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">Type[英文]</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">级别</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">编辑</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">删除</div></td>
          </tr>

          {section name=list loop=$typeRows}
          {if $typeRows[list].pid == '0'}

          <tr>
	          <form method="post" action="post/college.action.php">
		          	<td height="25" bgcolor="#FFFFFF" class="STYLE2">
		          		<div align="center" class="STYLE2 STYLE1"><input type="checkbox" id="selectsingle[]"  name="selectsingle[]"	value="{$typeRows[list].id}" /></div></td>
		            <td height="25" bgcolor="#FFFFFF" class="STYLE2">
		            	<div align="center" class="STYLE2 STYLE1">{$typeRows[list].id}</div>
		            	<input type="hidden" value="{$typeRows[list].id}" id="typeid" name="typeid">
		            	<input type="hidden" value="updateCollegeType" id="task" name="task"></td>
		            <td height="25" bgcolor="#FFFFFF"><div align="left" class="STYLE2 STYLE1"><input type="text" id="title_zh_cn" size="30" name="title_zh_cn" value="{$typeRows[list].college_title_zh_cn}"></div></td>
		            <td height="25" bgcolor="#FFFFFF"><div align="left" class="STYLE2 STYLE1"><input type="text" id="title_en" size="30" name="title_en" value="{$typeRows[list].college_title_en}"></div></td>
		            <td height="25" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1" ><font style="color:red;">一级</font></div></td>
		            <td height="25" bgcolor="#FFFFFF">
		            	<div align="center">
							<!--
		            		<a href="javascript:" onclick="javascript:document.all.form{$typeRows[list].id}.submit();"><img src="images/tab/037.gif" width="9" height="9" border="0"/></a>
		            		<span class="STYLE1">[</span><a href="javascript:" onclick="javascript:document.all.form{$typeRows[list].id}.submit();">编辑</a><span class="STYLE1">]</span>
		            		 -->
		            		<input type="submit" value="修改" onclick="if(!confirm('是否确定修改?'))return false;">
		            	</div>
		            </td>
		            <td height="25" bgcolor="#FFFFFF"><div align="center"><span class="STYLE2"><a href="#" onclick="if(confirm('所关联的文章也会被同时删除,您确定删除吗?'))location.href='post/college.action.php?task=deleteCollegeType&typeid={$typeRows[list].id}';"><img src="images/tab/010.gif" width="9" height="9"  border="0"/></a></span><span class="STYLE1">[</span><a href="#" onclick="if(confirm('所关联的文章也会被同时删除,您确定删除吗?'))location.href='post/college.action.php?task=deleteCollegeType&typeid={$typeRows[list].id}';">删除</a><span class="STYLE1">]</span></div></td>
	          </form>
          </tr>

	          {section name=lt loop=$typeRows}
		          {if $typeRows[lt].pid == $typeRows[list].id}
			          <tr>
			          <form method="post" action="post/college.action.php">
			          	<td height="25" bgcolor="#FFFFFF" class="STYLE2">
			          		<div align="center" class="STYLE2 STYLE1"><input type="checkbox" id="selectsingle[]"  name="selectsingle[]"	value="{$typeRows[lt].id}" /></div></td>
			            <td height="25" bgcolor="#FFFFFF" class="STYLE2">
			            	<input type="hidden" value="{$typeRows[lt].id}" id="typeid" name="typeid">
			            	<input type="hidden" value="updateCollegeType" id="task" name="task">
			            	<div align="center" class="STYLE2 STYLE1">{$typeRows[lt].id}</div></td>
			            <td height="25" bgcolor="#FFFFFF"><div align="left" class="STYLE2 STYLE1">|-<input type="text" id="title_zh_cn" name="title_zh_cn" size="28" value="{$typeRows[lt].college_title_zh_cn}"></div></td>
			            <td height="25" bgcolor="#FFFFFF"><div align="left" class="STYLE2 STYLE1">|-<input type="text" id="title_en" name="title_en" size="28" value="{$typeRows[lt].college_title_en}"></div></td>
                        <td height="25" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">二级</div></td>
			            <td height="25" bgcolor="#FFFFFF">
			            	<div align="center">
			            	<!--
			            	<a href="javascript:this.form.submit();" onclick="javascript:this.form.submit();"><img src="images/tab/037.gif" width="9" height="9" border="0"/></a><span class="STYLE1">[</span><a href="javascript:this.form.submit();" onclick="javascript:this.form.submit();">编辑</a><span class="STYLE1">]</span>
			            	 -->
			            	<input type="submit" value="修改"  onclick="if(!confirm('是否确定修改?'))return false;">
			            	</div>
			            </td>
			            <td height="25" bgcolor="#FFFFFF"><div align="center"><span class="STYLE2"><a href="#" onclick="if(confirm('所关联的文章也会被同时删除,您确定删除吗?'))location.href='post/college.action.php?task=deleteCollegeType&typeid={$typeRows[list].id}';"><img src="images/tab/010.gif" width="9" height="9"  border="0"/></a></span><span class="STYLE1">[</span><a href="#" onclick="if(confirm('所关联的文章也会被同时删除,您确定删除吗?'))location.href='post/college.action.php?task=deleteCollegeType&typeid={$typeRows[lt].id}';">删除</a><span class="STYLE1">]</span></div></td>
                  		</form>
			         </tr>

		          {/if}
	          {/section}
		  {/if}
          {sectionelse}
			<tr>
				<td colspan=7 height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">没有所要查询的数据....</div></td>
			</tr>
          {/section}
        </table></td>
        <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
    </table>

    </td>
  </tr>
  <tr>
    <td height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="29"><img src="images/tab/tab_20.gif" width="15" height="29" /></td>
        <td background="images/tab/tab_21.gif">
    	{$page}
        </td>
        <td width="14"><img src="images/tab/tab_22.gif" width="14" height="29" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</form>
</body>
</html>