{literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {font-size: 15px}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}

a:link {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.STYLE7 {font-size: 12}

-->
</style>

<script>
var  highlightcolor='#eafcd5';
//此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
var  clickcolor='#51b2f6';
function  changeto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=highlightcolor;
}
}

function  changeback(){
if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
return
if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}

function  clickto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=clickcolor;
}
else
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}
</script>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="30"><img src="images/tab/tab_03.gif" width="15" height="30" /></td>
        <td width="1101" background="images/tab/tab_05.gif">
        	<img src="images/tab/311.gif" width="16" height="16" /> <span class="STYLE4">系统配置-导航管理</span></td>
        <td width="281" background="images/tab/tab_05.gif">

        	<table border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
             <!-- <td width="60"><table width="87%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center">
                        <input type="checkbox" name="checkbox62" value="checkbox" />
                    </div></td>
                    <td class="STYLE1"><div align="center">全选</div></td>
                  </tr>
              </table></td>
              <td width="60">

              	<table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><a href="addpower.php" target="dataFarme"><img src="images/tab/001.gif" width="14" height="14" border="0"/></a></div></td>
                    <td class="STYLE1"><div align="center"><a href="addpower.php" target="dataFarme">新增</a></div></td>
                  </tr>
              	</table>

              </td> -->
             <!--  <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="images/tab/114.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">修改</div></td>
                  </tr>
              </table></td>
              <td width="52"><table width="88%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="images/tab/083.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">删除</div></td>
                  </tr> -->
              </table>

              </td>
            </tr>
        </table></td>
        <td width="14"><img src="images/tab/tab_07.gif" width="14" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
        <td bgcolor="#f3ffe3"><table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
            <td width="10%" height="35" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">ID</div></td>
            <td width="20%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">导航名称</div></td>
            <td width="20%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">父类导航</div></td>
            <td width="20%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">URL</div></td>
            <td width="15%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">顺序</div></td>
            <td width="15%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">操作</div></td>
          </tr>
          {/literal}
          {section name=list loop=$adminRow}
          {if $adminRow[list].pid=='-1'}
          <form action="post/config.action.php" method="post">
          <tr>
            <td height="35" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">
            	<input type="hidden" id="typeid" name="typeid" value="{$adminRow[list].id}">
            	<input type="hidden" id="task" name="task" value="updateMenu">{$adminRow[list].id}
            </div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="left" class="STYLE2 STYLE1">
            	&nbsp;<input type="text" id="type_name" name="type_name" value="{$adminRow[list].type_name}">
            </div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="left" class="STYLE2 STYLE1">
            &nbsp;<select id="pid" name="pid" disabled="disabled" >
            <option value="-1" {if '-1'==$adminRow[list].pid}selected{/if}>顶级</option>
            {section name=plt loop=$pmenu}
            <option value="{$pmenu[plt].id}" {if $pmenu[plt].id==$adminRow[list].pid}selected{/if}>{$pmenu[plt].type_name}</option>
            {/section}
            </select>
            </div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
            	<input type="text" id="url" name="url" value="{$adminRow[list].url}" readonly="readonly" disabled="disabled">
            </div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
				<input type="text" id="seq" name="seq" size="10" value="{$adminRow[list].seq}">
			</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center">
            <input type="submit" value="修改">
            </div></td>
            <!--
            <td height="18" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE2"><a href="if(confirm('确定删除?'))location.href='post/account.action.php?task=deletePower&menuid={$adminRow[list].id}';"><img src="images/tab/010.gif" width="9" height="9"  border="0"/></a></span><span class="STYLE1">[</span><a href="#" onclick="if(confirm('确定删除?'))location.href='post/account.action.php?task=deletePower&menuid={$adminRow[list].id}';">删除</a><span class="STYLE1">]</span>
            </div></td>
             -->
          </tr></form>
	          {section name=lt loop=$adminRow}
		          {if $adminRow[lt].pid==$adminRow[list].id}
		          <form action="post/config.action.php" method="post">
		          	<tr>
			            <td height="35" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">
			            	<input type="hidden" id="typeid" name="typeid" value="{$adminRow[lt].id}">
			            	<input type="hidden" id="task" name="task" value="updateMenu">{$adminRow[lt].id}
		            	</div></td>
			            <td height="18" bgcolor="#FFFFFF"><div align="left" class="STYLE2 STYLE1">
			            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			            	<input type="text" id="type_name" name="type_name" value="{$adminRow[lt].type_name}">
			            </div></td>
			            <td height="18" bgcolor="#FFFFFF"><div align="left" class="STYLE2 STYLE1">
			            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="pid" name="pid" disabled="disabled" >
					    <option value="-1" {if '-1'==$adminRow[list].pid}selected{/if}>顶级</option>
					    {section name=pltt loop=$pmenu}
					    <option value="{$pmenu[pltt].id}" {if $pmenu[pltt].id==$adminRow[lt].pid}selected{/if}>{$pmenu[pltt].type_name}</option>
					    {/section}
					    </div></td>
			            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
			            	<input type="text" id="url" name="url"  value="{$adminRow[lt].url}" readonly="readonly" disabled="disabled">
			            </div></td>
			            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
			            	<input type="text" id="seq" name="seq" size="10" value="{$adminRow[lt].seq}">
			            </div></td>
			            <td height="18" bgcolor="#FFFFFF"><div align="center">
				            <input type="submit" value="修改">
			            </div></td>
			             <!--
			            <td height="18" bgcolor="#FFFFFF"><div align="center">
						<span class="STYLE2"><a href="if(confirm('确定删除?'))location.href='post/account.action.php?task=deletePower&menuid={$adminRow[lt].id}';"><img src="images/tab/010.gif" width="9" height="9"  border="0"/></a></span><span class="STYLE1">[</span><a href="#" onclick="if(confirm('确定删除?'))location.href='post/account.action.php?task=deletePower&menuid={$adminRow[lt].id}';">删除</a><span class="STYLE1">]</span>
			            </div></td>-->
			          </tr></form>
		          {/if}
	          {/section}
          {/if}
          {sectionelse}
			<tr>
				<td colspan=6 height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">没有所要查询的数据....</div></td>
			</tr>
          {/section}
        </table></td>
        <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="29"><img src="images/tab/tab_20.gif" width="15" height="29" /></td>
        <td background="images/tab/tab_21.gif">
    	{$page}
        </td>
        <td width="14"><img src="images/tab/tab_22.gif" width="14" height="29" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>