
{include file="inc/head.html"}
<div id='content' style='width:1002px;height:417px;background:none transparent scroll repeat 0% 0%;margin:0px auto'>


<!-- 网页标题(菜单) -->

<div id='pdv_14997' class='pdv_class'  title='果果网络-栏目导航' style='width:207px;height:187px;top:0px;left:0px; z-index:9'>
<div id='spdv_14997' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_lmdh.gif) no-repeat">
	<div style="float:left;width:120px;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">栏目导航</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_lmdh.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:0px;">

<link href="../css/pagetitlemenu_dolphin.css" rel="stylesheet" type="text/css" />
<div class="titlemenu_dolphin" >

<a href="../sure/" target="_self" class="titlemenu_dolphin"><FONT style="color:#FF6600;">合作登入</FONT></a>

<a href="../job/joblist.html" target="_self" class="titlemenu_dolphin">诚聘英才</a>

<!--
<a href="../aboutus/addlink.html" target="_self" class="titlemenu_dolphin">申请链接</a>
 -->
<a href="../aboutus/link.html" target="_self" class="titlemenu_dolphin">友情链接</a>

</div>

</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_lmdh.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_lmdh.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>

<!-- HTML编辑区 -->

<div id='pdv_15171' class='pdv_class'  title='果果网络-联系我们' style='width:207px;height:218px;top:197px;left:0px; z-index:10'>
<div id='spdv_15171' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">
<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_link.gif) no-repeat">
	<div style="float:left;width:120px;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">联系我们</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_link.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:0px;">
<div style="MARGIN-TOP: 15px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 15px; COLOR: #333; LINE-HEIGHT: 150%">{$contactInfo}</div>
</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_link.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_link.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>


<!-- HTML编辑区 -->

<div id='pdv_15191' class='pdv_class'  title='果果网络-会员登录' style='width:763px;height:500px;top:0px;left:239px; z-index:12'>
<div id='spdv_15191' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:url(../images/bg.gif) repeat-y;">

<div style="height:100%;background:url(../images/bg.gif) right repeat-y;">
<div style="height:48px;border:0px;padding:0;margin:0;background:url(../images/title_address.gif) no-repeat">
	<link href="../css/nav.css" rel="stylesheet" type="text/css" />
	<div class="nav" style="float:left;height:38px;font:12px/46px simsun;color:#464646;padding-top:4px;padding-left:38px;">
		{$address}
	</div>
	<div style="float:right;width:20px;height:48px;background:url(../images/title_address.gif) -880px 0px no-repeat;"></div>
</div>

<div style="margin:0px 1px 0px;padding:0px;">
<div style="MARGIN-TOP: 15px; PADDING-BOTTOM: 20px; PADDING-left: 30px; MARGIN-LEFT: 30px; COLOR: #333; LINE-HEIGHT: 150%">
	<table width="90%"  border="0" cellspacing="0" cellpadding="3">
	  {section name=list loop=$caseList}
	  {if "2"!=$caseList[list].state}
	  <tr>
	  	<td width="30%" style="text-align:center;">
		  	<a href="showcase.html?path={$caseList[list].case_picture|escape:"url"}" target="_black" title="果果网络-点击查看主页详细信息"><img src="{$caseList[list].case_picture}" border='0' width="100px" height="100px"/></a>
	  	</td>
	  	<td>
	  		<table border="0"  style="width:100%;height:80px;">
	  			<tr height="40%">
	  				<td width="50%">
	  					<a href="showcase.html?path={$caseList[list].case_picture|escape:"url"}" target="_black" title="果果网络-点击查看主页详细信息">{if "1"== $caseList[list].state}<FONT style="color:#FF6600;">{$caseList[list].case_name}</FONT>{else}{$caseList[list].case_name}{/if}</a>
	  				</td>
	  				<td width="50%" rowspan='3'>
	  					{if "1"== $caseList[list].state}
	  					<table cellpadding="0" cellpadding="0">
	  						<tr>
	  							<td>方案进度：</td>
	  							<td style="width:100px;height:10px;background-image:url(../images/cw1.gif);"><img src="../images/cw3.gif" width="{$caseList[list].case_plan}px" height="10px" title="果果网络-方案进度" alt="果果网络-方案进度"></td>
	  							<td>&nbsp;{$caseList[list].case_plan}%</td>
	  						</tr>
	  					</table>
	  					{/if}
	  				</td>
	  			</tr>
	  			<tr height="30%">
	  				<td width="50%">
	  					{if "0"==$caseList[list].state}
	  					供选方案
	  					{else}
	  						{if "1"== $caseList[list].state}
	  						<FONT style="color:#FF6600;">已选择该方案</font>
	  						{else}
	  							{if "-1"== $caseList[list].state}
			  					已删方案
			  					{else}
			  						该方案已确定
			  					{/if}
	  						{/if}
	  					{/if}
	  				</td>
	  			</tr>
	  			<tr height="30%">
	  				<td width="50%">
	  					{if "0"==$caseList[list].state}
	  						<input type="button" value="删除该方案" onclick="if(confirm('确定删除该方案?'))location.href='action/changeState.php?mod=del&caseid={$caseList[list].id}'">&nbsp;
	  						<input type="button" value="选择该方案" onclick="if(confirm('确定选择该方案?'))location.href='action/changeState.php?mod=sel&caseid={$caseList[list].id}'">
	  					{else}
	  						{if "1"== $caseList[list].state}
	  							<input type="button" value="已选择该方案" disabled="disabled">
	  						{else}
	  							{if "-1"== $caseList[list].state}
			  						<input type="button" value="重新激活该方案" onclick="if(confirm('确定重新激活该方案?'))location.href='action/changeState.php?mod=act&caseid={$caseList[list].id}'">
		  						{else}
		  							<input type="button" value="该方案已确定" disabled="disabled">
		  						{/if}
	  						{/if}
	  					{/if}

	  				</td>
	  			</tr>
	  		</table>
	  	</td>
	  </tr>
	  <tr>
	  	<td colspan="2"><hr style="border-top-width: 1px; border-bottom: 1px dotted #FF6600" color="#FFFFFF" size="1"></td>
	  </tr>
	  {else}
	   <tr>
	  	<td width="30%" style="text-align:center;">
		  	<a href="showcase.html?path={$caseList[list].case_picture|escape:"url"}" target="_black" title="果果网络-点击查看主页详细信息">
		  		<img src="{$caseList[list].case_picture}" border='0' width="100px" height="100px"/></a>
	  	</td>
	  	<td>
	  		<table border="0"  style="width:100%;height:80px;">
	  			<tr height="40%">
	  				<td width="50%">
	  					<a href="showcase.html?path={$caseList[list].case_picture|escape:"url"}" target="_black" title="果果网络-点击查看主页详细信息"><FONT style="color:#FF6600;">{$caseList[list].case_name}</FONT></a>
	  				</td>
	  				<td width="50%" rowspan='3'>
	  					<table>
	  						<tr>
	  							<td>方案进度：</td>
	  							<td style="width:100px;height:10px;background-image:url(../images/cw1.gif);">
	  								<img src="../images/cw3.gif" width="100px" height="10px" title="果果网络-方案进度" alt="果果网络-方案进度"></td>
	  							<td>&nbsp;100%</td>
	  						</tr>
	  					</table>
	  				</td>
	  			</tr>
	  			<tr height="30%">
	  				<td width="50%">
	  					<FONT style="color:#FF6600;">方案已完工</FONT>
	  				</td>
	  			</tr>
	  			<tr height="30%">
	  				<td width="50%">
	  					<input type="button" value="方案已完工" disabled="disabled">
	  				</td>
	  			</tr>
	  		</table>
	  	</td>
	  </tr>
	  <tr>
	  	<td colspan="2"><hr style="border-top-width: 1px; border-bottom: 1px dotted #FF6600" color="#FFFFFF" size="1"></td>
	  </tr>
	  {/if}
	  {/section}
	</table>

</div>
</div>
</div>
</div>
<div style="margin-top:-10px;height:10px;line-height:10px;background:url(../images/title_link.gif) 0px -90px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-10px;line-height:10px;width:12px;height:10px;background:url(../images/title_link.gif) -888px -90px no-repeat">&nbsp;</div>

</div>
</div>

</div>

{include file="inc/buttom.html"}
