{literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.submitButton{
	BORDER-RIGHT: #7EBF4F 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7EBF4F 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997); BORDER-LEFT: #7EBF4F 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7EBF4F 1px solid
}

.STYLE1 {font-size: 12px}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}

a:link {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.STYLE7 {font-size: 12}

-->
</style>
<script src="js/jquery.js"  type="text/javascript" language="javasrcipt"></script>
<script>
var  highlightcolor='#eafcd5';
//此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
var  clickcolor='#51b2f6';
function  changeto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=highlightcolor;
}
}

function  changeback(){
if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
return
if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}

	function  clickto(){
		source=event.srcElement;
		if  (source.tagName=="TR"||source.tagName=="TABLE")
			return;
			while(source.tagName!="TD")
				source=source.parentElement;
				source=source.parentElement;
				cs  =  source.children;
			//alert(cs.length);
		if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
			for(i=0;i<cs.length;i++){
				cs[i].style.backgroundColor=clickcolor;
			}
		else
		for(i=0;i<cs.length;i++){
			cs[i].style.backgroundColor="";
	}
}

</script>
<script>
	function insertStaffList(btnid){
		var obj = document.getElementById(btnid+"stafftbl");
		var myTR =obj.insertRow(obj.rows.length-1);

		var myTD1=myTR.insertCell();
		myTD1.style.background='#FFFFFF';
		myTD1.innerHTML='<div align="left" class="STYLE2 STYLE1">员工：</div>';

		var myTD2=myTR.insertCell();
		myTD2.style.background='#FFFFFF';
		myTD2.innerHTML='<div align="left" class="STYLE2 STYLE1"><select id="'+btnid+'staffid" name="'+btnid+'staffid">'+
  				'<option value="-1">请选择员工</option>'+
  				'{/literal}{section name=sl loop=$stafflist}{literal}'+
  				'<option value="{/literal}{$stafflist[sl].id}{literal}">{/literal}{$stafflist[sl].staffname}-[{$stafflist[sl].staffid}]{literal}</option>'+
  				'{/literal}{/section}{literal}'+
  				'</select></div>';

  		var myTD3=myTR.insertCell();
		myTD3.style.background='#FFFFFF';
		myTD3.innerHTML='<div align="left" class="STYLE2 STYLE1">&nbsp;&nbsp;数量：</div>';

		var myTD4=myTR.insertCell();
		myTD4.style.background='#FFFFFF';
		myTD4.innerHTML='<div align="left" class="STYLE2 STYLE1"><input type="text" id="'+btnid+'cnt" name="'+btnid+'cnt" size="12" maxlength="12"></div>';

		var myTD5=myTR.insertCell();
		myTD5.style.background='#FFFFFF';
		myTD5.innerHTML='&nbsp;&nbsp;<input type="button" id="'+btnid+'" name="'+btnid+'" class="submitButton" value="删除" onclick="javascript:removeStaffList();">';
	}

	function removeStaffList(){
		var obj = document.getElementById('stafftbl');
		var cGetRow=window.event.srcElement.parentElement.parentElement.rowIndex;
		obj.deleteRow(cGetRow);
	}

	function submitPdInfo(vid){
		vcnt = document.getElementById(vid+'count').value;
		staffs = document.getElementsByName(vid+'staffid');
		cnts = document.getElementsByName(vid+'cnt');
		vstaffcnt = "";
		vcount = 0;
		vbool = true;
		//alert(staffs.length+"#"+cnts.length);
		for(var i=0;i<staffs.length;i++){
		  if(staffs[i].value=="-1"){
		    vbool = false;
		  	break;
		  }
		  vstaffcnt = vstaffcnt+"#"+staffs[i].value+"-"+cnts[i].value;
		  vcount += parseInt(cnts[i].value);
		}


		if(!vbool){
			alert("请选择员工!");
		}else{
			if(vcount!=vcnt){
				alert("排单数量"+vcount+"不等于产品的数量"+vcnt+",排单失败!");
			}else{
				jobid = document.getElementById(vid+'jobid').value;
				prodid = document.getElementById(vid+'prodid').value;
				orderlistid = document.getElementById(vid+'olid').value;
				orderid = document.getElementById(vid+'oid').value;
				vstaffcnt = vstaffcnt.substr(1);
				vdate = "task=addStaffJobMore&jobid="+jobid+"&prodid="+prodid+"&olid="+orderlistid+"&oid="+orderid+"&staffcnt="+vstaffcnt;
				ajaxSubmit(vdate,vid);
			}
		}
	}

	function ajaxSubmit(vdate,vid){
	    //alert(vdate);
		$.ajax({
			type: "POST",
			url: "post/order.action.php",
			data: vdate,
			success: function(rs){
			    //alert(rs);
				if("OK"==rs){
					alert("排单提交成功!");
					setButtonDisplay(vid);
				}else{
				    alert(rs);
					alert("排单提交失败!");
				}
			}
		});
	}

	function setButtonDisplay(vid){
	    alert(vid);
		var btns = document.getElementsByName(vid);
		for(var i=0;i<btns.length;i++){
		   btns[i].disabled="disabled";
		}
	}
</script>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="30"><img src="images/tab/tab_03.gif" width="15" height="30" /></td>
        <td width="1101" background="images/tab/tab_05.gif"><img src="images/tab/311.gif" width="16" height="16" /> <span class="STYLE4">订单管理-订单排单</span></td>
        <td width="281" background="images/tab/tab_05.gif">
        	<table border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
              <td width="60">

              	<table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><!-- <div align="center"><a href="addorder.php" target="dataFarme"><img src="images/tab/001.gif" width="14" height="14" border="0"/></a></div></td>
                    <td class="STYLE1"><div align="center"><a href="JavaScript:window.parent.dataFrame.location.href='addorder.php';">新增</a></div> --></td>
                  </tr>
              	</table>
              </td>
              </table>
              </td>
            </tr>
        </table></td>
        <td width="14"><img src="images/tab/tab_07.gif" width="14" height="30" /></td>
      </tr>
    </table></td> {/literal}
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tr>
	      <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
	      <td bgcolor="#f3ffe3">
	      	<table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
	          <tr>  <form action="pd.php" method="get">
	            <td width="100%" height="40" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">
					<table>
	            	<tr><td align="right">订单流水号：</td><td><input type="text" id="orderid" name="orderid" value="{$orderid}" size="20" maxlength="30"></td><td></td>
	            	<td><input type="submit" value="开始排单" class="submitButton" ></td></tr>
					</table>

	            </div></td></form>
	          </tr>
	          </table>
	      </td>
	       <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
	      </tr>
      <tr>
        <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
        <td bgcolor="#f3ffe3"><table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
            <td width="5%" height="26" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">序号</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">订单流水号</div></td>
            <td width="12%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">排单时间</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">客户名称</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">订单总价</div></td>
            <td width="12%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">创建时间</div></td>
          </tr>

		  {if $orderinfo.id!=""}
          <tr style="cursor:hand;">
            <td onclick="javascript:showOrderList({$orderlist[list].id});" height="28" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">{$orderinfo.id}</div></td>
            <td onclick="javascript:showOrderList({$orderlist[list].id});" height="28" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$orderinfo.orderid}</div></td>
            <td height="28" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
            	{$orderinfo.pddate}
            </div></td>
            <td onclick="javascript:showOrderList({$orderlist[list].id});" height="28" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$orderinfo.custname}</div></td>
            <td onclick="javascript:showOrderList({$orderlist[list].id});" height="28" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$orderinfo.orderprice}</div></td>
            <td onclick="javascript:showOrderList({$orderlist[list].id});" height="28" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$orderinfo.create_date}</div></td>
          </tr>
	      {else}
			<tr>
				<td colspan=8 height="18" bgcolor="#FFFFFF" class="STYLE2">
					<div align="center" class="STYLE2 STYLE1">{if $isOverAllPd==''}没有所要查询的数据....{else}{$isOverAllPd}{/if}</div>
				</td>
			</tr>
		  {/if}
        </table></td>
        <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
    </table>
	<table  width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	    <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
    	<td bgcolor="#f3ffe3">
    		&nbsp;
    	</td>
    	</td>
    	<td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
    </table>
    {section name=list loop=$orderlist}
    <table  width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	    <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
    	<td bgcolor="#f3ffe3" align="center" >
    	  <table width="70%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
	          <tr>
	          	<td width="5%" height="26" background="images/tab/tab_14.gif" class="STYLE1" colspan="2">
	          		<div align="left" class="STYLE2 STYLE1">【产品名称：{$orderlist[list].prodname}】【产品数量：{$orderlist[list].cnt}】</div>
	          	</td>
	          </tr>
	          {section name=pl loop=$prodjoblist}
	          {if $prodjoblist[pl].olid==$orderlist[list].id}
	          <tr align="left" >
	          	<td width="10%" height="28" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">{$prodjoblist[pl].jobname}</div></td>
	          	<td width="90%" bgcolor="#FFFFFF" class="STYLE2">
	          		<table id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-stafftbl">
	          			<tr>
	          				<td><div align="left" class="STYLE2 STYLE1">员工：</div></td>
	          				<td><div align="left" class="STYLE2 STYLE1"><select id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-staffid"
	          				name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-staffid">
	          				<option value="-1">请选择员工</option>
	          				{section name=sl loop=$stafflist}
	          				<option value="{$stafflist[list].id}">{$stafflist[sl].staffname}-[{$stafflist[sl].staffid}]</option>
	          				{/section}
	          				</select></div></td>
	          				<td><div align="left" class="STYLE2 STYLE1">&nbsp;&nbsp;数量：</div></td>
	          				<td><div align="left" class="STYLE2 STYLE1"><input type="text" id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-cnt"
	          					name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-cnt" size="12" maxlength="12"></div></td>
	          				<td>&nbsp;&nbsp;<input type="button" class="submitButton" value="添加员工" id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-"
	          					name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-"
	          					onclick="javascrip:insertStaffList('{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-');"></td>
	          			</tr>
	          			<tr>
	          			<td colspan="5"  align="center" >
	          				&nbsp;&nbsp;<input type="button" class="submitButton" id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-"
	          					name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-" value="提交排单"
	          					onclick="javascrip:if(confirm('排单信息提交后无法修改,是否确定提交?'))submitPdInfo('{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-');">
	          				<input type="hidden" id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-jobid"
	          					name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-jobid" value="{$prodjoblist[pl].jid}">
	          				<input type="hidden" id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-prodid"
	          					name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-prodid" value="{$prodjoblist[pl].pid}">
	          				<input type="hidden" id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-olid"
	          					name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-olid" value="{$prodjoblist[pl].olid}">
	          				<input type="hidden" id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-oid"
	          					name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-oid" value="{$prodjoblist[pl].orderid}">
	          				<input type="hidden" id="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-count"
	          					name="{$prodjoblist[pl].olid}-{$prodjoblist[pl].pid}-{$prodjoblist[pl].jid}-count" value="{$orderlist[list].cnt}">
	          				</td>
	          			</tr>
	          		</table>
	          	</td>
	    	  </tr>
	    	  {/if}
	    	  {/section}
    	  </table>
    	  </td>
    	</td>
    	<td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
    </table>
    {/section}
    {if $isOverAllPd==''}
    <table  width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	    <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
    	<td bgcolor="#f3ffe3" align="center" >
    		<br><input type="button" value="该订单的排单全部完成" class="submitButton" onclick="JavaScript:if(confirm('该操作无法回退,是否确定排单已经全部排单?'))location.href='post/order.action.php?task=overAllPd&oid={$orderinfo.id}'">
    	</td>
    	</td>
    	<td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
    </table>
    {/if}
    </td>
  </tr>
  <tr>
    <td height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="29"><img src="images/tab/tab_20.gif" width="15" height="29" /></td>
        <td background="images/tab/tab_21.gif">
    	<!-- page -->
	    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	          <tr>
	            <td width="25%" height="29" nowrap="nowrap"><span class="STYLE1"></span></td>
	            <td width="75%" valign="top" class="STYLE1"><div align="right">

	              <table width="352" height="20" border="0" cellpadding="0" cellspacing="0">
	                <tr>
	                  <td  width="352"> &nbsp;</td>
	                </tr>
	              </table>
	            </div></td>
	          </tr>
	        </table>
        </td>
        <td width="14"><img src="images/tab/tab_22.gif" width="14" height="29" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
<script src="js/Calendar.js" language="JavaScript" charset="utf-8"></script>
</html>