{literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.submitButton{
	BORDER-RIGHT: #7EBF4F 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7EBF4F 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997); BORDER-LEFT: #7EBF4F 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7EBF4F 1px solid
}

.STYLE1 {font-size: 12px}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}

a:link {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.STYLE7 {font-size: 12}

-->
</style>

<script>
var  highlightcolor='#eafcd5';
//此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
var  clickcolor='#51b2f6';
function  changeto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=highlightcolor;
}
}

function  changeback(){
if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
return
if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}

	function  clickto(){
		source=event.srcElement;
		if  (source.tagName=="TR"||source.tagName=="TABLE")
			return;
			while(source.tagName!="TD")
				source=source.parentElement;
				source=source.parentElement;
				cs  =  source.children;
			//alert(cs.length);
		if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
			for(i=0;i<cs.length;i++){
				cs[i].style.backgroundColor=clickcolor;
			}
		else
		for(i=0;i<cs.length;i++){
			cs[i].style.backgroundColor="";
	}
}

function (){
alert("aaa");
}


/*
	全选/反选
*/
function selectAllChk(){
	var c = document.getElementsByName("chk[]");
	for(var i=0;i<c.length;i++){
	    if(c[i].disabled==false){
			c[i].checked=document.getElementById("allchk").checked;
		}
	}
}
/*
判断是否选中
*/
function selectOneChk(obj){
	if(obj.checked){
		document.getElementById("allchk").checked=obj.checked;
	}else{
	    var c = document.getElementsByName("chk[]");
	    var isCheck = false;
		for(var i=0;i<c.length;i++){
			if (c[i].checked){
				isCheck = true;
				break;
			}
		}
		document.getElementById("allchk").checked=isCheck;
	}
	/**
	var isCheck = true;
	var c = document.getElementsByName("chk[]");
	for(var i=0;i<c.length;i++){
		if (!c[i].checked){
			isCheck=false;
		}
	}

	if(!isCheck){
		document.getElementById("allchk").checked=isCheck;
	}else{
		document.getElementById("allchk").checked=isCheck;
	}**/
}
</script>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="30"><img src="images/tab/tab_03.gif" width="15" height="30" /></td>
        <td width="1101" background="images/tab/tab_05.gif"><img src="images/tab/311.gif" width="16" height="16" /> <span class="STYLE4">员工管理-员工作业列表</span></td>
        <td width="281" background="images/tab/tab_05.gif">
        	<table border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
              <td width="60">

              	<table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><!-- <div align="center"><a href="addjobprice.php" target="dataFarme"><img src="images/tab/001.gif" width="14" height="14" border="0"/></a></div></td>
                    <td class="STYLE1"><div align="center"><a href="JavaScript:window.parent.dataFrame.location.href='addjobprice.php';">新增</a></div> --></td>
                  </tr>
              	</table>

              </td>
              </table>

              </td>
            </tr>
        </table></td>
        <td width="14"><img src="images/tab/tab_07.gif" width="14" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>          {/literal}
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    	<tr>
	      <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
	      <td bgcolor="#f3ffe3">
	      	<table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
	          <tr>  <form action="staffjob.php" method="get">
	            <td width="100%" height="40" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">
					<table>
	            	<tr>
	            	<td align="right">员工名称：</td><td><input type="text" id="staffname" name="staffname" value="{$staffname}" size="15" maxlength="30"></td>
	            	<td align="right">员工编号：</td><td><input type="text" id="staffid" name="staffid" value="{$staffid}" size="15" maxlength="30"></td>
	            	<td align="right">订单编号：</td><td><input type="text" id="orderid" name="orderid" value="{$orderid}" size="15" maxlength="30"></td>
					<td align="right">月份：</td><td  align="left"><input type="text" id="m" name="m" value="{$m}" size="5" maxlength="2"></td>
	            		<td align="right">年份：</td><td><input type="text" id="y" name="y" value="{$y}" size="5" maxlength="4"></td>
	            	<td></td></tr>
	            	<tr>
	            		<td align="right">产品名称：</td><td><input type="text" id="prodname" name="prodname" value="{$prodname}" size="15" maxlength="40"></td>
	            		<td align="right">产品货号：</td><td><input type="text" id="prodid" name="prodid" value="{$prodid}" size="15" maxlength="30"></td>

	            		<td align="right">工种名称：</td>
	            		<td align="left"><select id="jobid" name="jobid">
	            				<option value="-1">请选择工种</option>
	            				{section name=list loop=$joblist}
	            				<option value="{$joblist[list].id}" {if $joblist[list].id==$jobid}selected{/if}>{$joblist[list].jobname}</option>
	            				{/section}
	            			</select>
	            		</td>
	            		<td align="right">是否竣工：</td>
	            		<td align="left" colspan="3">
	            		<select id="isover" name="isover">
	            			<option value="" {if $isover==""}selected{/if}>请选择</option>
	            			<option value="1" {if $isover=="1"}selected{/if}>已竣工</option>
	            			<option value="-1" {if $isover=="0"}selected{/if}>未竣工</option>
	            		</select>
	            		</td>
		            	<td>&nbsp;&nbsp;<input type="submit" value="搜索" class="submitButton"></td></tr>
	            	<tr>
	            	<td colspan="11">&nbsp;</td></tr>
					</table>
	            </div></td></form>
	          </tr>
	          </table>
	      </td>
	       <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
	      </tr>
      <tr>
        <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
        <td bgcolor="#f3ffe3"><table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
            <td width="4%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">
            <input type="checkbox" id="allchk" onclick="selectAllChk()">
            </div></td>
            <td width="5%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">ID</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">员工名称</div></td>
            <td width="8%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">员工编号</div></td>
            <td width="8%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">产品货号</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">产品名称</div></td>
            <td width="5%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">是否竣工</div></td>
            <td width="5%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">工种</div></td>
            <td width="6%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">工种价格</div></td>
            <td width="5%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">数量</div></td>
            <td width="7%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">总价</div></td>
            <td width="13%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">订单编号</div></td>
            <td width="7%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">年月</div></td>
            <td width="7%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">操作</div></td>
          </tr>
		 <form action="post/staffjob.action.php" method="post">
          {section name=list loop=$stafflist}
          <tr>
          	<td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
				<input type="checkbox" id="chk[]" name="chk[]" value="{$stafflist[list].id}" onclick="selectOneChk(this)" {if $stafflist[list].isfinish ==1}disabled="disabled"{/if}>
			</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].id}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].staffname}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].staffid}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].prodid}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].picname}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
            	{if $stafflist[list].isfinish ==1 }<font style="color:blue;">已竣工</font>{else}<font style="color:red;">未竣工</font>{/if}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].jobname}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="right" class="STYLE2 STYLE1">{$stafflist[list].jobpriceid}&nbsp;</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].amount}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="right" class="STYLE2 STYLE1">{$stafflist[list].jobpriceid*$stafflist[list].amount}&nbsp;</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].orderid}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$stafflist[list].y_job}-{$stafflist[list].m_job}</div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
            {if $stafflist[list].isfinish ==1 }
				<a href="javascript:alert('已竣工,无法修改!');"><img src="images/tab/037.gif" width="9" height="9" border="0"/></a><span class="STYLE1">[</span><a href="javascript:alert('已竣工,无法修改!');">修改</a><span class="STYLE1">]</span>
			{else}
				<a href="javascript:location.href='updatestaffjob.php?sjid={$stafflist[list].id}';"><img src="images/tab/037.gif" width="9" height="9" border="0"/></a><span class="STYLE1">[</span><a href="javascript:location.href='updatestaffjob.php?sjid={$stafflist[list].id}';">修改</a><span class="STYLE1">]</span>
			{/if}
			</div></td>
          </tr>
          {sectionelse}
			<tr>
				<td colspan=12 height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">没有所要查询的数据....</div></td>
			</tr>
          {/section}
        </table></td>
        <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
      <tr>
	      <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
	      <td bgcolor="#f3ffe3">
	      	<br><input type="hidden" value="finishStaffJobMore" id="task" name="task">
	      	 &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="批量完成作业" class="submitButton"></form>
	      </td>
	       <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
	  </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="29"><img src="images/tab/tab_20.gif" width="15" height="29" /></td>
        <td background="images/tab/tab_21.gif">
	        {$page}
        </td>
        <td width="14"><img src="images/tab/tab_22.gif" width="14" height="29" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>