{include file="inc/top.html"}

<!-- w位置
<div id="bcwrapper">
	<div id="breadcrumbs">
		<a href="/">首页</a> >
		<a href="#">产品中心</a> >
		<a href="#">Essential Nutrition</a> >
		<strong>Antioxidants</strong>
	</div>

	<div id="addthis">
	</div>
	<div class=clear></div>
</div>
 -->

<div id="content" class="columns180720">
	<div id="leftColumn" class="column column180">
		<a id="sectionHeader" href="product.php" style="background:url({if $clang=='English'}images/title/agent_en.gif{else}images/title/agent_cn.gif{/if});"><span>Products</span></a>
		<ul id="subNav">
			<li><a href="contactus.php">{$lang_company.JiaMengDaiLi}</a></li>
		</ul>
	</div>


	<div id="editor" class="column column520">

		<!--文章内容Start-->
		<div id="galleryList" class="showinfo">
			<!--返回顶部-->
			<a name="top" id="top"></a>
		    <div id="maintext" class="maintext">
		    	<div style="background:#ececec;"><h1 style="padding:5px 0 5px 5px;">{$lang_company.JiaMengDaiLi}</h1></div>

		    	{$content}

				<p>&nbsp;</p></div>
			    <!--文章toolbar-->
			    <div class="toolbar"></div>
			    <div>
			    	<div id="offerdetail_bord">
						<h5>我想代理、采购此产品 (发送采购意向留言)</h5>
						<div class="henry-content-bg" style="padding:5px 0px;">
							<a name="sendly" rel="nofollow"></a>对产品-晳白精油感兴趣，发送意向留言给供应商(<font color="#FF0000">*</font>必填)
							<form method="POST" action="post/agent.action.php"  name="gqinfo">
								<div id="strdl"></div>
							</form>
						</div>
					</div>
					<div id=space5></div>
					<br>
					<div style="padding:2px;font-size:12px"></div>
					<SCRIPT src="js/dlsend.js"></SCRIPT>


			    </div>
			    <!--上下篇文章-->
			    <div class="context"></div>
		</div>
		<!--文章内容End-->

	</div>
	<!-- end #content -->
</div>



{include file="inc/buttom.html"}