{literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.submitButton{
	BORDER-RIGHT: #7EBF4F 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7EBF4F 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997); BORDER-LEFT: #7EBF4F 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7EBF4F 1px solid
}

.STYLE1 {font-size: 12px}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}

a:link {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.STYLE7 {font-size: 12}

-->
</style>

<script language="javascript" type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<script>
var  highlightcolor='#eafcd5';
//此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
var  clickcolor='#51b2f6';
function  changeto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=highlightcolor;
}
}

function  changeback(){
if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
return
if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}

function  clickto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=clickcolor;
}
else
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}
</script>
<script charset="utf-8" src="../js/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="../js/kindeditor/lang/zh_CN.js"></script>
<script>
	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="content"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|',  'image', 'link','source', 'wordpaste']
		});
	});


	function checkRadio(obj){
		if(obj.value=="0"){
			document.getElementById('newsFile').style.display="none";

		}else{
			document.getElementById('newsFile').style.display="block";
		}
	}
	function checkRadioFile(obj){
		if(obj.value=="0"){
			document.getElementById('isNewsFile').style.display="none";
			document.getElementById('newsContent').style.display="block";
		}else{
			document.getElementById('isNewsFile').style.display="block";
			document.getElementById('newsContent').style.display="none";
		}
	}
	function isFileNews(obj){
		if(obj.value=="9"){
			document.getElementById('isFile').style.display="block";
			document.getElementById('newsFastNav').style.display="none";
		}else{
			document.getElementById('isFile').style.display="none";
			document.getElementById('newsFastNav').style.display="block";
		}
	}
</script>


</head>
{/literal}
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="30"><img src="images/tab/tab_03.gif" width="15" height="30" /></td>
        <td width="1101" background="images/tab/tab_05.gif">
        	<img src="images/tab/311.gif" width="16" height="16" /> <span class="STYLE4">文章管理-文章更新</span></td>
        <td width="281" background="images/tab/tab_05.gif">

        	<table border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
              </table>

              </td>
            </tr>
        </table></td>
        <td width="14"><img src="images/tab/tab_07.gif" width="14" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
        <td bgcolor="#f3ffe3">
        	<form action="post/news.action.php" method="post"  enctype="multipart/form-data">
		        <table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
		          <tr>
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">标题</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            	<input type="text" id="title" name="title" value="{$newsinfo.title}" size="40" maxlength="50"><font style="color:red;">*</font>
		            </div></td>
		          </tr>
		          <tr id="newsType">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">文章类型</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            <select id="type" name="type"  onchange="javascript:isFileNews(this);">
		            	{section name=list loop=$typelist}
							{if $typelist[list].pid==-1}
								<option value="{$typelist[list].id}" {if $newsinfo.type_id==$typelist[list].id}selected{/if}>{$typelist[list].type_name}</option>
								{section name=lt loop=$typelist}
									{if $typelist[list].id==$typelist[lt].pid}
									<option value="{$typelist[lt].id}" {if $newsinfo.type_id==$typelist[lt].id}selected{/if}>&nbsp;&nbsp;{$typelist[lt].type_name}</option>
									{/if}
								{/section}
							{/if}
						{/section}
		            </select><font style="color:red;">*</font></div></td>
		          </tr>
		          <tr id="isFile" style="display:{if $newsinfo.filepath==""}none{else}block{/if};">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">是否直接上传文件</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            	<input type="radio" id="isfilenews" name="isfilenews" value="1" onclick="javascript:checkRadioFile(this);" {if $newsinfo.filepath!=""}checked{/if}>是&nbsp;&nbsp;<input type="radio" id="isfilenews" name="isfilenews" value="0"  {if $newsinfo.filepath==""}checked{/if}  onclick="javascript:checkRadioFile(this);">否&nbsp;[可以直接提供文档供下载]<font style="color:red;">*</font>
		            </div></td>
		          </tr>
		          <tr id="filename" style="display:{if $newsinfo.filepath==""}none{else}block{/if};">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">文件名称</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            	&nbsp;{$newsinfo.filename}
		            </div></td>
		          </tr>
		          <tr id="isNewsFile" style="display:{if $newsinfo.filepath==""}none{else}block{/if};">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">请选择文件</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            	<input type="file" id="uploadfile" name="uploadfile" ><br>
		            	[支持格式：word|excel|ppt|txt&nbsp;&nbsp;大小：500K]<font style="color:red;">*</font>
		            </div></td>
		          </tr>

		          <tr id="newsFastNav" style="display:{if $newsinfo.filepath!=""}none{else}block{/if};">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">是否为快速导航</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            	<input type="radio" id="isshow" name="isshow" value="1" onclick="javascript:checkRadio(this);"
		            	 {if $newsinfo.isshow=='1'}checked{/if}>是&nbsp;&nbsp;<input type="radio" id="isshow" name="isshow" value="0"
		            	 onclick="javascript:checkRadio(this);" {if $newsinfo.isshow==''}checked{/if}>否&nbsp;[是否在首页"快递导航"模块展示]<font style="color:red;">*</font>
		            </div></td>
		          </tr>
		          <tr style="display:{if $newsinfo.isshow=='1'}block{else}none{/if};">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">快速导航图片</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            	<img src="../{$newsinfo.path}" width="150px" height="90px">
		            </div></td>
		          </tr>
		          <tr id="newsFile" style="display:{if $newsinfo.isshow=='1'}block{else}none{/if};">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">快速导航图片</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            	<input type="file" id="filepath" name="filepath" ><br>
		            	[支持格式：gif|png|jpg&nbsp;&nbsp;长宽307px*185px&nbsp;大小：100Kb]<font style="color:red;">*</font>
		            </div></td>
		          </tr>
		          <tr id="newsClick">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">初始点击数</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            	<input type="text" id="click" name="click" value="{$newsinfo.click}" size="10" maxlength="10"><font style="color:red;">*</font>
		            </div></td>
		          </tr>

		          <tr id="newsContent" style="display:{if $newsinfo.filepath!=""}none{/if};">
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1">内容</div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
		            <textarea id="content" name="content" style="width:700px;height:300px;visibility:hidden;">{$newsinfo.content}</textarea><font style="color:red;">*</font>

		            </div></td>
		          </tr>
		          <tr>
		            <td width="30%" height="26" bgcolor="#FFFFFF" class="STYLE1"><div align="center" class="STYLE2 STYLE1"></div></td>
		            <td width="70%" height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="left" class="STYLE2 STYLE1">
						&nbsp;<input class="submitButton" type="reset" value="清空重填">&nbsp;&nbsp;<input class="submitButton" type="submit" value="更新文章">
						<input type="hidden" id="task" name="task" value="updateNews">
						<input type="hidden" name="srcisshow" name="srcisshow" value="{$newsinfo.isshow}">
		            	<input type="hidden" name="path" name="path" value="{$newsinfo.path}">
		            	<input type="hidden" name="newsid" name="newsid" value="{$newsinfo.id}">
		            	<input type="hidden" name="srcfilepath" name="srcfilepath" value="{$newsinfo.filepath}">
		            	<input type="hidden" name="srctypeid" name="srctypeid" value="{$newsinfo.type_id}">
		            </div></td>
		          </tr>
		        </table>

        	</form>
        </td>
        <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="29"><img src="images/tab/tab_20.gif" width="15" height="29" /></td>
        <td background="images/tab/tab_21.gif">
    	<!-- page -->
	    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	          <tr>
	            <td width="25%" height="29" nowrap="nowrap"><span class="STYLE1"><!-- 共120条纪录，当前第1/10页，每页10条纪录 --></span></td>
	            <td width="75%" valign="top" class="STYLE1"><div align="right">
	              <table width="352" height="20" border="0" cellpadding="0" cellspacing="0">
	                <tr><!--
	                  <td width="62" height="22" valign="middle"><div align="right"><img src="images/tab/first.gif" width="37" height="15" /></div></td>
	                  <td width="50" height="22" valign="middle"><div align="right"><img src="images/tab/back.gif" width="43" height="15" /></div></td>
	                  <td width="54" height="22" valign="middle"><div align="right"><img src="images/tab/next.gif" width="43" height="15" /></div></td>
	                  <td width="49" height="22" valign="middle"><div align="right"><img src="images/tab/last.gif" width="37" height="15" /></div></td>
	                  <td width="59" height="22" valign="middle"><div align="right">转到第</div></td>
	                  <td width="25" height="22" valign="middle"><span class="STYLE7">
	                    <input name="textfield" type="text" class="STYLE1" style="height:10px; width:25px;" size="5" />
	                  </span></td>
	                  <td width="23" height="22" valign="middle">页</td>
	                  <td width="30" height="22" valign="middle"><img src="images/tab/go.gif" width="37" height="15" /></td> -->
	                </tr>
	              </table>
	            </div></td>
	          </tr>
	        </table>
        </td>
        <td width="14"><img src="images/tab/tab_22.gif" width="14" height="29" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>