<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">

     <!-- 
    	在web.xml 中配置了 spring25annmvc 的模块,根据spring的规范,需要在 spring25annmvc-servlet.xml 定义springMVC的具体配置
     -->
     <!-- 对 action 包中的所有 Controller 类进行扫描,以完成自动装载功能 -->
     <context:component-scan base-package="com.spring25.action"></context:component-scan>
     <!-- 启动springMVC的注解驱动 -->
     <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"></bean>
     
     <!-- 模型视图的解析 -->
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:suffix=".jsp"></bean>
     
</beans>