{literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.submitButton{
	BORDER-RIGHT: #7EBF4F 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7EBF4F 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997); BORDER-LEFT: #7EBF4F 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7EBF4F 1px solid
}

.STYLE1 {font-size: 12px}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}

a:link {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.STYLE7 {font-size: 12}

-->
</style>

<script>
var  highlightcolor='#eafcd5';
//此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
var  clickcolor='#51b2f6';
function  changeto(){
source=event.srcElement;
if  (source.tagName=="TR"||source.tagName=="TABLE")
return;
while(source.tagName!="TD")
source=source.parentElement;
source=source.parentElement;
cs  =  source.children;
//alert(cs.length);
if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor=highlightcolor;
}
}

function  changeback(){
if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
return
if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
for(i=0;i<cs.length;i++){
	cs[i].style.backgroundColor="";
}
}

	function  clickto(){
		source=event.srcElement;
		if  (source.tagName=="TR"||source.tagName=="TABLE")
			return;
			while(source.tagName!="TD")
				source=source.parentElement;
				source=source.parentElement;
				cs  =  source.children;
			//alert(cs.length);
		if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
			for(i=0;i<cs.length;i++){
				cs[i].style.backgroundColor=clickcolor;
			}
		else
		for(i=0;i<cs.length;i++){
			cs[i].style.backgroundColor="";
	}
}
</script>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="30"><img src="images/tab/tab_03.gif" width="15" height="30" /></td>
        <td width="1101" background="images/tab/tab_05.gif"><img src="images/tab/311.gif" width="16" height="16" /> <span class="STYLE4">产品管理-产品列表</span></td>
        <td width="281" background="images/tab/tab_05.gif">
        	<table border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
             <!-- <td width="60"><table width="87%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center">
                        <input type="checkbox" name="checkbox62" value="checkbox" />
                    </div></td>
                    <td class="STYLE1"><div align="center">全选</div></td>
                  </tr>
              </table></td> -->
              <td width="60">

              	<table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><a href="addprod.php" target="dataFarme"><img src="images/tab/001.gif" width="14" height="14" border="0"/></a></div></td>
                    <td class="STYLE1"><div align="center"><a href="addprod.php" target="dataFarme">新增</a></div></td>
                  </tr>
              	</table>

              </td>
             <!--  <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="images/tab/114.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">修改</div></td>
                  </tr>
              </table></td>
              <td width="52"><table width="88%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="images/tab/083.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">删除</div></td>
                  </tr> -->
              </table>

              </td>
            </tr>
        </table></td>
        <td width="14"><img src="images/tab/tab_07.gif" width="14" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="9" background="images/tab/tab_12.gif">&nbsp;</td>
        <td bgcolor="#f3ffe3"><table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
            <td width="102px" height="18" " background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">产品图片</div></td>
            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">产品货号</div></td>
			<td height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">产品属性</div></td>
            <td width="7%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">删除</div></td>
          </tr>
          {/literal}
           {section name=list loop=$prodRow}
			<tr  valign="top">
				<td  valign="middle" height="102px" bgcolor="#FFFFFF" class="STYLE2" rowspan="list"><img src="{$prodRow[list].picpath}" width="100" height="100" ></td>
				<td  valign="middle" height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$prodRow[list].prodid}</div></td>
           		<td height="18" bgcolor="#FFFFFF" rowspan="list">
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
					   <tr>
					    <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">材料号</div></td>
			            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">材料名称</div></td>
			            <td width="10%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">材料规格</div></td>
			            <td width="8%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">用量</div></td>
			            <td width="8%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">单位</div></td>
			            <td width="7%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">材料总价</div></td>
			            <td width="7%" height="18" background="images/tab/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">操作</div></td>
					   </tr>
					   {assign var=idx value=0}
					   {section name=lt loop=$prodList}
					   {if $prodList[lt].prodid == $prodRow[list].id}
					   {assign var=idx value=1}
						<tr>
							<td height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">{$prodList[lt].clid}</div></td>
				            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$prodList[lt].clname}</div></td>
				            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$prodList[lt].clgg}</div></td>
				            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$prodList[lt].amount}</div></td>
				            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$prodList[lt].unit}</div></td>
				            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">{$prodList[lt].sumprice}</div></td>
				            <td height="18" bgcolor="#FFFFFF"><div align="center"><span class="STYLE2">
				            	<a href="javascript:if(confirm('确定删除?'))location.href='post/prod.action.php?task=delProdList&listid={$prodList[lt].id}';"><img src="images/tab/010.gif" width="9" height="9"  border="0"/>
				            	</a></span><span class="STYLE1">[</span><a href="#" onclick="if(confirm('确定删除?'))location.href='post/prod.action.php?task=delProdList&listid={$prodList[lt].id}';">删除</a><span class="STYLE1">]</span></div></td>
           				</tr>
           				{/if}
           			   {/section}
           				{if $idx==0}
	           			    <tr>
								<td height="18" bgcolor="#FFFFFF" class="STYLE2" colspan="7"><div align="center" class="STYLE2 STYLE1">没有产品材料属性信息..</div></td>
	           				</tr>
           				{/if}
           			</table>
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
           			 <tr>
		           		<td width="10%" height="26" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">所需工种：</div></td>
		           		<td height="26" bgcolor="#FFFFFF" class="STYLE2">
		           			<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
		           				<tr>
		           					{assign var=idx value=0}
									{section name=l loop=$jobList}
									{if $jobList[l].prodid==$prodRow[list].id}
						           		<td height="26" width="80px" bgcolor="#FFFFFF" class="STYLE2">
											<div align="center" class="STYLE2 STYLE1">{$jobList[l].jobname}<span class="STYLE2">
							            	<a href="javascript:if(confirm('确定删除?'))location.href='post/prod.action.php?task=delProdJob&jobid={$jobList[l].id}';">
							            	<img src="images/tab/010.gif" width="9" height="9"  border="0"/></a></span></div>
						           		</td>
					           			{assign var=idx value=$idx+1}
						           		{if $idx%8==0}
						           		</tr><tr>
						           		{/if}
					           		{/if}
					           		{/section}
		           				</tr>
		           			</table>
		           		</td>
		           	 </tr>
           			</table>
           		</td>
           		 <td valign="middle"  height="18" bgcolor="#FFFFFF"><div align="center"><span class="STYLE2">
	            	<a href="if(confirm('确定删除?'))location.href='post/prod.action.php?task=delProd&prodid={$prodRow[list].id}&path={$prodRow[list].picpath}';"><img src="images/tab/010.gif" width="9" height="9"  border="0"/>
	            	</a></span><span class="STYLE1">[</span><a href="#" onclick="if(confirm('确定删除?'))location.href='post/prod.action.php?task=delProd&prodid={$prodRow[list].id}&path={$prodRow[list].picpath}';">删除</a><span class="STYLE1">]</span></div></td>
			</tr>
          {sectionelse}
			<tr>
				<td colspan=4 height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1">没有所要查询的数据....</div></td>
			</tr>
          {/section}
        </table></td>
        <td width="9" background="images/tab/tab_16.gif">&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="29"><img src="images/tab/tab_20.gif" width="15" height="29" /></td>
        <td background="images/tab/tab_21.gif">
    	{$page}
        </td>
        <td width="14"><img src="images/tab/tab_22.gif" width="14" height="29" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>