
<div id='bottom'
	style='width:990px;height:74px;background:none transparent scroll repeat 0% 0%'>


<!-- 图片/FLASH -->

<div id='pdv_15438' class='pdv_class' title=''
	style='width:990px;height:59px;top:15px;left:0px; z-index:5'>
<div id='spdv_15438' class='pdv_bottom'
	style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border"
	style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
<div style="height:25px;margin:1px;display:none;background:;">
<div
	style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">

</div>
<div style="float:right;margin-right:10px;display:none"><a
	href="#" style="line-height:25px;color:">更多</a></div>
</div>
<div style="padding:0px"><img
	src="diy/pics/20100316/1268708152.gif" border="0" width="100%" /></div>
</div>

</div>
</div>

<!-- 底部菜单（一级） -->

<div id='pdv_10813' class='pdv_class'
	style='width:258px;height:22px;top:21px;left:21px; z-index:6'>
<div id='spdv_10813' class='pdv_bottom'
	style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border"
	style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
<div style="height:25px;margin:1px;display:none;background:;">
<div
	style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
脚注栏目</div>
<div style="float:right;margin-right:10px;display:none"><a
	href="#" style="line-height:25px;color:">更多</a></div>
</div>
<div style="padding:0px">

<link href="menu/templates/images/bottommenu_1/A.css" rel="stylesheet"
	type="text/css" />
<div id="bottommenu">
	<a href="company.php" target="_self">关于我们</a>|
	<a href="contactus.php"	target="_self">联系方式</a>|
	<a href="product.php" target="_self">产品中心</a>|
<!-- 	<a href="news.php" target="_self">新闻中心</a>| -->
	<a href="agent.php" target="_self">代理加盟</a>|
</div>


</div>
</div>

</div>
</div>

<!-- 底部信息编辑区 -->

<div id='pdv_10807' class='pdv_class' title='脚注信息'
	style='width:339px;height:31px;top:22px;left:647px; z-index:7'>
<div id='spdv_10807' class='pdv_bottom'
	style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border"
	style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
<div style="height:25px;margin:1px;display:none;background:;">
<div
	style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
脚注信息</div>
<div style="float:right;margin-right:10px;display:none"><a
	href="#"
	tppabs="http://www.2799.cn/1269396439/-1"
	style="line-height:25px;color:">更多</a></div>
</div>
<div style="padding:0px">
<div
	style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
<div
	style="MARGIN: 0px; COLOR: #e4e4aa; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center">版权所有
Copyright(C)2012-2015 华锋茶叶</div>
</div>

</div>
</div>

</div>
</div>
</div>
</div>
<div id='bodyex'></div>

</body>
</html>