
<!-- 图片搜索表单 -->

<div id='pdv_16987' class='pdv_class'  title='图片搜索' style='width:230px;height:151px;top:200px;left:0px; z-index:12'>
<div id='spdv_16987' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:#8d8b6a url(images/bg.gif) repeat-y;">
<div style="height:100%;background:url(images/bg.gif) right repeat-y;">
<div style="height:32px;border:0px;padding:0;margin:0;background:url(images/title_ss.gif) no-repeat">
	<div style="float:right;width:5px;height:32px;text-align:right;background:url(images/title_ss.gif) -885px 0px no-repeat">
	</div>
</div>
<div style="margin:0px;padding:0px;">
<link href="photo/templates/css/photo_search_dolphin.css" rel="stylesheet" type="text/css" />
<SCRIPT language="javascript" src="photo/js/selectbox.js" ></SCRIPT>
<div class="photosearchformzone">
<form id="photosearchform" method="get" action="product.php">
  <div class="photosearchform">
    <select name="catid" id="catid" class="box" style="display:none; background:#ffffff; width:140px; height:19px;">
      <option value="" >请选择分类</option>
		{section name=list loop=$ProdTypt}
			<option value='{$ProdTypt[list].id}'>{$ProdTypt[list].type_name}</option>
		{/section}
    </select>
	<script>
	makeSelectBox('catid','');
	</script>
  </div>

    <div class="photosearchform">
    <input name="key" type="text" id="photosearchform_key" value="" style="width:138px;" class="inputtext">
  </div>
  <div class="photosearchform2">
  <input name="imageField" id="button" type="image" src="photo/templates/images/search5.gif">
  </div>
</form>
</div>

</div>
</div>
</div>
<div style="margin-top:-8px;height:8px;line-height:8px;background:url(images/title_ss.gif) 0px -223px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-8px;line-height:8px;width:12px;height:8px;background:url(images/title_ss.gif) -888px -223px no-repeat">&nbsp;</div>

</div>
</div>




<!-- 图片分类（列表） -->

<div id='pdv_17184' class='pdv_class'  title='' style='width:230px;height:188px;top:0px;left:0px; z-index:15'>
<div id='spdv_17184' class='pdv_content' style='overflow:visible;width:100%;'>
<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:#8d8b6a url(images/bg.gif) repeat-y;">
<div style="height:100%;background:url(images/bg.gif) right repeat-y;">
<div style="height:32px;border:0px;padding:0;margin:0;background:url(images/title_nav.gif) no-repeat">
	<div style="float:right;width:5px;height:32px;text-align:right;background:url(images/title_nav.gif) -885px 0px no-repeat">
	</div>
</div>
<div style="margin:0px;padding:0px;">

<link href="photo/templates/css/photoclass_dolphin.css" rel="stylesheet" type="text/css" />
<ul class="photoclass_dolphin">



{section name=list loop=$ProdTypt}
<li class="photoclass_dolphin">
<a href="product.php?typeid={$ProdTypt[list].id}"  target="_self" class="photoclass_dolphin">{$ProdTypt[list].type_name}</a>
</li>
{/section}

<!--
<li class="photoclass_dolphin">
<a href="photo/class/-1.html"  target="_self" class="photoclass_dolphin">茶楼环境</a>
</li>


<li class="photoclass_dolphin">
<a href="photo/class/-3.html"   target="_self" class="photoclass_dolphin">名茶品鉴</a>
</li>


<li class="photoclass_dolphin">
<a href="photo/class/-4.html"  target="_self" class="photoclass_dolphin">精美茶点</a>
</li>


<li class="photoclass_dolphin">
<a href="photo/class/-5.html"  target="_self" class="photoclass_dolphin">活动影集</a>
</li>
 -->
</ul>

</div>
</div>
</div>
<div style="margin-top:-8px;height:8px;line-height:8px;background:url(images/title_nav.gif) 0px -223px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-8px;line-height:8px;width:12px;height:8px;background:url(images/title_nav.gif) -888px -223px no-repeat">&nbsp;</div>

</div>
</div>