
<div id='bottom' style='width:1002px;height:116px;background:none transparent scroll repeat 0% 0%'>


<!-- 图片/FLASH -->

<div id='pdv_15336' class='pdv_class'  title='' style='width:1002px;height:88px;top:26px;left:0px; z-index:2'>
<div id='spdv_15336' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">

		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="Http://Www.GuoguoNet.Com" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">


<img src="../images/1273458351.jpg" border="0" width="100%"  alt="果果网络" title="果果网络"/>

</div>
</div>

</div>
</div>

<!-- 底部菜单（一级） -->

<div id='pdv_15334' class='pdv_class'   style='width:393px;height:20px;top:34px;left:304px; z-index:5'>
<div id='spdv_15334' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注栏目
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="Http://Www.GuoguoNet.Com" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">

<link href="../css/A.css" rel="stylesheet" type="text/css" />
<div id="bottommenu">

<a href="../aboutus/company.php" target="_self">关于我们</a>|

<a href="../aboutus/contact.php" target="_self">联系方式</a>|

<a href="../aboutus/message.php" target="_self">客户留言</a>|
<!--
<a href="job/joblist.php" target="_self">加入我们</a>|
-->
<a href="../news/newslist.php" target="_self">新闻动态</a>|

<a href="../aboutus/link.php" target="_self">友情链接</a>|

<a href="../sure/" target="_self">合作登入</a>|

</div>


</div>
</div>

</div>
</div>

<!-- 底部信息编辑区 -->

<div id='pdv_15335' class='pdv_class'  title='脚注信息' style='width:1002px;height:55px;top:73px;left:0px; z-index:6'>
<div id='spdv_15335' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		脚注信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a href="Http://Www.GuoguoNet.Com" style="line-height:25px;color:">更多</a>
		</div>
	</div>
<div style="padding:0px">
<div style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
<div style="MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center">
<p>{$buttomInfo}<br><table><tr><td><script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3c5ccdae98e7b11e96137e3e4b35326d' type='text/javascript'%3E%3C/script%3E"));</script></td><td width="10px"></td><td><script src="http://s19.cnzz.com/stat.php?id=3204615&web_id=3204615&show=pic1" language="JavaScript"></script></td></tr></table></p>
</div>
</div>

</div>
</div>

</div>
</div>
</div>
</div><div id='bodyex'>

</div>
{include file="inc/qq.html"}
{literal}
<!-- JiaThis Button BEGIN -->
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?type=left&amp;move=0&amp;btn=l2.gif&amp;uid=1522130" charset="utf-8"></script>
<!-- JiaThis Button END -->
{/literal}
</body>
</html>