
@import url("base[1].css");
@import url("font[1].css");
@import url("layout[1].css");
@import url("header[1].css");
@import url("footer[2].css");


@import url("index[1].css");



DIV#earthquake {
	BORDER-BOTTOM: #dddddd 1px solid;
	BORDER-LEFT: #dddddd 1px solid;
	PADDING-BOTTOM: 10px;
	MARGIN: 15px 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #dddddd 1px solid;
	BORDER-RIGHT: #dddddd 1px solid;
	PADDING-TOP: 10px
}

DIV#earthquake P {
	MARGIN-BOTTOM: 0.5em;
	FONT-SIZE: 14px
}

h1{ margin:0; padding:0; border:0; background:#FAFAFA; font-family:Arial, Helvetica, sans-serif,"ו"}
.rolinList{ width:100%; height:auto; margin:20px auto 0 auto; text-align:left}
.rolinList li{margin-bottom:1px;border:1px solid #DADADA}
.rolinList li h2{ width:97.5%; height:40px;  background:#fff; font-size:14px; line-height:40px; padding-left:20px; color:#333; cursor:pointer}
.content{ height:100%;width:100%;  background:#fff;  background:#FAFAFA}
.content p{ margin:12px}
