/* ============ÄÚÈÝ·­Ò³============== */

div.page_content {
font:12px/20px Verdana, Arial, Helvetica, sans-serif;
color:#555;
margin:0px;
}

div.page_content p,div.page_content a,div.page_content td,div.page_content span,div.page_content li{
font:12px/20px Verdana, Arial, Helvetica, sans-serif;
color:#555;
}





/*=========µ¼º½=========*/
div#nav {
color:#fff;
padding:11px 0px 0px 44px;
}

div#nav a{
color:#fff;
}


