div.titlemenu_dolphin{
margin:0px;
padding:16px 0px 5px 33px;
}

div.titlemenu_dolphin a.titlemenu_dolphin:link,div.titlemenu_dolphin a.titlemenu_dolphin:visited,div.titlemenu_dolphin a.titlemenu_dolphin:active{
display:block;
text-decoration: none;
text-align: left;
font:12px/28px Verdana, Arial, Helvetica, sans-serif;
height:30px;
padding-left:53px;
background:url("../images/dot2[1].jpg") 0 0 no-repeat;
color:#505050;
}

div.titlemenu_dolphin a.titlemenu_dolphin:hover{
display:block;
color: #e10000;
text-decoration: none;
}