

div.productlist{
margin:0px 15px 7px 0px;
text-align:center;
float:left;
}

div.productlist div.fang{
background: #fff;
padding:0px;
text-align:center;
}

div.productlist div.picFit{
overflow: hidden;
}

div.productlist div.picFit img{
}


div.productlist div.title{
text-align:center;
overflow: hidden;
white-space:nowrap;
background:url("../images/../pbg[1].jpg") 0 0 no-repeat;
width:140px;
margin-top:1px;
}

div.productlist a:link,div.productlist a:visited,div.productlist a:active{
color:#6c6c6c;
font:12px/38px arial,simsun;
text-decoration: none;
}

div.productlist a:hover{
color:#ff0000;
text-decoration: underline;
font:12px/38px arial,simsun;
}
