/* ============分类列表============== */

ul.photoclass_dolphin{
margin:20px 49px 0px;
padding:0px 0px 4px 0px;
}

li.photoclass_dolphin {
list-style-type: none;
white-space: nowrap;
}

a.photoclass_dolphin:link,a.photoclass_dolphin:visited,a.photoclass_dolphin:active{
display:block;
text-decoration: none;
font:12px/16px Verdana, Arial, Helvetica, sans-serif;
height:33px;
text-align:left;
background:url(../images/dot2.gif) 0px 0px no-repeat;
padding-left:39px;
color:#e4e4aa;s
}

a.photoclass_dolphin:hover{
display:block;
color: #e4e4aa; 
text-decoration: none;
}
