{include file="inc/top.html"}
        <div id="content">
        	<div class="main">
                <div id="left">
                    <div id="categories">
                        <div class="left_tt">栏目类型</div>
                        <div class="cate">
                            <ul>
                            {section name=list loop=$lmlist}
                                <li {if $taskid==$lmlist[list].id} class="current_li" {/if}><a href="{$lmlist[list].url}">{$lmlist[list].name}</a></li>
                             {/section}
                            </ul>
                        </div>
                    </div>
                    <div id="onlineRegister">
                        {include file="inc/online_register.html"}
                    </div>
                    <div id="map">
                         <img src="{$map.comm_code}" width="188px" height="116px"/>
                    </div>
                    <div id="contact">
                        {include file="inc/contact.html"}
                    </div>
                </div>
                <div id="right">
                   <div id="path">
                       <h2>{$infocn.type_name}</h2>
                       <div class="path">
                           <a href="index.php">首页&nbsp;&gt;&nbsp;</a>
                           <a href="pxzx.php">培训中心&nbsp;&gt;&nbsp;</a>
                           {$infocn.type_name}
                       </div>
                   </div>
                   <div id="list">
                       <dl>
                           <dt class="list_dd1">课程类别</dt>
                           <dt class="list_dd2">开课时间</dt>
                           <dt class="list_dd3">开设课程</dt>
                           <dt class="list_dd2">培训课时</dt>
                           <dt class="list_dd2">培训费用</dt>
                           <dt class="list_dd2">招生简章</dt>
                           <dt class="list_dd2 list_dd4">我要报名</dt>
							{section name=list loop=$courseRow}
                           <dd class="list_dd1">【{$courseRow[list].class_name}】</dd>
                           <dd class="list_dd2">{$courseRow[list].open_time}</dd>
                           <dd class="list_dd3">{$courseRow[list].course_name}</dd>
                           <dd class="list_dd2">{$courseRow[list].class_hour}</dd>
                           <dd class="list_dd2">{$courseRow[list].fee}</dd>
                           <dd class="list_dd2"><a href="zsjz.php?id={$courseRow[list].id}&typeid={$courseRow[list].type_id}">点击进入</a></dd>
                           <dd class="list_dd2">{if $courseRow[list].isselect==1}<a href="wsbm.php">点击进入</a>{else}<font color="red">暂无报名</font>{/if}</dd>
							{/section}
                       </dl>
                   </div>

                   {$page}
                </div>
            </div>
    	</div>
   	{include file="inc/buttom.html"}
