{include file="inc/top.html"}
<script language="javascript" type="text/javascript" src="js/wsbm.js"></script>
        <div id="content">
        	<div class="main">
                <div id="left">
                    <div id="categories">
                        <div class="left_tt">栏目类型</div>
                        <div class="cate">
                            <ul>
                                {section name=list loop=$lmlist}
                                <li {if $taskid==$lmlist[list].id} class="current_li" {/if}><a href="{$lmlist[list].url}">{$lmlist[list].name}</a></li>
                             {/section}
                            </ul>
                        </div>
                    </div>
                    <div id="onlineRegister">
                        {include file="inc/online_register.html"}
                    </div>
                    <div id="map">
                         <img src="{$map.comm_code}" width="188px" height="116px"/>
                    </div>
                    <div id="contact">
                        {include file="inc/contact.html"}
                    </div>
                </div>
                <div id="right">
                   <div id="path">
                       <h2>{$infocn.type_name}</h2>
                       <div class="path">
                           <a href="index.php">首页&nbsp;&gt;&nbsp;</a>
                           <a href="jj.php">关于我们&nbsp;&gt;&nbsp;</a>
							{$infocn.type_name}
                       </div>
                   </div>
                   <div id="detail">
                   <table width="100%" height="100%">
               {section name=list loop=$prodRows}
                  { if $smarty.section.list.index%4==0}
				<tr>
				{/if}
				<td>
				<a href="{$prodRows[list].url}"  target="_blank" >
					<img src="{$prodRows[list].path}" alt="{$prodRows[list].title}" title="{$prodRows[list].prod_name}" style="width:95%;height:100%" border="0" /></a><br>
			<a href="{$prodRows[list].url}"  target="_blank" class="detail" title="{$prodRows[list].title}">{$prodRows[list].title|wordwrap:26:"<br>"}
			</a>
			<td>
			{ if $smarty.section.list.index%4==0 }
			</tr>
		{/if}
		{/section}
			</table>
                   </div>
                   {$page}
                </div>
            </div>
    	</div>
{include file="inc/buttom.html"}
