{include file="inc/top.html"}
        <div id="content">
        	<div class="main">
                <div id="left">
                    <div id="categories">
                        <div class="left_tt">栏目类型</div>
                        <div class="cate">
                            <ul>
                                {section name=list loop=$lmlist}
                                <li {if $taskid==$lmlist[list].id} class="current_li" {/if}><a href="{$lmlist[list].url}">{$lmlist[list].name}</a></li>
                                {/section}
                            </ul>
                        </div>
                    </div>
                    <div id="onlineRegister">
                        {include file="inc/online_register.html"}
                    </div>
                    <div id="map">
                        <img src="images/map.jpg" />
                    </div>
                    <div id="contact">
                        {include file="inc/contact.html"}
                    </div>
                </div>
                <div id="right">
                   <div id="path">
                       <h2>{$infocn_type.type_name}</h2>
                       <div class="path">
                           <a href="index.html">首页&nbsp;&gt;&nbsp;</a>
                           <a href="pxzx.html">培训中心&nbsp;&gt;&nbsp;</a>
                           <a href="{$infocn_type.url}">{$infocn_type.type_name}&nbsp;&gt;&nbsp;</a>
                          {$infocn.class_name}
                       </div>
                   </div>
                   <div id="detail">
                   	   {$infocn.content|stripslashes}
                   </div>
                </div>
            </div>
    	</div>
 {include file="inc/buttom.html"}
